<header class="bg-dark fixed-top shadow-none">
  <div class="container-fluid">
    <div class="row justify-content-md-start">
      <div class="col">
        <nav class="navbar navbar-expand-lg bg-dark text-light navbar-dark justify-content-center">
          <div class="container-fluid padding-navbarra ms-0 ps-0 pe-2">
            <button id="btn1" class="btn btn-dark text-muted btn-lg ms-0 ps-1 pe-2 navbar-toggler" dmx-on:click="offcanvas1.show()">

              <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand me-0" href="index.html">
              <img src="assets/images/logo_navbar_pres.svg" class="img-fluid logo-topo logo_topo" width="480">
            </a>
            <form class="d-flex">
              <input class="form-control me-2 form-control-sm" type="search" placeholder="Nº processo" aria-label="Search">
              <button class="btn btn-sm btn-outline-primary" type="submit">Procurar</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
