
<mat-toolbar class="row justify-content-around widget-toolbar me-0" [@AutoHideClientBarAdjust]="isAutohide ? 'up' : 'down'">

  <div class="col pb-0 pt-0">
    <nav class="navbar navbar-expand-lg justify-content-center widget_barra pb-0 pt-0">
      <span class="navbar-text text-light ps-3">
        <img src="assets/images/logo_unicre_widget.svg" class="align-baseline" height="15" [@AutoHideLogo]="isAutohide ? 'show' : 'hide'">

      </span>
      <span class="navbar-text text-light ms-auto ps-3">

        <p class="widget"><i class="fas fa-user"></i>&nbsp; JOÃO COSTA TELES</p>
      </span>
      <span class="navbar-text text-light ps-0">

        <h5 class="widget text-success">&nbsp; |</h5>
      </span>
      <span class="navbar-text text-light ps-3">

        <h5 class="widget"><i class="fas fa-university"></i>&nbsp; NOVO BANCO</h5>
      </span><span class="navbar-text text-light ps-0">

        <h5 class="widget text-success">&nbsp; |</h5>
      </span><span class="navbar-text text-light ps-3">

        <h5 class="widget"><i class="fas fa-thumbtack"></i>&nbsp; PRAÇA DE LONDRES</h5>
      </span>
      <span class="navbar-text text-light ps-0">

        <h5 class="widget text-success">&nbsp; |</h5>
      </span>

      <span class="navbar-text text-light ps-3">

        <h5 class="widget"><i class="far fa-calendar-alt"></i>&nbsp; 02/08/2022 - 14:44:28&nbsp;</h5>
      </span>
      <!--span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span><span class="navbar-text text-light ps-3">
        <img src="assets/images/progress_bar.svg" height="16" class="align-baseline">
      </span-->
    </nav>
  </div>
</mat-toolbar>
<!--<div class="col">
    <nav class="widget-navbar navbar navbar-expand-lg navbar-light justify-content-center">

      <span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="fas fa-user"></i>&nbsp; JOÃO COSTA TELES</h5>
      </span>
      <span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span><span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="fas fa-university"></i>&nbsp; NOVO BANCO</h5>
      </span>
      <span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span>
      <span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="far fa-user"></i>&nbsp; PRAÇA DE LONDRES</h5>
      </span>
      <span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span>
      <span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="far fa-calendar-alt"></i>&nbsp; 02/08/2022 - 14:44:28&nbsp;</h5>
      </span>
    </nav>
  </div>-->

<header class="bg-dark fixed-top" [@AutoHideNavbarAdjust]="isAutohide ? 'hide' : 'show'">
  <div class="container-fluid">
    <div class="row">
      <div class="col ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark pt-3 pb-3 shadow">
          <span class="navbar-text text-light ms-4">
            <button id="btn2" (click)="toggleEvent()" class="btn btn-dark text-muted btn-lg align-self-center ms-0 pt-0 pb-0 ps-0 pe-0">
              <i class="fas fa-bars"></i>
            </button>
          </span>
          <span class="navbar-text text-light">
            <img src="assets/images/logo_navbar_pres.svg" class="img-fluid ms-4" width="470" [@AutoHideLogo]="isAutohide ? 'hide' : 'show'">
          </span>
          <span class="navbar-text text-light ms-auto">
            <form class="d-flex">
              <input class="form-control me-2 form-control-sm" type="search" placeholder="Nº processo" aria-label="Search">
              <button class="btn btn-outline-primary btn-sm ms-1 me-4 pt-2 pb-2" type="submit">Procurar</button>
            </form>
          </span>
          <div id="navbar1_collapse">

          </div>
        </nav>

      </div>
    </div>
  </div>
  <!--<div class="container-fluid">
    <div class="row">
      <div class="col ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark pt-3 pb-3">
          <span class="navbar-text text-light ms-4">
            <button id="btn2" class="btn btn-dark text-muted btn-lg align-self-center ms-0 pt-0 pb-0 ps-0 pe-0" dmx-on:click="offcanvas1.show()">

              <i class="fas fa-bars"></i>
            </button>
          </span>
          <span class="navbar-text text-light">
            <img src="assets/images/logo_navbar_pres.svg" class="img-fluid ms-4" width="470">
          </span>

          <span class="navbar-text text-light ms-auto">
            <form class="d-flex">
              <input class="form-control me-2 form-control-sm" type="search" placeholder="Nº processo" aria-label="Search">
              <button class="btn btn-outline-primary btn-sm ms-1 me-4 pt-2 pb-2" type="submit">Procurar</button>
            </form>
          </span>
          <div id="navbar1_collapse">

          </div>
        </nav>
      </div>
    </div>
  </div>-->
  <div class="counter">

  </div>
</header>

