<table class="table table-success">
  <thead class="text-primary table-primary">
    <tr class="text-center text-primary table-light">
      <th scope="col" class="align-baseline text-primary table-white">{{'client.name'|translate}}</th>
      <th scope="col" class="text-center bg-white">NIF</th>
      <th scope="col" class="text-center bg-white">{{'client.representationPower'|translate}}</th>
      <th scope="col" class="text-center bg-white">{{'client.representationRestrictions'|translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stakeholder of stakeholdersToShow">
      <td class="text-primary text-center">{{stakeholder.stakeholderAcquiring.shortName}}</td>
      <td class="text-primary text-center">{{stakeholder.stakeholderAcquiring.fiscalId}}</td>
      <td class="text-primary text-center"> - </td>
      <td class="text-primary text-center"> - </td>
    </tr>
  </tbody>
</table>
