<form [formGroup]="formConfig" name="formConfig" id="formConfig">
  <div class="row">
         <div class="mt-1 mb-0 pt-0 pb-0 ps-0 pe-0 text-start col-5">
            <p class="titulo-form-simples ps-4">{{'commercialOffer.terminalIdentification'|translate|uppercase}}
            </p>
            <input id="text1" name="name" formControlName="name" type="text" class="form-control campo_form ms-4">
            <p class="titulo-form-simples ps-4">{{'commercialOffer.property'|translate|uppercase}}*:</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light ms-4">
               <span class="navbar-text">
                  <div class="form-check">
                     <input class="form-check-input" type="radio" value="client" id="terminalProperty"
                        formControlName="terminalProperty" name="terminalProperty">
                     <label class="form-check-label radio pe-5"
                        for="terminalProperty">{{'commercialOffer.client'|translate|uppercase}}</label>
                  </div>
               </span>
               <span class="navbar-text">
                  <div class="form-check">
                     <input class="form-check-input" type="radio" value="self" id="terminalProperty"
                        formControlName="terminalProperty" name="terminalProperty">
                     <label class="form-check-label radio" for="terminalProperty">REDUNIQ</label>
                  </div>
               </span>
            </nav>
            <p class="titulo-form-simples ps-4">{{'commercialOffer.terminalType'|translate|uppercase}}*</p>
            <select name="terminalType" formControlName="terminalType" id="select1" class="form-select campo_form ms-4">
               <option *ngFor="let terminal of allTerminals" value={{terminal.code}}>
                  {{terminal.description}}
               </option>
            </select>
            <p class="titulo-form-simples ps-4">{{'commercialOffer.totalTerminal'|translate|uppercase}}*</p>
            <input id="text3" formControlName="terminalAmount" name="terminalAmount" type="text"
               (keypress)="numericOnly($event)" class="form-control campo_form ms-4">
         </div>
         <div class="mt-1 mb-0 pt-0 pb-0 ps-0 pe-0 text-start col-5 offset-1">
            <p class="titulo-form-simples">{{'commercialOffer.communications'|translate|uppercase}}*:</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light ms-0">
               <span class="navbar-text">
                  <div class="form-check">
                     <input class="form-check-input" type="radio" value="client" id="communicationOwnership"
                        name="communicationOwnership" formControlName="communicationOwnership">
                     <label class="form-check-label radio pe-5"
                        for="communicationOwnership">{{'commercialOffer.client'|translate|uppercase}}</label>
                  </div>
               </span>
               <span class="navbar-text">
                  <div class="form-check">
                     <input class="form-check-input" type="radio" value="self" id="communicationOwnership"
                        name="communicationOwnership" formControlName="communicationOwnership">
                     <label class="form-check-label radio" for="communicationOwnership">REDUNIQ</label>
                  </div>
               </span>
            </nav>
            <p class="titulo-form-simples">TIPO&nbsp; {{'commercialOffer.communication'|translate|uppercase}}*</p>
            <select formControlName="communicationType" name="communicationType" id="select2"
               class="form-select campo_form">
               <option *ngFor="let communication of allCommunications" value={{communication.code}}>
                  {{communication.description}}
               </option>
            </select>
         </div>
      </div>
</form>
<form [formGroup]="pricingForm" name="pricingForm" id="pricingForm">
  <div class="col mt-0 mb-0 pt-5 pb-4 ps-1">
    <button id="btn5a2" [disabled]="!formConfig.valid" (click)="loadMensalidades()" class="btn botao_azul btn-lg mt-2 ms-1 me-1"
            wappler-command="editContent">
      {{'commercialOffer.uploadMensal'|translate|uppercase}}&nbsp;&nbsp;<img src="assets/images/move_up_white.svg" style="height: 25px !important; vertical-align: sub;">
    </button>
  </div>
  <div class="col mt-0 mb-0 pt-5 pb-4 ps-1" *ngIf="pricingOptions.length > 1 && pricingAttributeList.length == 0">

    <h5 class="text-primary m-align mt-5 pb-0 ps-3 pe-2">
      <img src="assets/images/calendar_month.svg"
           style="height: 25px !important; vertical-align: sub;">&nbsp;{{'commercialOffer.mensal'|translate|uppercase}}<span class="material-symbols-rounded">
      </span>
    </h5>

    <div class="table-responsive mb-2 ps-2 pe-3">
      <table class="table table-success">
        <thead class="text-primary table-primary">
          <tr class="table-white text-primary">
            <th scope="col" class="text-center text-primary table-light">
              {{'commercialOffer.name'|translate|uppercase}}
            </th>
            <th scope="col" class="text-center bg-white">
              {{'commercialOffer.typology'|translate|uppercase}}
            </th>
            <th scope="col" class="text-center bg-white">
              {{'commercialOffer.selection'|translate|uppercase}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let options of pricingOptions">
            <td class="text-primary text-center">{{options.id}}</td>
            <td class="text-primary text-center">{{options.description}}</td>
            <td class="text-primary text-center">
              <input class="form-check-input" type="checkbox" value="" id="input1" name="input1"
                     (click)="chooseMensalidade(options.id)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-responsive mb-2 ps-2 pe-2 text-center" *ngIf="pricingAttributeList.length > 0">
    <!-- FAZER IF PARA MOSTRAR UMA TABELA OU OUTRA DEPENDENDO DE ONDE CARREGAMOS -->
    <table class="table text-center">
      <thead class="text-primary table-primary text-center">
        <tr class="table-white text-primary text-center">
          <th scope="col" class="text-center text-primary bg-light table-white">
            {{'commercialOffer.terminal'|translate|uppercase}}
          </th>
          <th scope="col" class="text-center bg-light">
            {{'commercialOffer.mensal'|translate|uppercase}}
          </th>
          <th scope="col" class="text-center bg-light">
            {{'commercialOffer.discount'|translate|uppercase}}
          </th>
          <th scope="col" class="text-center bg-light">
            {{'commercialOffer.finalValue'|translate|uppercase}}
          </th>
        </tr>
      </thead>
      <tbody class="text-center align-middle">
        <tr class="text-center align-middle" *ngFor="let pricing of pricingAttributeList"
            formGroupName="{{'formGroupPricing' + pricing.id}}">

          <td class="text-primary text-center pt-0 pb-0" *ngIf="pricing.isVisible">{{pricing.description}}</td>


          <!--<td class="text-primary text-center pt-0 pb-0" *ngIf="pricing.isReadOnly === true">{{pricing.originalValue}}</td>-->
        <td class="text-primary text-center pt-0 pb-0" *ngIf="pricing.isVisible">
          <!-- *ngIf="!pricing.isReadOnly" -->
          <input id="text2" name="text2" type="text"
                 class="micro_campo_tabela texto_centrado ps-0 pe-0 form-control-sm" placeholder="€0,00"
                 formControlName="{{'formControlPricingOriginal'+ pricing.id}}"
                 value="{{pricing.originalValue}}" [attr.disabled]="true">
        </td>

          <td class="text-center align-middle texto_centrado" *ngIf="pricing.isVisible">
            <input id="{{pricing.id}}" name="text2" type="text"
                   class="micro_campo_tabela texto_centrado ps-0 pe-0 form-control-sm" placeholder="€0,00"
                   formControlName="{{'formControlPricingDiscount'+ pricing.id}}" [attr.disabled]="pricing.isReadOnly ? true : null" (keypress)="calculateValue($event)">
          </td>

          <!--<td class="text-primary text-center pt-0 pb-0" *ngIf="pricing.isReadOnly === true">
            {{pricing.finalValue}}
          </td>-->
          <td class="text-primary text-center pt-0 pb-0" *ngIf="pricing.isVisible">
            <!-- *ngIf="!pricing.isReadOnly" -->
            <input id="text2" name="text2" type="text"
                   class="micro_campo_tabela texto_centrado ps-0 pe-0 form-control-sm" placeholder="€0,00"
                   formControlName="{{'formControlPricingFinal'+ pricing.id}}" value="{{pricing.finalValue}}" [attr.disabled]="true">
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="pricingAttributeList.length > 0" class="col mt-0 mb-0 pt-0 pb-4 ps-1">
    <button id="btn5a3" (click)="cancelConfig()" class="btn botao_azul btn-lg mt-2 ms-1 me-1 ps-4 pe-4"
            wappler-command="editContent">
      {{'commercialOffer.cancelConfiguration'|translate|uppercase}}&nbsp;<img src="assets/images/close.svg" style="height: 25px !important; vertical-align: sub;">
    </button>
    <button id="btn5a4" (click)="submit()" class="btn botao_azul btn-lg mt-2 ms-1 me-1 ps-5 pe-5"
            wappler-command="editContent">
      {{'generalKeywords.save'|translate|uppercase}}&nbsp;&nbsp;<img src="assets/images/save.svg" style="height: 25px !important; vertical-align: sub;">
    </button>
  </div>
</form>

