<h1>{{'CODetails'|translate}}</h1>
<br />
<div class="form">
  <form #FormCommercialOffer="ngForm" (ngSubmit)="submit(FormCommercialOffer)">
    <label for="ConfigName"><b>{{'COConfigName'|translate}}</b></label>
    <input #configId="ngModel" required minlength="5" maxlength="100" type="text" name="configId" class="form-control" [(ngModel)]="commOffer.configID">
    <span *ngIf="configId.touched && configId.invalid" class="error-block">
      <span>{{'WarningInvalid'|translate}}:</span>
      <span *ngIf="configId.errors?.['required']"> {{'WarningMandatory'|translate}}</span>
      <span *ngIf="configId.errors?.['minlength'||'maxlength']">{{'Warning5to100char'|translate}}</span>
    </span>
    <br />
    <br />
    <label for="ConfigName"><b>{{'CONumberTerminals'|translate}}</b></label>
    <input #nrTerminals="ngModel" required minlength="5" maxlength="100" type="text" name="nrTerminals" class="form-control" [(ngModel)]="numberofTerminals">
    <span *ngIf="nrTerminals.touched && nrTerminals.invalid" class="error-block">
      <span>{{'WarningInvalid'|translate}}</span>
      <span *ngIf="nrTerminals.errors?.['required']"> {{'WarningMandatory'|translate}}</span>
      <span *ngIf="nrTerminals.errors?.['minlength'||'maxlength']">{{'Warning5to100char'|translate}}</span>
    </span>
    <button class="btn btn-primary" type="button" (click)="incrementCounter()">+</button>
    <button class="btn btn-primary" type="button" (click)="decrementCounter()">-</button>
    <br />
    <br />
    <label for="solutionType"><b>{{'COTypeSolutions'|translate}}</b></label>
    <div *ngFor="let selectionSolutionType of selectionsSolutionType">
      <input type="radio" name="selectedSolutionType" value="{{selectionSolutionType}}" [(ngModel)]="commOffer.solutionType" />{{selectionSolutionType}}
    </div>
    <br />
    <br />
    <label for="brands"><b>{{'COBrands'|translate}}</b></label>
    <div *ngFor="let selectedBrand of selectedBrands; let idx = index">
      <input type="checkbox" value="{{selectedBrand.fieldName}}" name="{{selectedBrand}}" [checked]="selectedBrand.selected" [disabled]="selectedBrand.editable" (change)="onChangeBrand($event)" />{{selectedBrand.fieldName}}
    </div>
    <br />
    <label for="package"><b>{{'COPackages'|translate}}</b></label>
    <div *ngFor="let selectedPackage of selectedPackages; let idx = index">
      <input type="checkbox" value="{{selectedPackage.fieldName}}" name="{{selectedPackage}}" [checked]="selectedPackage.selected" [disabled]="selectedPackage.editable" (change)="onChangePackage($event)" />{{selectedPackage.fieldName}}
    </div>
    <br />
    <label for="additionalInfo"><b>{{'COAdditionalInfo'|translate}}</b></label>
    <div *ngFor="let selectedAdditionalInfo of selectedAdditionalInfos; let idx = index">
      <input type="checkbox" value="{{selectedAdditionalInfo.fieldName}}" name="{{selectedAdditionalInfo}}" [checked]="selectedAdditionalInfo.selected" [disabled]="selectedAdditionalInfo.editable" (change)="onChangeAdditionalInfo($event)" />{{selectedAdditionalInfo.fieldName}}
    </div>
    <br />
    <div class="form-group col-12">
      <button type="submit" class="btn btn-primary mr-2">{{'Continue'|translate}}</button>
    </div>
  </form>
</div>

<div class="form-group col-12">
  <button (click)="onCickCancel()" class="btn btn-primary">{{'Cancel'|translate}}</button>
</div>
<div class="form-group col-12">
  <button (click)="onCickDelete()" class="btn btn-primary">{{'Eliminate'|translate}}</button>
</div>

