<h1>{{'COPerStore'|translate}}</h1>
<br />
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="comercialOffers">
  <thead>
    <tr>
      <th>{{'COName'|translate}}</th>
      <th>{{'COTypeSolutions'|translate}}</th>
      <th>{{'CONumberTerminals'|translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let comercialOffer of comercialOffers" [routerLink]="['/commercial-offert-detail/', stroreId, comercialOffer.id]">
      <td>{{ comercialOffer.configID }}</td>
      <td>{{ comercialOffer.solutionType }}</td>
      <td>{{ comercialOffer.numberOfTerminals }}</td>
    </tr>
  </tbody>
</table>


<p><b>{{'COReplicateProduts'|translate}}</b></p>
<div *ngFor="let selectionReplicate of selectionsReplicate; let idx = index">
  <input type="radio" name="selectedReplicate" value="{{selectionReplicate}}" [checked]="(idx === 0)" (change)="radoChangehandler($event)" />{{selectionReplicate}}
</div>
<form #FormCommercialOffer="ngForm" (ngSubmit)="submit(FormCommercialOffer)">
  <div *ngIf="selectedOption==='Não'">
  </div>
  <div *ngIf="selectedOption==='Sim'">
    <p><b>{{'COSelectStore'|translate}}</b></p>
    <select replicateStore name="replicateStore" [(ngModel)]="storeToReplicate">
      <option *ngFor="let store of stores" [value]="store.id">
        {{store.nameEstab}}
      </option>
    </select>

    <div class="form-group col-12">
      <br />
      <button type="submit" class="btn btn-primary mr-2">{{'Confirm'|translate}}</button>
    </div>
    <br />
  </div>
  <div *ngIf="selectedOption==='Não'">
    <br />
    <button (click)="onCickAdd()" class="btn btn-primary">{{'AddConf'|translate}}</button>
    <br />
  </div>
  <br />
</form>

<button (click)="onCickReturn()" class="btn btn-primary">{{'EndStoresConf'|translate}}</button>
