<h1>Oferta Comercial Por Loja</h1>
<br />
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="comercialOffers">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo de solução</th>
      <th>Número de terminais</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let comercialOffer of comercialOffers" [routerLink]="['/commercial-offert-detail/', stroreId, comercialOffer.id]">
      <td>{{ comercialOffer.configID }}</td>
      <td>{{ comercialOffer.solutionType }}</td>
      <td>{{ comercialOffer.numberOfTerminals }}</td>
    </tr>
  </tbody>
</table>


<p><b>Pretende replicar produtos de outros establecimentos?</b></p>
<div *ngFor="let selectionReplicate of selectionsReplicate; let idx = index">
  <input type="radio" name="selectedReplicate" value="{{selectionReplicate}}" [checked]="(idx === 0)" (change)="radoChangehandler($event)" />{{selectionReplicate}}
</div>
<form #FormCommercialOffer="ngForm" (ngSubmit)="submit(FormCommercialOffer)">
  <div *ngIf="selectedOption==='Não'">
  </div>
  <div *ngIf="selectedOption==='Sim'">
    <p><b>Selecione a loja que pretende considerar a mesma informação dos produtos( Loja de Representação):</b></p>
    <select replicateStore name="replicateStore" [(ngModel)]="storeToReplicate">
      <option *ngFor="let store of stores" [value]="store.id">
        {{store.nameEstab}}
      </option>
    </select>

    <div class="form-group col-12">
      <br />
      <button type="submit" class="btn btn-primary mr-2">Confirmar</button>
    </div>
    <br />
  </div>
  <div *ngIf="selectedOption==='Não'">
    <br />
    <button (click)="onCickAdd()" class="btn btn-primary">Adicionar Configuração</button>
    <br />
  </div>
  <br />
</form>

<button (click)="onCickReturn()" class="btn btn-primary">Concluir Configuração da loja</button>
