<footer class="bg-primary">
    <div class="container bg-primary">
      <div class="row">
        <div class="col-xxl-4">
          <div class="row">
            <img src="assets/images/logo_fundo.svg" class="img-fluid" width="340">
          </div>
        </div>
        <div class="col col-xxl">
          <div class="row">
            <div class="col col-xxl-12">
              <img src="assets/images/pipe.JPG" height="60" width="0">
            </div>
            <div class="col col-xxl-12">
              <div class="row">
                <div class="col-xxl offset-xxl-4 ms-xxl-0 me-xxl-2 col-xxl-2">
                  <p class="text-xxl-center menu-footer " dmx-on:click="">Termos de utilização</p>
                </div>
                <div class="col-xxl ms-xxl-2 me-xxl-2 col-xxl-2 menu_footer">
                  <p class="text-xxl-center menu-footer " dmx-on:click="">Politica de privacidade</p>
                </div>
                <div class="col-xxl ms-xxl-2 me-xxl-2 col-xxl-2">
                  <p class="text-xxl-center menu-footer" dmx-on:click="">Livro de reclamações</p>
                </div>
                <div class="col-xxl ms-xxl-2 me-xxl-2 col-xxl-2">
                  <p class="text-xxl-center menu-footer " dmx-on:click="">Checklist onboarding</p>
                </div>
                <div class="col-xxl ms-xxl-2 me-xxl-2 col-xxl-2">
                  <p class="text-xxl-center menu-footer">Contactos Unicre</p>
                </div>
              </div>
            </div>
            <div class="col col-xxl-12">
              <p class="text-success style14 copyright-footer text-xxl-start">UNICRE © copyright 2022. Todos os direitos
                reservados | Developed by SIBS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>