<h1>Configuração dos Terminais</h1>
<br />
<div class="form">
  <p><b>EAT Unicre?</b></p>
  <div *ngFor="let selectionReplicate of selectionsReplicate; let idx = index">
    <input type="radio" name="selectedReplicate" value="{{selectionReplicate}}" [checked]="(idx === 0)" (change)="radoChangehandler($event)" />{{selectionReplicate}}
  </div>
  <br />
  <form #FormCommercialOffer="ngForm" (ngSubmit)="submit(FormCommercialOffer)">
    <div *ngIf="selectedOption==='Sim'">
      <label for="terminalType"><b>Tipo de terminal:</b></label>
      <br />
      <select #terminalType name="terminalType" [(ngModel)]="commOffer.terminalType">
        <option *ngFor="let type of selectionsTerminalType" [value]="type">
          {{type}}
        </option>
      </select>
      <br />
      <br />
      <label for="communicationType"><b>Tipo de comunucação:</b></label>
      <br />
      <select #terminalType name="communicationType" [(ngModel)]="commOffer.communicationType">
        <option *ngFor="let comm of selectionsCommunicationType" [value]="comm">
          {{comm}}
        </option>
      </select>
      <br />
      <br />
    </div>
    <div *ngIf="selectedOption==='Não'">
      <b>Os terminais serão defenidos com a sua entidade de apoio ao terminal</b>
      <br />
      <br />
    </div>
    <div class="form-group col-12">
      <button type="submit" class="btn btn-primary mr-2">Guardar</button>
    </div>
  </form>
</div>
