<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <form [formGroup]="form" name="form" id="form" (ngSubmit)="submit()">
   <div class="row">
      <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
         <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
            <span class="navbar-text text-light">
               <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
            </span>
            <span class="navbar-text">
               <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">{{'commercialOffer.title'|translate|uppercase}}</h5>
            </span>
         </nav>
      </div>
      <div class="offset-1 col-10 mt-1 mb-0 pt-0 pb-0 ps-0 pe-0">         <!--ANTES offset-1 bg-white align-self-center col-10 mt-0 pt-2 ps-0-->
        <h2 class="text-primary mt-5 pb-2 ps-0 m-align">       <!--ps-2-->
          <img src="assets/images/store_blue.svg" class="img_add">&nbsp;{{'stores.title'|translate}}
        </h2>
            <app-store-table [submissionId]="submissionId" [processNumber]="processNumber" [isCommercialOffer]=true [currentStore]="currentStore" [currentIdx]="currentIdx" (selectedStoreEmitter)="selectStore($event)"></app-store-table>
     </div>

      <div class="ms-0 me-0 ps-0 pe-5 col-10 offset-2">
         <p class="titulo-form-simples" wappler-empty="undefined" wappler-command="editContent"></p>
      </div>

      <div [hidden]="currentStore == null" class="offset-1 col-10 mt-1 mb-0 pt-0 pb-0 ps-0 pe-0">
         <!-- accordion -->
         <div class="accordion1 accordion-flush" id="accordionFlushExample">
            <div class="accordion1-item">
               <h2 class="accordion1-header" id="flush-headingOne">
                  <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                     <span class="material-symbols-outlined icon-accordion">
                        <img src="assets/images/shopping_cart.svg" />
                     </span>
                     &nbsp;&nbsp;{{'commercialOffer.relation'|translate|uppercase}}
                  </button>
               </h2>
               <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="row ps-2">
                     <div class="col-7 ms-0 me-0 pt-2 ps-3 pe-0">
                        <p class="titulo-form-simples" wappler-empty="undefined" wappler-command="editContent"></p>
                        <p class="titulo-form-simples mb-3" wappler-command="editContent">{{'commercialOffer.replicate'|translate}}</p>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 pb-4">
                           <span class="navbar-text">
                              <div class="form-check">
                                 <input class="form-check-input" type="radio" [value]=true id="radio1" formControlName="replicateProducts" name="replicateProducts" (click)="changeReplicateProducts(true)">
                                 <label class="form-check-label radio pe-5" for="radio1"
                                    wappler-command="editContent">{{'generalKeywords.yes'|translate|uppercase}}</label>
                              </div>
                           </span>
                           <span class="navbar-text">
                              <div class="form-check">
                                 <input class="form-check-input" type="radio" [value]=false id="radio1" formControlName="replicateProducts" name="replicateProducts" (click)="changeReplicateProducts(false)">
                                 <label class="form-check-label radio" for="radio1"
                                    wappler-command="editContent">{{'generalKeywords.no'|translate|uppercase}}</label>
                              </div>
                           </span>
                        </nav>
                     </div>
                     <div class="col-7 ms-0 me-0 ps-3 pe-0" *ngIf="replicateProducts">
                        <p class="titulo-form-simples pb-4" wappler-command="editContent">{{'commercialOffer.selectStore'|translate}}:</p>
                        <input select="" id="select1" class="form-select  campo_form" formControlName="store">
                        <p class="titulo-form-simples" wappler-empty="undefined" wappler-command="editContent"></p>
                     </div>

                     <div class="col-7 ms-0 me-0 pt-2 ps-3 pe-0">
                        <p class="titulo-form-simples" wappler-empty="undefined" wappler-command="editContent"></p>
                        <p class="titulo-form-simples mb-3" wappler-command="editContent">{{'commercialOffer.EATUnicre'|translate}}</p>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 pb-4">
                           <span class="navbar-text">
                              <div class="form-check">
                                 <input (click)="changeUnicre(true)" class="form-check-input" type="radio" [value]=true id="radio2" formControlName="isUnicre" name="isUnicre">
                                 <label class="form-check-label radio pe-5" for="radio2"
                                    wappler-command="editContent">{{'generalKeywords.yes'|translate|uppercase}}</label>
                              </div>
                           </span>
                           <span class="navbar-text">
                              <div class="form-check">
                                 <input (click)="changeUnicre(false)" class="form-check-input" type="radio" [value]=false id="radio2" formControlName="isUnicre" name="isUnicre">
                                 <label class="form-check-label radio" for="radio2"
                                    wappler-command="editContent">{{'generalKeywords.no'|translate|uppercase}}</label>
                              </div>
                           </span>
                        </nav>
                     </div>
                     <div *ngIf="isUnicre == false" class="col-7 ms-0 me-0 ps-3 pe-0">
                        <p class="titulo-form-simples pb-4" wappler-command="editContent">{{'commercialOffer.registrationTerminalNumber'|translate}}:</p>
                        <input id="text1" name="text1" type="text" class="form-control campo_form">
                        <p class="titulo-form-simples" wappler-empty="undefined" wappler-command="editContent"></p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="accordion1-item">
               <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                     <span class="material-symbols-outlined icon-accordion">
                        <img src="assets/images/category.svg" />
                     </span>
                     &nbsp;&nbsp;{{'commercialOffer.commercialPack'|translate|uppercase}}
                  </button>
               </h2>
               <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <!-- *ngFor="let pack of packsToShow" na div debaixo -->
                 <div class="row ps-2" >
                   <div class="ms-0 me-0 pt-2 ps-3 pe-0 col-12">
                     <p class="titulo-form-simples" wappler-empty="undefined" wappler-command="editContent"></p>
                     <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0 pb-3">
                       <span class="navbar-text">
                         <div class="form-check">
                           <input class="form-check-input" type="radio" value="simple" id="radio3" formControlName="productPackKind" name="productPackKind">
                           <label class="form-check-label radio pe-5" for="radio3"
                                  wappler-command="editContent">{{'commercialOffer.traditional'|translate|uppercase}}</label>
                         </div>
                       </span>
                       <span class="navbar-text">
                         <div class="form-check">
                           <input class="form-check-input" type="radio" value="advanced" id="radio3" formControlName="productPackKind" name="productPackKind">
                           <label class="form-check-label radio" for="radio3"
                                  wappler-command="editContent">SMART</label>
                         </div>
                       </span>
                     </nav>
                   </div>
                   <hr>
                   <!-- ATRIBUTOS DO PACOTE -->
                   <!-- *ngFor="let packDetail of pack.packDetails" na div debaixo -->
                   <div class="align-self-start col-3 mt-0 ms-0 me-0 pt-0 ps-3 pe-0"  ><!--formGroupName="{{'formGroup' + packDetail.id}}" -->
                     <div>
                       <p class="titulo-form-simples align-self-start mb-1" wappler-command="editContent"></p><!--{{packDetail.description}}-->
                       <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column justify-content-start text-start mb-1 pb-0" > <!-- LISTAR OS ATRIBUTOS *ngFor="let attribute of packDetail.attributes" [checked]="attribute.isSelected"-->
                         <span class="navbar-text text-start align-self-start">
                            <div class="form-check" ><!--*ngIf="attribute.isVisible" -->
                             <input class="form-check-input" type="checkbox"  id="input1" name="input1" > <!--formControlName="{{'formControl'+ attribute.id}}" [attr.disabled]="attribute.isReadOnly ? true : null" -->
                             <label class="form-check-label texto_check_box" for="input1"></label> <!--{{attribute.description}}-->
                             <div ><!--*ngIf="attribute.isSelected"-->
                               <div > <!--*ngFor="let bundle of attribute.bundles" formGroupName="{{'formGroup' + bundle.id}}"-->
                                 <!-- LISTAR OS BUNDLES DOS ATRIBUTOS -->
                                 <p class="titulo-form-simples align-self-start mb-1" wappler-command="editContent"></p><!--{{bundle.description}}-->
                                 <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column justify-content-start text-start mb-1 pb-0" > <!--*ngFor="let bundleAttribute of bundle.attributes"-->
                                   <span class="navbar-text text-start align-self-start">
                                     <div class="form-check" > <!--*ngIf="bundleAttribute.isVisible"-->
                                       <input class="form-check-input" type="checkbox" ><!--formControlName="{{'formControl'+ bundleAttribute.id}}" id="input1" name="input1" [attr.disabled]="bundleAttribute.isReadOnly ? true : null" [checked]="attribute.isSelected"-->
                                       <label class="form-check-label texto_check_box" for="input1"></label><!--{{bundleAttribute.description}}-->
                                     </div>
                                   </span>
                                 </nav>
                               </div>
                             </div>
                             </div>
                         </span>
                       </nav>
                     </div>
                     <!--<p class="titulo-form-simples align-self-start mb-1" wappler-command="editContent">BRANDS</p>
                     <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column justify-content-start text-start mb-1 pb-0">
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input1" name="input1">
                           <label class="form-check-label texto_check_box" for="input1">VISA</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input2" name="input2">
                           <label class="form-check-label texto_check_box" for="input2">MASTERCARD</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input3" name="input3">
                           <label class="form-check-label texto_check_box" for="input3">DINERS</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input4" name="input4">
                           <label class="form-check-label texto_check_box" for="input4">JCB</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input5" name="input5">
                           <label class="form-check-label texto_check_box" for="input5">UPI</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input6" name="input6">
                           <label class="form-check-label texto_check_box" for="input6">MB</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input7" name="input7">
                           <label class="form-check-label texto_check_box" for="input7">MBWAY</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input8" name="input8">
                           <label class="form-check-label texto_check_box" for="input8">WALLETS</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input9" name="input9">
                           <label class="form-check-label texto_check_box" for="input9">GLOBAL WHALESALE</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input10" name="input10">
                           <label class="form-check-label texto_check_box" for="input10">MEAL VOUCHER</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input11" name="input11">
                           <label class="form-check-label texto_check_box" for="input11">
                             TICKET
                             RESTAURANTE
                           </label>
                         </div>
                       </span>
                     </nav>-->
                   </div>
                   <!--<div class="ms-0 me-0 pt-2 ps-3 pe-0 align-self-start col-3">
                     <p class="titulo-form-simples align-self-start mb-1" wappler-command="editContent">
                       Bundle/
                       Unbundle
                     </p>
                     <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column justify-content-start text-start mb-1 pb-0">
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input12" name="input12">
                           <label class="form-check-label texto_check_box" for="input12">GEOGRAFIA</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input12" name="input12">
                           <label class="form-check-label texto_check_box" for="input12">TIPO DE CARTÃO</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input12" name="input12">
                           <label class="form-check-label texto_check_box" for="input12">TIPO DE CLIENTE</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input12" name="input12">
                           <label class="form-check-label texto_check_box" for="input12">MARCA</label>
                         </div>
                       </span>
                     </nav>

                   </div>

                   <div class="ms-0 me-0 pt-2 ps-3 pe-0 align-self-start col-3">
                     <p class="titulo-form-simples align-self-start mb-1" wappler-command="editContent">
                       Informações
                       Adicionais
                     </p>
                     <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column justify-content-start text-start mb-1 pb-0">
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input14" name="input14">
                           <label class="form-check-label texto_check_box" for="input14">GEOGRAFIA</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input14" name="input14">
                           <label class="form-check-label texto_check_box" for="input14">TIPO DE CARTÃO</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input14" name="input14">
                           <label class="form-check-label texto_check_box" for="input14">TIPO DE CLIENTE</label>
                         </div>
                       </span>
                       <span class="navbar-text text-start align-self-start">
                         <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="input14" name="input14">
                           <label class="form-check-label texto_check_box" for="input14">MARCA</label>
                         </div>
                       </span>
                     </nav>
                   </div>-->

                   <!-- MAIS DETALHES -->
                   <div class="ms-0 me-0 pt-2 ps-3 pe-0 align-self-start col-3">
                     <span class="navbar-text me-2 align-self-center ms-0 me-0">
                       <button id="btn5a"
                               class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3"
                               wappler-command="editContent" (click)="changeShowMore()">
                         <img [src]="showMore ? 'assets/images/angle-up-solid.svg' : 'assets/images/angle-down-solid.svg'" style="height: 25px !important; vertical-align: sub;" />
                         {{showMore ? 'MENOS DETALHE' : 'MAIS DETALHE'}}
                       </button>
                     </span>
                     <ng-container *ngIf="showMore">
                       
                     </ng-container>
                   </div>
                 </div>
               </div>
            </div>


            <div class="accordion1-item">
               <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                     <span class="material-symbols-outlined icon-accordion">
                        <img src="assets/images/point_of_sale.svg" />
                     </span>
                     &nbsp;&nbsp;{{'commercialOffer.terminalConfig'|translate|uppercase}}
                  </button>
               </h2>
               <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                 <div class="table-responsive mb-2 ps-2 pe-3">
                   <mat-table [dataSource]="storeEquipMat" class="table" matSort #storeEquipSort="matSort">
                     <ng-container matColumnDef="equipmentOwnership">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>  {{'commercialOffer.terminalIdentification'|translate|uppercase}} </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip"> {{storeEquip.equipmentOwnership}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="equipmentType">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>  {{'commercialOffer.terminalType'|translate|uppercase}} </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip"> {{storeEquip.equipmentType}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="communicationType">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>  {{'commercialOffer.communicationType'|translate|uppercase}} </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip"> {{storeEquip.communicationType}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="quantity">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>  {{'commercialOffer.number'|translate|uppercase}} </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip"> {{storeEquip.quantity}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="monthlyFee">
                       <mat-header-cell *matHeaderCellDef mat-sort-header>  {{'commercialOffer.mensal'|translate|uppercase}} <br /> ({{'commercialOffer.TPA'|translate|uppercase}}) </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip"> {{storeEquip.quantity}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="delete">
                       <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip">
                         <span (click)="deleteConfiguration(storeEquip)" class="material-symbols-rounded delete-icon" [ngStyle]="{'cursor': (returned != 'consult') ? 'pointer' : ''}">
                           <img src="assets/images/delete_blue.svg">
                         </span>
                       </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="edit">
                       <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                       <mat-cell *matCellDef="let storeEquip">
                         <span (click)="editConfiguration(storeEquip)" class="material-symbols-rounded edit-icon" [ngStyle]="{'cursor': (returned != 'consult') ? 'pointer' : ''}">
                           <img src="assets/images/edit_square.svg" title="Edit">
                         </span>
                       </mat-cell>
                     </ng-container>
                     <mat-header-row *matHeaderRowDef="storeEquipColumns"></mat-header-row>
                     <mat-row *matRowDef="let row; columns: storeEquipColumns;"></mat-row>
                   </mat-table>
                   <mat-paginator #storeEquipPaginator [pageSizeOptions]="[3, 10, 20]"
                                  showFirstLastButtons>
                   </mat-paginator>
                   <div class="col mt-0 mb-0 pt-2 pb-4 ps-2">
                     <button id="btn5a2"
                             class="btn botao_azul btn-lg mt-2 ms-1 me-1" (click)="createNewConfiguration()" [disabled]="disableNewConfiguration" wappler-command="editContent">
                       {{'commercialOffer.newConfiguration'|translate|uppercase}}&nbsp;&nbsp;<img src="assets/images/dashboard_customize.svg"
                                                                                                  style="height: 25px !important; vertical-align: sub;">
                     </button>
                   </div>
                 </div>
               </div>
            </div>

            <div class="accordion1-item">
               <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                     <span class="material-symbols-outlined icon-accordion">
                        <img src="assets/images/sell.svg" />
                     </span>
                     &nbsp;&nbsp;{{'commercialOffer.price'|translate|uppercase}}
                  </button>
               </h2>
               <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample">

                 <div class="table-responsive mb-2 ps-2 pe-3">
                   <!--<table class="table table-success">
                     <thead class="text-primary table-primary">
                       <tr class="table-white text-primary">
                         <th scope="col" class="text-center text-primary table-light">{{'commercialOffer.name'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.typology'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.selection'|translate|uppercase}}</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td class="text-primary text-center">Pacote Comercial 1</td>
                         <td class="text-primary text-center">Standard</td>
                         <td class="text-primary text-center">
                           <input class="form-check-input" type="checkbox" value="" id="input1" name="input1">
                         </td>

                       </tr>
                       <tr>
                         <td class="text-primary text-center">Pacote Comercial 2</td>
                         <td class="text-primary text-center">Campanha em vigor</td>
                         <td class="text-primary text-center">
                           <input class="form-check-input" type="checkbox" value="" id="input2" name="input2">
                         </td>

                       </tr>
                       <tr>
                       </tr>
                       <tr>
                       </tr>
                       <tr>
                       </tr>
                     </tbody>
                   </table>-->
                   <table class="table table-success">
                     <thead class="text-primary table-primary">
                       <tr class="table-white text-primary">
                         <th scope="col" class="text-center text-primary table-light">{{'commercialOffer.package'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.denomination'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.minimumValue'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.maximumValue'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.value'|translate|uppercase}}</th>
                         <th scope="col" class="text-center bg-white">{{'commercialOffer.TSC'|translate|uppercase}}</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td class="text-primary text-center">Tarifa</td>
                         <td class="text-primary text-center">Visa Electron Domestico</td>
                         <td class="text-primary text-center">0.05</td>
                         <td class="text-primary text-center">
                           <input type="text" class="micro_campo_tabela texto_centrado ps-0 pe-0 form-control-sm" placeholder="0.0" />
                         </td>
                         <td class="text-primary text-center">0.35€</td>
                         <td class="text-primary text-center">0.8%</td>
                       </tr>
                       <tr>
                         <td class="text-primary text-center">Tarifa</td>
                         <td class="text-primary text-center">Visa Electron EEA</td>
                         <td class="text-primary text-center">0.05</td>
                         <td class="text-primary text-center">
                           <input type="text" class="micro_campo_tabela texto_centrado ps-0 pe-0 form-control-sm" placeholder="9.9" />
                         </td>
                         <td class="text-primary text-center">0.35€</td>
                         <td class="text-primary text-center">0.9%</td>
                       </tr>
                       <tr>
                         <td class="text-primary text-center">Tarifa</td>
                         <td class="text-primary text-center">Visa Electron NEEA</td>
                         <td class="text-primary text-center">0.05</td>
                         <td class="text-primary text-center">
                           <input type="text" class="micro_campo_tabela texto_centrado ps-0 pe-0 form-control-sm" placeholder="9.9" />
                         </td>
                         <td class="text-primary text-center">0.35€</td>
                         <td class="text-primary text-center">1.0%</td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
               </div>
            </div>
         </div>
      </div>
      <div class="offset-1 bg-white align-self-center col-10 mt-4 ps-0">
         <div class="col ms-0 ps-0">
            <hr>
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
               <span class="navbar-text me-2 align-self-center ms-0 me-0">
                  <button [routerLink]="['/']" id="btn5a1"
                     class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
                     wappler-command="editContent">{{'generalKeywords.exit'|translate|uppercase}}&nbsp;
                     <img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">
                  </button><button id="btn5a1" [routerLink]="['/']"
                     class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3 pe-3"
                     wappler-command="editContent">{{'generalButtons.cancel'|translate|uppercase}}&nbsp;<img src="assets/images/exit_to_app.svg"
                        style="height: 25px !important; vertical-align: sub;"></button><button
                     [routerLink]="['/comprovativos']" id="btn5a1"
                     class="btn botao_azul center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3"
                     wappler-command="editContent"><img src="assets/images/arrow_back_ios_white.svg"
                        style="height: 25px !important; vertical-align: sub;">{{'generalKeywords.back'|translate|uppercase}}&nbsp;</button>
                  <button type="submit" id="btn5a1"
                     class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3"
                     wappler-command="editContent">{{'generalKeywords.next'|translate|uppercase}}&nbsp;<img src="assets/images/arrow_forward_ios.svg"
                        style="height: 25px !important; vertical-align: sub;"></button>
               </span>
            </nav>
         </div>
      </div>

   </div>
  </form>
</div>
