<p>commercial-offer-list works!</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stores">
  <thead>
    <tr>
      <th>{{'NameStores'|translate}}</th>
      <th>{{'ActivityStores'|translate}}</th>
      <th>{{'SubActivityStores'|translate}}</th>
      <th>{{'ZoneStores'|translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let store of stores" [routerLink]="['/commercial-offert-detail/', store.id]">
      <td>{{ store.nameEstab}}</td>
      <td>{{ store.activityEstab }}</td>
      <td>{{ store.subActivityEstab }}</td>
      <td>{{ store.zoneEstab }}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary">Continuar</button>
