<div class="d-flex justify-content-around shadow-none justify-content-center me-0 mb-0 pt-0 pb-0 ps-0 pe-0">
    <mat-toolbar class="row mat-toolbar-nav-menu me-0 mb-0 pt-0 pb-0 ps-0 pe-0"
        [@AutoHideSidenavAdjustBarraTopo]="isAutohideBarra ? 'up' : 'down'">
        <nav
            class="navbar navbar-light bg-primary justify-content-around navbar-expand pt-0 pb-0 shadow justify-content-center">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-around flex-wrap align-content-around shadow-none">
                <li class="nav-item text-center text-lg-center text-center align-self-start mt-4">
                    <img src="assets/images/circle-solid.svg" class="icone-menu-secundario" style="height: 25px !important;"><a
                        class="nav-link active text-white  texto-menu-secundario" aria-current="page" [routerLink]="['/client']"
                        data-bs-toggle="button">COMERCIANTE</a>
                </li>
                <li class="nav-item align-self-center">
                    <img src="assets/images/angle-right-solid.svg" class="seta_direita" style="height: 30px !important;">
                </li>
                <li class="nav-item text-center align-self-start align-self-center mt-5">
                    <img src="assets/images/circle-regular.svg" class="icone-menu-secundario-inactivo" style="height: 25px !important;"><a
                        class="nav-link texto-menu-secundario-inativo text-success" [routerLink]="['/comprovativos']">COMPROVATIVOS</a>
                </li>
                <li class="nav-item align-self-center">
                    <img src="assets/images/angle-right-solid.svg" class="seta_direita"  style="height: 30px !important;">
                </li>
                <li class="nav-item text-center align-self-start align-self-center mt-5">
                    <img src="assets/images/circle-regular.svg" style="height: 25px !important;"><a
                        class="nav-link texto-menu-secundario-inativo text-success" [routerLink]="['/stakeholders']">INTERVENIENTES</a>
                </li>
                <li class="nav-item align-self-center">
                    <img src="assets/images/angle-right-solid.svg"  class="seta_direita" style="height: 30px !important;">
                </li>
                <li class="nav-item text-center align-self-start align-self-center mt-5">
                    <img src="assets/images/circle-regular.svg" style="height: 25px !important;"><a
                        class="nav-link texto-menu-secundario-inativo text-success">LOJAS</a>
                </li>
                <li class="nav-item align-self-center">

                    <img src="assets/images/angle-right-solid.svg"  class="seta_direita" style="height: 30px !important;">
                </li>
                <li class="nav-item text-center align-self-start align-self-center  mt-5">
                    <img src="assets/images/circle-regular.svg" style="height: 25px !important;"><a
                        class="nav-link texto-menu-secundario-inativo text-success">OFERTA COMERCIAL</a>
                </li>
                <li class="nav-item align-self-center">

                    <img src="assets/images/angle-right-solid.svg"  class="seta_direita" style="height: 30px !important;">
                </li>
                <li class="nav-item text-center align-self-start align-self-center  mt-5">
                    <img src="assets/images/circle-regular.svg" style="height: 25px !important;"><a
                        class="nav-link texto-menu-secundario-inativo text-success">INFO DECLARATIVA</a>
                </li>
            </ul>
        </nav>

    </mat-toolbar>
</div>