<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
    <div class="row ">
        <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
        <div class="row ms-0 me-0" style="margin-bottom: 50px;">
            <form [formGroup]="formContactos">
                <div class="ms-0 me-0 ps-0 pe-0 col-7">
                    <div class="row" formGroupName="phone">
                        <div class="col-4">
                            <p class="titulo-form-simples mt-0">{{'declarativeInformation.indicative'|translate}}:</p>
                            <select class="form-select" #phone1CountryCode formControlName="countryCode"
                                (click)="changeListElement(phone1CountryCode, $event)" id="countryCode"
                                [attr.disabled]="returned === 'consult' ? true : null">
                                <option></option>
                                <option *ngFor="let country of internationalCallingCodes"
                                    value={{country.internationalCallingCode}}>
                                    {{country.description}} ({{country.internationalCallingCode}}) </option>
                            </select>
                        </div>
                        <div class="col">
                            <p class="titulo-form-simples mt-0">
                                {{'declarativeInformation.cellPhone'|translate|uppercase}}/{{'declarativeInformation.phone'|translate|uppercase}}:*
                            </p>
                            <input (keypress)="numericOnly($event)" #phone1 name="phoneNumber" type="text" id="phoneNumber" class="form-control" 
                                formControlName="phoneNumber" [readonly]="returned === 'consult'">
                            <div class="alert alert-danger"
                                *ngIf="(phone.touched || phone.dirty) && !phone.valid && phone.errors.hasOwnProperty('invalidNumber')">
                                {{'errorMessages.invalidPhone'|translate}}
                            </div>
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="(phone.touched || phone.dirty) && !phone.valid && phone.errors.hasOwnProperty('missingValue')">
                            {{'errorMessages.bothFieldsPhone'|translate}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="titulo-form-simples mt-0">EMAIL*</p>
                        <input #emailClient name="emailClient" type="text" id="emailClient" class="form-control"
                            formControlName="email" [readonly]="returned === 'consult'">
                        <div class="alert alert-danger"
                            *ngIf="(emailClient.touched || emailClient.dirty)">
                            {{'errorMessages.isRequired'|translate}}
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="emailValid.errors?.['email']">
                        {{'errorMessages.invalidEmail'|translate}}
                      </div>
                </div>
            </form>
        </div>
