<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
    <div class="row ms-0 me-0">
      <form [formGroup]="form" name="form">
        <div class="col-7 ms-0 me-0 ps-0 pe-0 form-group">
          <p class="titulo-form-simples mb-1">{{'declarativeInformation.stakeholder.pep.isPEP'|translate}}:</p>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-text">
              <div class="form-check"><label
                  class="form-check-label radio pe-5">{{'generalKeywords.yes'|translate|uppercase}}
                  <input class="form-check-input" name="pep12months" type="radio" value="true"
                    formControlName="pep12months" id="pep12months" (change)="onChangeValues($event)">
                </label>
              </div>
            </span><span class="navbar-text">
              <div class="form-check"><label class="form-check-label radio">{{'generalKeywords.no'|translate|uppercase}}
                  <input class="form-check-input" name="pep12months" type="radio" value="false"
                    formControlName="pep12months" id="pep12months" (change)="onChangeValues($event)">
                </label>
              </div>
            </span>
          </nav>
          <div class="showDiv form-group" *ngIf="isVisiblePep12months == true">
            <div class="row ms-0 me-0">
              <div class="col-6 mb-4 ms-0 me-0 ps-0 pe-5">
                <p class="form-check-label titulo-form-simples mt-0" >
                  {{'declarativeInformation.stakeholder.pep.PEPType'|translate}}:*</p>
                <select (change)="checkSelectedPEP()" class="form-select campo_form" formControlName="pepType"
                  name="pepType" id="pepType">
                  <option *ngFor="let pep of PEPTypesP" value={{pep.code}}>{{pep.description}} </option>
                </select>
                <p class="form-check-label titulo-form-simples" >
                  {{'declarativeInformation.stakeholder.pep.since'|translate}}:</p>
                <input (change)="checkSelectedPEP()" formControlName="pepSinceWhen" name="pepSinceWhen"
                  id="pepSinceWhen" type="date" [max]="date" class="form-control campo_form" value="">
              </div>
              <div class="col-6 ms-0 me-0 ps-0 pe-5">
                <p class="form-check-label titulo-form-simples mt-0 text-start" >
                  {{'declarativeInformation.stakeholder.pep.country'|translate}}:*</p>
                <select (change)="checkSelectedPEP()" class="form-select campo_form" formControlName="pepCountry"
                  name="pepCountry" id="pepCountry">
                  <option *ngFor="let country of Countries" [value]="country.code">
                    {{country.description}} </option>
                </select>
                <p class="titulo-form-simples"></p>
              </div>
            </div>
            <p class="titulo-form-simples"></p>
          </div>
          <div class="form-group" *ngIf="isVisiblePep12months == false">
            <p class="titulo-form-simples mb-1">{{'declarativeInformation.stakeholder.pep.isFamiliar'|translate}}:</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <span class="navbar-text">
                <div class="form-check"><label
                    class="form-check-label radio pe-5">{{'generalKeywords.yes'|translate|uppercase}}
                    <input class="form-check-input" name="pepFamiliarOf" type="radio" value="true"
                      formControlName="pepFamiliarOf" id="pepFamiliarOf" (change)="onChangeValues($event)">
                  </label>
                </div>
              </span><span class="navbar-text">
                <div class="form-check"><label
                    class="form-check-label radio">{{'generalKeywords.no'|translate|uppercase}}
                    <input class="form-check-input" name="pepFamiliarOf" type="radio" value="false"
                      formControlName="pepFamiliarOf" id="pepFamiliarOf" (change)="onChangeValues($event)">
                  </label>
                </div>
              </span>
            </nav>
            <p class="titulo-form-simples"></p>
            <div class="showDiv form-group" *ngIf="isVisiblePepFamiliarOf == true">
              <div class="row ms-0 me-0">
                <div class="col-6 ms-0 me-0 pb-4 ps-0 pe-5">
                  <p class="form-check-label titulo-form-simples mt-0" >
                    {{'declarativeInformation.stakeholder.pep.familyRelation'|translate}}:*</p>
                  <select (change)="checkSelectedFamiliar()" class="form-select" formControlName="pepFamilyRelation"
                    name="pepFamilyRelation" id="pepFamilyRelation">
                    <option *ngFor="let kinship of stakeholdersKinships" [value]="kinship.code">{{kinship.description}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="isVisiblePepFamiliarOf == false">
            <p class="titulo-form-simples mb-1">{{'declarativeInformation.stakeholder.pep.relations'|translate}}:</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <span class="navbar-text">
                <div class="form-check"><label
                    class="form-check-label radio pe-5">{{'generalKeywords.yes'|translate|uppercase}}
                    <input class="form-check-input" name="pepRelations" type="radio" value="true"
                      formControlName="pepRelations" id="pepRelations" (change)="onChangeValues($event)">
                  </label>
                </div>
              </span><span class="navbar-text">
                <div class="form-check"><label
                    class="form-check-label radio">{{'generalKeywords.no'|translate|uppercase}}
                    <input class="form-check-input" name="pepRelations" type="radio" value="false"
                      formControlName="pepRelations" id="pepRelations" (change)="onChangeValues($event)">
                  </label>
                </div>
              </span>
            </nav>
            <p class="titulo-form-simples"></p>
            <div class="form-group" *ngIf="isVisiblePepRelations == true">
              <div class="col-6 ms-0 me-0 pb-4 ps-0 pe-5">
                <p class="form-check-label titulo-form-simples mb-1" >
                  {{'declarativeInformation.stakeholder.pep.relationType'|translate}}:*
                </p>
                <select (change)="checkSelectedRelations()" class="form-select" formControlName="pepTypeOfRelation"
                  name="pepTypeOfRelation" id="pepTypeOfRelation">
                  <option *ngFor="let cr of corporateRelations" [value]="cr.code">{{cr.description}} </option>
                </select>
              </div>
            </div>
            <p class="titulo-form-simples"></p>
          </div>
          <div class="form-group" *ngIf="isVisiblePepRelations == false">
            <p class="titulo-form-simples mb-1">{{'declarativeInformation.stakeholder.pep.politicJobs'|translate}}:</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <span class="navbar-text">
                <div class="form-check"><label
                    class="form-check-label radio pe-5">{{'generalKeywords.yes'|translate|uppercase}}
                    <input class="form-check-input" name="pepPoliticalPublicJobs" type="radio" value="true"
                      formControlName="pepPoliticalPublicJobs" id="pepPoliticalPublicJobs"
                      (change)="onChangeValues($event)">
                  </label>
                </div>
              </span><span class="navbar-text">
                <div class="form-check"><label
                    class="form-check-label radio">{{'generalKeywords.no'|translate|uppercase}}
                    <input class="form-check-input" name="pepPoliticalPublicJobs" type="radio" value="false"
                      formControlName="pepPoliticalPublicJobs" id="pepPoliticalPublicJobs"
                      (change)="onChangeValues($event)">
                  </label>
                </div>
              </span>
            </nav>
            <p class="titulo-form-simples"></p>
            <div class="form-group" *ngIf="isVisiblePepPoliticalPublicJobs == true">
              <div class="col-6 ms-0 me-0 pb-4 ps-0 pe-5">
                <p class="form-check-label titulo-form-simples mt-0" >
                  {{'declarativeInformation.stakeholder.pep.role'|translate}}:*</p>
                <select class="form-select" formControlName="pepType" name="pepType" id="pepType">
                  <option *ngFor="let pep of PEPTypesC" [value]="pep.code">{{pep.description}} </option>
                </select>
              </div>
            </div>
            <p class="titulo-form-simples"></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
