<mat-sidenav-container class="sidenav-container animation-teste">
  <mat-sidenav [opened]="isToggle" [mode]="mobileQuery.matches ? 'over' : 'side'" [@onSideNavChange]="isToggle ? 'open' : 'close'" class="shadow sidenav temp">
    <mat-nav-list class="sidenav-list">
      <div class="accordion" id="accordion">
        <div class="nav-item">
          <a role="button"><p class="sidenav-button-accordion side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">home</i>&nbsp;Início &nbsp;</p></a>
          <!--<a role="button" class="sidenav-item nav-link side_menu_texto sidenav-button-accordion"><span class="material-symbols-rounded">home</span><span>&nbsp;&nbsp;Início</span></a>-->
        </div>
        <div class="nav-item">
          <!--<a role="button" class="sidenav-item nav-link side_menu_texto sidenav-button-accordion"><i class="far fa-folder-open fs-4"></i>&nbsp;&nbsp;Abertura de processo</a>-->
          <a role="button"><p class="sidenav-button-accordion side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">folder_open</i>&nbsp;Abertura de processo &nbsp;</p></a>
          <!--<a role="button" class="sidenav-item nav-link side_menu_texto sidenav-button-accordion"><span class="material-symbols-rounded">folder_open</span>&nbsp;&nbsp;Abertura de processo</a>-->
        </div>
        <div>
          <!--<a id="headingOne3" role="button" class="sidenav-item sidenav-button-accordion nav-link side_menu_texto dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">-->
          <!--<i class="far fa-edit fs-4"></i>-->
          <!--<span class="material-symbols-rounded">
      edit_note
    </span>
    &nbsp; Tratamento de Processos
  </a>-->
          <a id="headingOne3" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
            <p class="sidenav-button-accordion side_menu_texto mb-0 sidenav-item dropdown-toggle"><i class="material-symbols-rounded fa-lg icons-sidenav">edit_note</i>&nbsp;Tratamento de Processos &nbsp;</p>
          </a>
          <div id="collapseOne3" class="submenu accordion-collapse collapse" aria-labelledby="headingOne3" data-bs-parent="#accordion">
            <div class="submenu-link ps-3 ms-3 col-10 ps-0 pe-0">
              <nav class="sidenav-item navbar navbar-expand-lg navbar-light mt-0 pt-0 pb-0">
                <span class="sub-icon sidenav-item navbar-text text-light">
                  <!--<img src="assets/images/L.SVG" class="img-fluid ms-0" width="9">-->
                  <!--<i class="bi bi-arrow-return-right fa-lg"></i>-->
                  <!--<span class="material-symbols-rounded">
    subdirectory_arrow_right
  </span>
  <span class="sidenav-item navbar-text ps-2 mt-3">
    <a class="side_menu_texto align-self-end">Múltiplos clientes</a>
  </span>-->
                  <a role="button"><p class="side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">subdirectory_arrow_right</i>&nbsp;Múltiplos clientes &nbsp;</p></a>

                </span>
                
              </nav>
            </div>
            <div class="ps-3 ms-3 col-10 ps-0 pe-0">
              <nav class="sidenav-item navbar navbar-expand-lg navbar-light mt-0 pt-0 pb-0">
                <span class="sub-icon sidenav-item navbar-text text-light">
                  <!--<img src="assets/images/L.SVG" class="img-fluid ms-0" width="9">-->
                  <!--<i class="bi bi-arrow-return-right fa-lg"></i>-->
                  <!--<span class="material-symbols-rounded">
            subdirectory_arrow_right
            <span class="sidenav-item navbar-text ps-2 mt-3">
              <a class="side_menu_texto align-self-end">Validação DO</a>
            </span>
          </span>-->
                  <a role="button"><p class="side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">subdirectory_arrow_right</i>&nbsp;Validação DO &nbsp;</p></a>
                </span>

              </nav>
            </div>
            <div class="ps-3 ms-3 col-10 ps-0 pe-0">
              <nav class="sidenav-item navbar navbar-expand-lg navbar-light mt-0 pt-0 pb-0">
                <span class="sub-icon sidenav-item navbar-text text-light">
                  <!--<img src="assets/images/L.SVG" class="img-fluid ms-0" width="9">-->
                  <!--<i class="bi bi-arrow-return-right fa-lg"></i>-->
                  <!--<span class="material-symbols-rounded">
    subdirectory_arrow_right
  </span>
  <span class="navbar-text text-light ps-2 mt-3">
    <a class="side_menu_texto align-self-end">Aprovação de negociação de precário</a>
  </span>-->

                  <a role="button"><p class="side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">subdirectory_arrow_right</i>&nbsp;Aprovação de &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;negociação de precário &nbsp;</p></a>
                </span>
                
              </nav>
            </div>
            <div class="ps-3 ms-3 col-10 ps-0 pe-0">
              <nav class="sidenav-item navbar navbar-expand-lg navbar-light mt-0 pt-0 pb-0">
                <span class="sub-icon sidenav-item navbar-text text-light">
                  <!--<img src="assets/images/L.SVG" class="img-fluid ms-0" width="9">-->
                  <!--<i class="bi bi-arrow-return-right fa-lg"></i>-->
                  <!--<span class="material-symbols-rounded">
    subdirectory_arrow_right
  </span>
  <span class="navbar-text ps-2 mt-3">
    <a class="side_menu_texto align-self-end mt-3">Validação matricula SIBS</a>
  </span>-->
                  <a role="button"><p class="side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">subdirectory_arrow_right</i>&nbsp;Validação matricula SIBS &nbsp;</p></a>
                </span>
                
              </nav>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <!--<a role="button" class="sidenav-item nav-link side_menu_texto sidenav-button-accordion">-->
          <!--<i class="material-icons md-48">
    search
  </i>-->
          <!--<span class="material-symbols-rounded">
      search
    </span>
    &nbsp;Consultas
  </a>-->
          <a role="button"><p class="sidenav-button-accordion side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">search</i>&nbsp;Consultas&nbsp;</p></a>
        </div>
        <div class="nav-item">
          <!--<a role="button" class="sidenav-item nav-link side_menu_texto sidenav-button-accordion">-->
          <!--<i class="pe-1 far fa-question-circle fs-4"></i>-->
          <!--<span class="material-symbols-rounded">
      help
    </span>
    &nbsp; FAQS
  </a>-->
          <a role="button"><p class="sidenav-button-accordion side_menu_texto mb-0 sidenav-item"><i class="material-symbols-rounded fa-lg icons-sidenav">help</i>&nbsp;FAQS &nbsp;</p></a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="animation-sidenav-content" style="padding-bottom:800px">
    <!--<router-outlet></router-outlet>-->
    <div class="container-fluid">
      <div class="row">
        <div class="offset-1 col-10 ps-0 pe-0 bg-white"></div>
        <div class="offset-1 col-10 ps-0 pe-0">
          <router-outlet></router-outlet>
        </div>
        <div class="offset-1 col-10 bg-white ps-0 pe-0"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
