<app-nav-menu-interna (onload)="emit('/client');"></app-nav-menu-interna>
<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="70px" height="32px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 324 148.998">
          <defs>
            <style type="text/css">
              .fil0 {
                fill: rgb(var(--bs-primary-rgb))
              }

              .fil1 {
                fill: rgb(var(--bs-icon-secondary-rgb))
              }
            </style>
          </defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer" />
            <rect class="fil0" x="-0.201492" y="-0.0493018" width="324.402" height="149.097" />
            <path class="fil1" d="M94.1079 -0.0507874l32.7768 0 0 91.9654c0,23.4224 11.7732,34.0512 35.1177,34.0512 23.3421,0 35.1248,-10.6264 35.1248,-33.8362l0 -92.1791 32.7638 0.0023622 0 93.4819c0,28.024 -11.6657,46.7291 -33.2185,55.6146l-69.3484 0c-21.5539,-8.88543 -33.2161,-27.5906 -33.2161,-55.6146l0 -93.4854 0 0z" />
          </g>
        </svg>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0" *ngIf="queueName == ''">
            {{'client.title'|translate|uppercase}}
          </h5>
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0" *ngIf="queueName != ''">
            {{queueName + ' | ' + title |uppercase}}
          </h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 bg-white center-align col-10 ps-3">
      <h2 class="text-primary mt-5 ps-0 center-align">
        <span class="material-symbols-rounded icon-titulos m-align group-add-blue icon-group-add-blue">
          <!--<img src="assets/images/group_add_blue.svg" class="img_add">-->
        </span>&nbsp;{{'client.identification'|translate|uppercase}}<br>
      </h2>
      <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
      <div class="row ms-0 me-0">
        <div class="col-9 ms-0 me-0 ps-0 pe-0">
          <p class="titulo-form-simples">{{'client.typology'|translate|uppercase}}*</p>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-text">
              <div class="form-check">
                <input class="form-check-input" required [(ngModel)]="clientTypology" name="clientTypology" type="radio"
                  value="true" id="clientTypology" (click)="activateButtons(true)" [disabled]="returned == 'consult'" />
                <label class="form-check-label radio pe-5" >{{'client.company'|translate|uppercase}}</label>
              </div>
            </span>
            <span class="navbar-text">
              <div class="form-check">
                <input class="form-check-input" required [(ngModel)]="clientTypology" name="clientTypology" type="radio"
                  value="false" id="clientTypology" (click)="activateButtons(false)"
                  [disabled]="returned == 'consult'" />
                <label class="form-check-label radio" >ENI</label>
              </div>
            </span>
          </nav>
          <div>
            <div *ngIf="showButtons">
              <div class="row" *ngIf="!showENI">
                <div class="col-12 ms-0 me-0 pe-0">
                  <div class="row">
                    <div class="col-5">
                      <p class="titulo-form-simples">{{'searches.documentType'|translate}}:*</p>
                      <select class="form-select campo-form-select" (change)="changeListElementDocType(docType, $event)"
                        id="docType" [(ngModel)]="newClient.documentationDeliveryMethod" name="docType"
                        #docType="ngModel">
                        <option *ngFor="let docType of ListaDocType" value={{docType.code}}>
                          {{docType.description}}
                        </option>
                      </select>
                    </div>
                    <div class="col-5">
                      <p class="titulo-form-simples">
                        {{'searches.documentNumber'|translate}}:*
                        <span class="titulo-form-error" *ngIf="incorrectCC && isCC" class="titulo-form-simples-erro">
                          {{'client.incorrectCC'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectCCSize && isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectCCSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectCCFormat && isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectCCFormat'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIF && !isCC" class="titulo-form-simples-erro">
                          {{'client.incorrectNIF'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIFSize && !isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectNIFSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIPCSize && !isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectNIPCSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIPC && !isCC" class="titulo-form-simples-erro">
                          {{'client.incorrectNIPC'|translate}}
                        </span>
                      </p>
                      <input id="clientId" type="text" (keyup)="checkValidationType(clientId.value)"
                        (keypress)="numericOnly($event)" [(ngModel)]="newClient.clientId" name="clientId"
                        #clientId="ngModel" (ngModelChange)="clearNewForm()" [class]="errorInput"
                        [hidden]="isCC && isNoDataReadable" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="showENI">
                <div class="col-12 ms-0 me-0 pe-0">
                  <div class="row">
                    <div class="col-5">
                      <p class="titulo-form-simples">{{'searches.documentType'|translate}}:*</p>
                      <select class="form-select campo-form-select" (change)="changeListElementDocType(docType, $event)"
                        id="documentType" [(ngModel)]="newClient.documentationDeliveryMethod" name="docType"
                        #docType="ngModel">
                        <option *ngFor="let docType of ListaDocTypeENI" value={{docType.code}}>
                          {{docType.description}}
                        </option>
                      </select>
                    </div>
                    <div class="col-5">
                      <p class="titulo-form-simples" [hidden]="isCC && isNoDataReadable">
                        {{'searches.documentNumber'|translate}}:*
                        <span class="titulo-form-error" *ngIf="incorrectCC && isCC" class="titulo-form-simples-erro">
                          {{'client.incorrectCC'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectCCSize && isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectCCSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectCCFormat && isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectCCFormat'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIF && !isCC" class="titulo-form-simples-erro">
                          {{'client.incorrectNIF'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIFSize && !isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectNIFSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIPCSize && !isCC"
                          class="titulo-form-simples-erro">
                          {{'client.incorrectNIPCSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIPC && !isCC" class="titulo-form-simples-erro">
                          {{'client.incorrectNIPC'|translate}}
                        </span>
                      </p>
                      <input id="clientId" type="text" (keypress)="numericOnly($event)"
                        (keyup)="checkValidationType(clientId.value)" [(ngModel)]="newClient.clientId" name="clientId"
                        #clientId="ngModel" (ngModelChange)="clearNewForm()" [class]="errorInput"
                        [hidden]="isCC && isNoDataReadable" required>
                    </div>
                  </div>
                </div>
                <div *ngIf="isCC" class="offset-1 col-7 me-0 ps-0 pe-0 ms-5" style="margin-left: 13px !important;">
                  <p class="titulo-form-simples mb-3">{{'citizenCard.collectData'|translate}}</p>
                  {{'citizenCard.process'|translate}}:*
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span class="navbar-text">
                      <div class="form-check">
                        <input class="form-check-input" required type="radio" [value]=true id="flagAutCol"
                          name="flagAutCol" (click)="changeDataReadable(true)" checked />
                        <label class="form-check-label radio pe-5"
                          >{{'generalKeywords.yes'|translate|uppercase}}</label>
                      </div>
                    </span>
                    <span class="navbar-text">
                      <div class="form-check">
                        <input class="form-check-input" required type="radio" [value]=false id="flagAutCol"
                          name="flagAutCol" (click)="changeDataReadable(false)" />
                        <label class="form-check-label radio"
                          >{{'generalKeywords.no'|translate|uppercase}}</label>
                      </div>
                    </span>
                  </nav>
                </div>
              </div>
              <div *ngIf="isNoDataReadable && isCC" class="pt-2">
                <div class="titulo-form-simples">
                  {{'citizenCard.readClick'|translate}}:
                </div>
                <button class="btn botao_azul_pesquisa" (click)="openModal(template)"
                  type="submit">{{'citizenCard.read'|translate}}</button>
              </div>
              <div class="align-self-center col-12 mt-4 ms-0 me-0 pe-0">
                <nav
                  class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
                  <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0">
                    <button
                      [disabled]="newClient.clientId?.length === 0 || newClient.documentationDeliveryMethod?.length === 0 || incorrectNIF || incorrectNIFSize || incorrectCC || incorrectCCSize || incorrectCCFormat || incorrectNIPCSize || incorrectNIPC"
                      id="btn5a2" class="btn botao_azul" (click)="searchClient()" wappler-command="editContent">
                      {{'client.search'|translate|uppercase}}&nbsp;&nbsp;
                      <img src="assets/images/person_search.svg" class="img_btn">
                    </button>
                  </span>
                </nav>
              </div>
              <div *ngIf="notFound">
                <p class="titulo-form-simples-erro">{{'client.searchError'|translate}}</p>
              </div>
              <form *ngIf="newClientForm" [formGroup]="newClientForm" name="newClientForm">
                <div class="row" *ngIf="showENI && !clientNr"><!-- && !isCC-->
                  <div class="col-12 ms-0 me-0 pe-0">
                    <div class="row">
                      <div class="col-5">
                        <p class="titulo-form-simples">
                          {{'client.nif'|translate}}:*
                          <span class="titulo-form-error" *ngIf="incorrectNIF" class="titulo-form-simples-erro">
                            {{'client.incorrectNIF'|translate}}
                          </span>
                          <span class="titulo-form-error" *ngIf="incorrectNIFSize" class="titulo-form-simples-erro">
                            {{'client.incorrectNIFSize'|translate}}
                          </span>
                        </p>
                        <input name="nif" #nif type="text" (keypress)="numericOnly($event)"
                          (keyup)="validateNIF(nif.value)" id="nif" class="form-control" formControlName="nif">
                      </div>
                      <div class="col-5">
                        <p class="titulo-form-simples">{{'client.name'|translate|uppercase}}:*</p>
                        <input name="nome" type="text" id="nome" class="form-control" formControlName="nome">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 ms-0 me-0 pe-0" *ngIf="!showENI && !clientNr && !isCC">
                  <div class="row">
                    <div class="col-6">
                      <p class="titulo-form-simples">
                        {{'client.nipc'|translate}}:*
                        <span class="titulo-form-error" *ngIf="incorrectNIPCSize" class="titulo-form-simples-erro">
                          {{'client.incorrectNIPCSize'|translate}}
                        </span>
                        <span class="titulo-form-error" *ngIf="incorrectNIPC" class="titulo-form-simples-erro">
                          {{'client.incorrectNIPC'|translate}}
                        </span>
                      </p>
                      <input name="nipc" #nipc type="text" (keypress)="numericOnly($event)"
                        (keyup)="validateNIPC(nipc.value)" id="nipc" class="form-control" formControlName="nipc">
                    </div>
                    <div class="col-6">
                      <p class="titulo-form-simples">{{'client.socialDenomination'|translate|uppercase}}:*</p>
                      <input name="denominacaoSocial" type="text" id="denominacaoSocial" class="form-control"
                        formControlName="denominacaoSocial">
                    </div>
                  </div>
                </div>
                <div class="align-self-center col-12 mt-4 ms-0 me-0 ps-0 pe-0">
                  <span class="navbar-text me-2">
                    <button *ngIf="!showFoundClient && searchDone && !clientNr" id="btn5a2" (click)="createNewClient()"
                      class="btn botao_branco" wappler-command="editContent"
                      [disabled]="!newClientForm.valid || incorrectNIFSize || incorrectNIF || incorrectCC || incorrectCCSize || incorrectCCFormat || incorrectNIPCSize || incorrectNIPC">
                      {{'client.add'|translate|uppercase}}&nbsp;
                      <span class="person-add-blue icon-person-add-blue"></span>
                      <!--<img src="assets/images/person_add_blue.svg" class="img_btn">-->
                    </button>
                  </span>

                </div>
              </form>
              <ng-template #template>
                <main class="container-fluid bg-primary ms-0 me-0 ps-0 pe-0" style="margin-top: 0px !important;">
                  <div class="container-fluid ms-0 me-0 pt-2 pb-2 ps-2 pe-2">
                    <div class="row justify-content-center mt-0 ms-2 me-0 pt-0 pb-0 ps-0 pe-0">
                      <div class="align-self-center ms-0 me-0 pt-0 pb-0 ps-0 pe-0 col-12">
                        <nav
                          class="navbar navbar-expand navbar-light bg-primary mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0">
                          <span class="navbar-text ms-auto align-self-start">
                            <h2 class="text-light mt-1 mb-0 ms-0 me-1 pt-0 pb-0 ps-0 pe-4" style="cursor: pointer;"
                              (click)="modalRef.hide()">
                              x
                            </h2>
                          </span>
                        </nav>
                      </div>
                      <div class="row mb-5 ms-0 me-0 ps-0 pe-0">
                        <div class="mb-5 ps-0 pe-0 col-12">
                          <nav
                            class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0">
                            <span class="navbar-text"></span>
                            <span class="material-symbols-rounded img_badge">
                              <img src="assets/images/badge.svg" class="img_badge">
                            </span>
                          </nav>
                          <nav
                            class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0 text-center">
                            <span class="navbar-text">
                              <h5 class="text-light mb-2 pt-lg-4 pb-lg-5 ps-lg-4 pe-lg-4">
                                {{'citizenCard.addressPIN'|translate}}
                              </h5>
                            </span>
                          </nav>
                          <nav class="navbar navbar-expand-lg navbar-light justify-content-center pt-0 pb-0 bg-primary">
                            <span class="navbar-text"></span>
                            <span class="navbar-text pb-0 pt-sm-0">
                              <button id="btn5a"
                                class="btn boto_alerta_modal mt-4 mb-0 ms-3 me-3 pt-3 pb-3 ps-4 pe-4 ps-lg-4 pe-lg-4"
                                style="color: white;" wappler-command="editContent" data-bs-dismiss="modal"
                                (click)="modalRef.hide(); callreadCCAddress()">
                                {{'generalKeywords.yes'|translate|uppercase}}
                              </button>
                            </span>
                            <span class="navbar-text pt-0 pb-0">
                              <button id="btn5a1"
                                class="btn boto_alerta_modal mb-sm-0 mt-4 mb-0 ms-3 me-3 pt-3 pb-3 ps-4 pe-4 ps-lg-4 pe-lg-4"
                                style="color: white;" wappler-command="editContent"
                                (click)="modalRef.hide(); callreadCC(); setAddressFalse()">
                                {{'generalKeywords.no'|translate|uppercase}}
                              </button>
                            </span>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </main>
              </ng-template>
            </div>
          </div>
          <div *ngIf="okCC">
            <div class="row me-0">
              <div class="col">
                <div class="me-0 ps-0 pe-0 col-7 mb-5">
                  <p class="titulo-form-simples">
                    {{'citizenCard.documentCountry'|translate}}:* <span>
                    </span>
                  </p>
                  <input class="form-control campo_form" id="countryCC" value="{{countryCC}}" type="text"
                    [disabled]="true">
                </div>
              </div>
            </div>
            <table class="table table-sm table-light">
              <thead>
                <tr class="titulo-form-simples">
                  {{'citizenCard.readData'|translate|uppercase}}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="titulo-form-simples">{{'citizenCard.name'|translate}}:</th>
                  <td>{{dataCCcontents?.nameCC}}</td>
                </tr>
                <tr>
                  <th scope="row" class="titulo-form-simples">{{'citizenCard.ccNumber'|translate}}:</th>
                  <td>{{dataCCcontents?.cardNumberCC}}</td>
                </tr>
                <tr>
                  <th scope="row" class="titulo-form-simples">NIF:</th>
                  <td>{{dataCCcontents?.nifCC}}</td>
                </tr>
                <tr>
                  <th scope="row" class="titulo-form-simples">{{'citizenCard.address'|translate}}:</th>
                  <td>{{dataCCcontents?.addressCC}}</td>
                </tr>
                <tr>
                  <th scope="row" class="titulo-form-simples">{{'citizenCard.postalCode'|translate}}:</th>
                  <td>{{dataCCcontents?.postalCodeCC}}</td>
                </tr>
                <tr>
                  <th scope="row" class="titulo-form-simples">{{'citizenCard.birthDate'|translate}}:</th>
                  <td>{{dataCCcontents?.birthdateCC}}</td>
                </tr>
              </tbody>
            </table>
            <span class="navbar-text me-2">
              <button id="btn5a2" (click)="createNewClient()" class="btn botao_branco" wappler-command="editContent">
                {{'client.add'|translate|uppercase}}&nbsp;
                <span class="person-add-blue icon-person-add-blue"></span>
                <!--<img src="assets/images/person_add_blue.svg" class="img_btn">-->
              </button>
            </span>
            <h5 *ngIf="!okCC" class="text-primary mb-4">{{'client.found'|translate|uppercase}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offset-1 bg-white col-7 col-10 mb-5 pb-0 pe-0" *ngIf="showFoundClient == true">
  <div class="row me-0 pe-0">
    <div class="col mt-2 ms-0 me-0 pt-4 ps-3 pe-3">
      <div class="table-responsive mb-2 ps-2 pe-2">
        <form #contactForm="ngForm">
          <table mat-table [dataSource]="clientsMat" class="table-responsive" matSort style="margin-left: auto; margin-right: auto; width: 95%;">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let client">
                <input type="radio" name="clientSelected"
                  (click)="aButtons(true, client.client.clientId, client.isClient)">
              </td>
            </ng-container>
            <ng-container matColumnDef="clientNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                {{'client.number'|translate}} </th>
              <td mat-cell *matCellDef="let client"> {{client.client.clientId}} </td>
            </ng-container>
            <ng-container matColumnDef="commercialName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                {{'client.nameSocialDesignation'|translate}} </th>
              <td mat-cell *matCellDef="let client"> {{client.client.commercialName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                {{'client.address'|translate}} </th>
              <td mat-cell *matCellDef="let client"> {{client.client.address}} </td>
            </ng-container>
            <ng-container matColumnDef="ZIPCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                {{'client.postalCode'|translate}} </th>
              <td mat-cell *matCellDef="let client"> {{client.client.ZIPCode}} </td>
            </ng-container>
            <ng-container matColumnDef="locale">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                {{'client.locale'|translate}} </th>
              <td mat-cell *matCellDef="let client"> {{client.client.postalArea}} </td>
            </ng-container>
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                {{'client.country'|translate}} </th>
              <td mat-cell *matCellDef="let client"> {{client.client.country}} </td>
            </ng-container>
            <tr style="border-bottom: 1px solid rgb(var(--bs-primary-rgb))" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let client; let idx = index; columns: displayedColumns;"
              [ngClass]="{'row-selected': idx === currentIdx}">
            </tr>
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons>
          </mat-paginator>
        </form>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="offset-1 bg-white col-7 col-10 mb-5 pb-0 pe-0">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
        <span class="navbar-text me-2 align-self-center ms-0 me-0">
          <button id="btn5a1"
            class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
            wappler-command="editContent" (click)="close()">
            {{'generalKeywords.exit'|translate|uppercase}}&nbsp;<span class="material-symbols-rounded m-align">
              <span class="exit-to-app icon-exit-to-app"></span>
              <!--<img src="assets/images/exit_to_app.svg" style="height: 25px !important;">-->
            </span>
          </button>
          <button id="btn5a3" *ngIf="showSeguinte == true"
            class="btn botao_branco center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3"
            wappler-command="editContent" (click)="obterSelecionado()" [disabled]="!showSeguinte">
            {{'client.add'|translate|uppercase}}&nbsp;<span class="material-symbols-rounded m-align person-add-blue icon-person-add-blue"></span>
          </button>
        </span>
      </nav>
    </div>
  </div>
</div>
