<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <span class="navbar-text text-light">
          <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
        </span>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            {{'auth.title'|translate|uppercase}}
          </h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 bg-white center-align col-10 ps-3">
      <form [formGroup]="authForm" name="authForm" (ngSubmit)="submit()">
        <h2 class="text-primary mt-5 ps-0 center-align">
          <span class="material-symbols-rounded icon-titulos m-align">
            <img src="assets/images/group_add_blue.svg" class="img_add">
          </span>&nbsp;{{'auth.identification'|translate|uppercase}}<br>
        </h2>
        <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
        <div class="row">
          <div class="col-xxl col-6">
            <div>
              <p class="titulo-form-simples" for="userName">{{'auth.username'|translate}}: *</p>
              <input type="text" formControlName="userName" name="userName" id="userName"
                class="form-control campo_form" />
            </div>
            <div>
              <p class="titulo-form-simples" for="bankName">{{'auth.bankName'|translate}}: *</p>
              <select class="form-select campo_form" formControlName="bankName" id="bankName" name="bankName">
                <option *ngFor="let bank of banks" value={{bank.code}}>{{bank.description}}</option>
              </select>
            </div>
            <div>
              <p class="titulo-form-simples" for="bankLocation">{{'auth.bankLocation'|translate}}: *</p>
              <input type="text" formControlName="bankLocation" name="bankLocation" id="bankLocation"
                class="form-control campo_form" />
            </div>
            <div>
              <p class="titulo-form-simples" for="role">{{'auth.role'|translate}}: *</p>
              <select formControlName="role" name="role" id="role" class="form-control campo_form">
                <option value="">{{'generalKeywords.select'|translate}}</option>
                <option *ngFor="let role of roles" value={{role.code}}>{{role.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <button id="btn3a" class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg"
          type="submit">
          &nbsp;{{'auth.submit'|translate}}
        </button>
        <button id="btn3a" class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg"
          type="button" (click)="noToken()">
          &nbsp;Entrar sem token
        </button>
      </form>
    </div>
    <div *ngIf="openDiv">
      Token:
      {{getsToken}}
    </div>
  </div>
</div>