<div class="table-responsive me-2 ps-3 pe-3" [hidden]="submissionStakeholders.length == 0">
  <mat-table [dataSource]="stakesMat" class="table-success" matSort>
    <ng-container matColumnDef="stakeholderAcquiring.shortName">
      <mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="text-center text-primary bg-light table-white"> {{'client.nameSocialDesignation'|translate|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" class="text-primary text-center" style="display: inline-grid;"> {{stakeholder.stakeholderAcquiring.shortName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stakeholderAcquiring.fiscalId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NIF/NIPC </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" style="display: inline-grid;"> {{stakeholder.stakeholderAcquiring.fiscalId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="entityType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'stakeholder.entityType'|translate|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" style="display: inline-grid;"> - </mat-cell>
    </ng-container>
    <ng-container matColumnDef="relationType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'stakeholder.relationType'|translate|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" style="display: inline-grid;"> - </mat-cell>
    </ng-container>
    <ng-container matColumnDef="elegible">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'stakeholder.elegible'|translate|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" style="display: inline-grid;"> - </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stakeholderAcquiring.stakeholderId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'stakeholder.clientNumber'|translate|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" style="display: inline-grid;"> {{stakeholder.stakeholderAcquiring.stakeholderId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stakeholderAcquiring.isProxy">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="align-baseline text-primary table-white"> {{'stakeholder.signature'|translate|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" style="display: inline-grid;"> {{stakeholder.stakeholderAcquiring.isProxy}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete" class="small-cell"> 
      <mat-header-cell *matHeaderCellDef [hidden]="canDelete == false" class="small-cell">  </mat-header-cell>
      <mat-cell *matCellDef="let stakeholder" class="small-cell" [hidden]="canDelete == false" (click)="removeStakeholder(stakeholder)" style="display: inline-grid;">
        <span>
          <img src="assets/images/delete_blue.svg" style="height: 25px !important; vertical-align: sub; cursor: pointer;">
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" class="text-primary table-primary">X</mat-header-row>
    <mat-row *matRowDef="let stakeholder; let idx = index; columns: displayedColumns;"
             [ngClass]="{'row-selected': canSelect && (stakeholder === selectedStakeholder)}"
             (click)="emitSelectedStakeholder(stakeholder, idx)" #selectedBlueDiv id="selectedBlueDiv">
    </mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSizeOptions]="[3, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>

<div class="table-responsive me-2 ps-3 pe-3" *ngIf="submissionStakeholders.length == 0">
  <p class="titulo-form-simples m-4">{{'stakeholder.emptyList'|translate|uppercase}}</p>
</div>
