<div class="skill">
  <div class="outer">
    <div class="inner">
      <div id="number">
          {{percentageDisplay}}%
      </div>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
    <defs>
      <linearGradient id="GradientColor">
        <stop offset="0%" stop-color="#4b8fd6" />
        <stop offset="100%" stop-color="#1e66b0" />
      </linearGradient>
    </defs>
    <circle cx="80" cy="80" r="70" stroke-linecap="round" />
  </svg>


</div>
