<div class="offset-1 bg-white center-align col-10 ps-3">
  <form [formGroup]="form" name="form" (ngSubmit)="submit()" *ngIf="!validateCode">
    <h2 class="text-primary mt-5 ps-0 center-align">
      <span class="material-symbols-rounded icon-titulos m-align group-add-blue icon-group-add-blue">
      </span>&nbsp;{{'registration.resumeJourney'|translate|uppercase}}<br>
    </h2>
    <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
    <div class="row">
      <div class="col-xxl col-6">
        <div>
          <p class="titulo-form-simples" for="processNumber">{{'homepage.processNumber'|translate}}: *</p>
          <input type="text" formControlName="processNumber" name="processNumber" id="processNumber"
                 class="form-control campo_form" />
        </div>
        <div class="alert alert-danger"
             *ngIf="form.get('processNumber').touched && !form.get('processNumber').valid">
          <div *ngIf="form.get('processNumber').errors && form.get('processNumber').errors?.['required']">
            {{'generalKeywords.mandatoryParameter'|translate}}
          </div>
        </div>
      </div>
    </div>
    <button id="btn3a" class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg"
            type="submit" [disabled]="!form.valid">
      &nbsp;{{'generalKeywords.search'|translate}}
    </button>
  </form>
  <app-validate-code *ngIf="validateCode" [secret]="secret" [page]="'resume'" [processNumber]="processNumber" (goBackEmitter)="goBack($event)"></app-validate-code>
</div>
