<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="70px" height="32px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 324 148.998">
        <defs>
        <style type="text/css">
          .fil0 {
            fill: rgb(var(--bs-primary-rgb))
          }

          .fil1 {
            fill: rgb(var(--bs-icon-secondary-rgb))
          }
</style>
          </defs>
        <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer" />
        <rect class="fil0" x="-0.201492" y="-0.0493018" width="324.402" height="149.097" />
        <path class="fil1" d="M94.1079 -0.0507874l32.7768 0 0 91.9654c0,23.4224 11.7732,34.0512 35.1177,34.0512 23.3421,0 35.1248,-10.6264 35.1248,-33.8362l0 -92.1791 32.7638 0.0023622 0 93.4819c0,28.024 -11.6657,46.7291 -33.2185,55.6146l-69.3484 0c-21.5539,-8.88543 -33.2161,-27.5906 -33.2161,-55.6146l0 -93.4854 0 0z" />
          </g>
        </svg>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            {{'acceptance.historic'|translate|uppercase}}&nbsp;
          </h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 col-10 mt-5 pt-0 ps-0 pe-0">
      <ul class="nav nav-tabs" id="navTabs1_tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active activo_tabs activo-tabd" id="navTabs1_1_tab" data-bs-toggle="tab"
             href="#" data-bs-target="#navTabs1_1" role="tab" aria-controls="navTabs1_1"
             aria-selected="true">{{'acceptance.detail'|translate}}</a>
        </li>
        <li class="nav-item_x">
          <a class="nav-link" id="navTabs1_2_tab" data-bs-toggle="tab" href="#"
             data-bs-target="#navTabs1_2" role="tab" aria-controls="navTabs1_2" (click)="goToHistoryTab()"
             aria-selected="false">{{'acceptance.historic'|translate}}</a>
        </li>
        <li class="nav-item_x"></li>
        <li class="nav-item_x"></li>
      </ul>
      <div class="tab-content" id="navTabs1_content">
        <div class="tab-pane fade show active" id="navTabs1_1" role="tabpanel">
          <div class="container-fluid mt-0 ps-3 pe-3">
            <div class="row">
              <div class="bg-white align-self-center col-12 laterais_tabs mt-0 me-0 pt-4 ps-5 pe-5"
                   style="margin-left: 1px;">
                <div class="row">
                  <div class="col bg-white">
                    <div class="row">
                      <div class="col bg-primary bg-opacity-10 mt-3 ms-3 pt-4 pb-3">
                        <div class="row ms-0 me-0 pe-0">
                          <div class="col-3 ms-3 pt-3 pb-3 ps-3 pe-0">
                            <p class="mb-0 text-end text-primary">{{'acceptance.processNumber'|translate}}</p>
                            <p class="mb-0 text-end text-primary">{{'acceptance.actualState'|translate}}</p>
                            <p class="mb-0 text-end text-primary">{{'acceptance.date'|translate}}</p>
                            <p class="mb-0 text-end text-primary">{{'acceptance.user'|translate}}</p>
                            <p class="mb-0 text-end text-primary">{{'acceptance.comments'|translate}}</p>
                          </div>
                          <div class="col bg-white bg-opacity-75 ms-3 me-0 pt-3 pb-3 pe-2" *ngIf="ready">
                            <p class="mb-0 text-primary text-start">{{(processNumber == null) ? '-' : process.processNumber}}</p>
                            <p class="mb-0 text-primary text-start">{{processState}}</p>
                            <p class="mb-0 text-primary text-start">{{(processHistoryItems.items[processHistoryItems.items.length - 1].whenStarted == null || processHistoryItems.items[processHistoryItems.items.length - 1].whenStarted == "") ? "-" : processHistoryItems.items[processHistoryItems.items.length - 1].whenStarted}}</p>
                            <p class="mb-0 text-primary text-start">{{(processHistoryItems.items[processHistoryItems.items.length - 1].whoFinished == null || processHistoryItems.items[processHistoryItems.items.length - 1].whoFinished == "") ? "-" : processHistoryItems.items[processHistoryItems.items.length - 1].whoFinished}}</p>
                            <p class="mb-0 text-primary text-start">
                              {{(processHistoryItems?.items[observationLength]?.observations == null || processHistoryItems?.items[observationLength]?.observations == "") ? "-" : processHistoryItems?.items[observationLength]?.observations}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="text-primary mt-5 mb-0 ps-0">
                  <span class="assignment_returned icon-assignment-returned"></span>
                  <!--<img src="assets/images/assignment_returned.svg"
                  style="height: 30px; vertical-align: bottom;">-->
                  &nbsp;{{'acceptance.returnReasons'|translate|uppercase}}
                </h3>
                <div class="row mt-0 ms-0 me-0 pt-0">
                  <div class="col-12 mt-4 pt-0 ps-0 pe-0">
                    <div class="table-responsive mb-5 pb-4">
                      <mat-table [dataSource]="returnMat" class="table-responsive" matSort #returnSort="matSort" style="margin-left: auto; margin-right: auto; width: 95%;">
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                            {{'acceptance.returnReasons'|translate|uppercase}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row["name"]}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="type">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                            {{'acceptance.returnReason1'|translate|uppercase}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{(row.type == null || row.type == '') ? '-' : row.type}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="issueDescription">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                            {{'acceptance.returnReason2'|translate|uppercase}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.issueDescription}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="returnColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; let idx = index; columns: returnColumns;">
                        </mat-row>
                      </mat-table>
                      <mat-paginator #paginatorReturn [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>
                </div>
                <h3 class="text-primary mt-5 ps-0" style="margin-bottom: 20px;">
                  <span class="gavel icon-gavel"></span>
                  <!--<img src="assets/images/gavel.svg"
                  style="height: 30px; vertical-align: bottom;">-->
                  &nbsp;{{'acceptance.opinions'|translate|uppercase}}
                </h3>
                <h4>{{'client.title' |translate|uppercase}}</h4>
                <div class="row mt-0 ms-0 me-0 pt-0">
                  <div class="col-12 mt-4 pt-0 ps-0 pe-0">
                    <div class="table-responsive mb-5 pb-4">
                      <table class="table">
                        <thead class="text-primary table-primary">
                          <tr class="table-white text-primary">
                            <th scope="col" class="text-center text-primary bg-light table-white">{{'acceptance.name'|translate}}</th>
                            <th scope="col" class="text-center bg-white">NIPC</th>
                            <th scope="col" class="text-center bg-white">{{'acceptance.clientNumber' | translate}}</th>
                            <th scope="col" class="text-center bg-white">BEF</th>
                            <th scope="col" class="text-center bg-white">{{'declarativeInformation.stakeholder.pep.title' | translate}}</th>
                            <th scope="col" class="text-center bg-white">{{'acceptance.eligibility' | translate}}</th>
                            <th scope="col" class="text-center bg-white">Compliance Office</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-primary text-center">{{merchant?.legalName}}</td>
                            <td class="text-primary text-start text-center">{{merchant?.fiscalId}}</td>
                            <td class="text-primary text-start text-center">{{merchant?.clientId}}</td>
                            <td class="text-primary text-start text-center">-</td>
                            <td class="text-primary text-start text-center">-</td>
                            <td class="text-primary text-start text-center">-</td>
                            <td class="text-primary text-start text-center">-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <h4>{{'stakeholder.title' |translate|uppercase}}</h4>
                <div class="row mt-0 ms-0 me-0 pt-0">
                  <div class="col-12 mt-4 pt-0 ps-0 pe-0">
                    <div class="table-responsive mb-5 pb-4">
                      <table class="table">
                        <thead class="text-primary table-primary">
                          <tr class="table-white text-primary">
                            <th scope="col" class="text-center text-primary bg-light table-white">{{'acceptance.name'|translate}}</th>
                            <th scope="col" class="text-center bg-white">NIPC</th>
                            <th scope="col" class="text-center bg-white">{{'acceptance.clientNumber' | translate}}</th>
                            <th scope="col" class="text-center bg-white">BEF</th>
                            <th scope="col" class="text-center bg-white">{{'declarativeInformation.stakeholder.pep.title' | translate}}</th>
                            <th scope="col" class="text-center bg-white">{{'acceptance.eligibility' | translate}}</th>
                            <th scope="col" class="text-center bg-white">Compliance Office</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let stakeholder of stakeholdersList">
                            <td class="text-primary text-center">{{stakeholder?.shortName}}</td>
                            <td class="text-primary text-start text-center">{{stakeholder?.fiscalId}}</td>
                            <td class="text-primary text-start text-center">{{stakeholder?.clientId}}</td>
                            <td class="text-primary text-start text-center">{{(stakeholder?.isBeneficiary == true  ? 'generalKeywords.yes' : 'generalKeywords.no') | translate}}</td>
                            <td class="text-primary text-start text-center">{{(stakeholder?.pep?.kind == 'Pep'  ? 'generalKeywords.yes' : 'generalKeywords.no') | translate}}</td>
                            <td class="text-primary text-start text-center">-</td>
                            <td class="text-primary text-start text-center">-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col mt-4 ms-0 ps-0">
                  <hr>
                  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
                    <span class="navbar-text me-2 align-self-center ms-0 me-0">
                      <button id="btn5a1" [routerLink]="['/']"
                              class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
                              wappler-command="editContent">
                        {{'generalKeywords.exit'|translate|uppercase}}&nbsp;
                        <span class="exit-to-app icon-exit-to-app"></span>
                        <!--<img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">-->
                      </button>

                      <button id="btn5a2" (click)="nextPage()"
                              class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3"
                              wappler-command="editContent">
                        {{'generalKeywords.next'|translate|uppercase}}&nbsp;
                        <img src="assets/images/arrow_forward_ios.svg"
                             style="height: 25px !important; vertical-align: sub;">
                      </button>
                    </span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="navTabs1_2" role="tabpanel">
          <div class="container-fluid mt-0 ps-3 pe-3">
            <div class="row">
              <div class="bg-white align-self-center col-12 laterais_tabs2 mt-0 ms-0 me-0 pt-5 ps-5 pe-5">
                <div class="table-responsive mb-5 pb-4">
                  <mat-table [dataSource]="historyMat" class="table-responsive" matSort #historySort="matSort" style="margin-left: auto; margin-right: auto; width: 95%;">
                    <ng-container matColumnDef="processNumber">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.requestNumber'|translate}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{(processNumber == null) ? '-' : process.processNumber}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="processState">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.state'|translate}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.processState}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="whenStarted">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.stateDate'|translate}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.whenStarted | date: 'yyyy-MM-dd HH:mm'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="whoFinished">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.user'|translate}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.whoFinished}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="observations">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.comments'|translate}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{(row.observations == null || row.observations == "") ? "-" : row.observations}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="historyColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; let idx = index; columns: historyColumns;" (click)="getHistoryIssueDetails(row.historyGuid)" [ngClass]="{'row-selected': row.historyGuid == selectedHistoryGuid}">
                    </mat-row>
                  </mat-table>
                  <mat-paginator #paginatorHistory [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons>
                  </mat-paginator>
                </div>
              </div>
              <div class="bg-white align-self-center col-12 laterais_tabs2 mt-0 ms-0 me-0 pt-5 ps-5 pe-5">
                <h3 class="text-primary mt-5 mb-0 ps-0">
                  <span class="assignment_returned icon-assignment-returned"></span>
                  <!--<img src="assets/images/assignment_returned.svg"
                    style="height: 30px; vertical-align: bottom;">-->
                  &nbsp;{{'acceptance.returnReasons'|translate|uppercase}}
                </h3>
                <div class="table-responsive mb-5 pb-4">
                  <mat-table [dataSource]="returnSelectedMat" class="table-responsive" matSort #returnSelectedSort="matSort" style="margin-left: auto; margin-right: auto; width: 95%;">
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.returnReasons'|translate|uppercase}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row["name"]}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.returnReason1'|translate|uppercase}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">{{(row.type == null || row.type == '') ? '-' : row.type}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="issueDescription">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
                        {{'acceptance.returnReason2'|translate|uppercase}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.issueDescription}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="returnSelectedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; let idx = index; columns: returnSelectedColumns;">
                    </mat-row>
                  </mat-table>
                  <mat-paginator #paginatorSelectedReturn [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons>
                  </mat-paginator>
                </div>
              </div>
              <div class="bg-white align-self-center col-12 laterais_tabs mt-0 ms-0 me-0 pt-4 ps-5 pe-5">
                <div class="col ms-0 ps-0">
                  <hr>
                  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
                    <span class="navbar-text me-2 align-self-center ms-0 me-0">
                      <button id="btn5a1" [routerLink]="['/']"
                              class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
                              wappler-command="editContent">
                        {{'generalKeywords.exit'|translate|uppercase}}&nbsp;
                        <span class="exit-to-app icon-exit-to-app"></span>
                        <!--<img
                            src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">-->
                      </button>

                      <button id="btn5a2" (click)="nextPage()"
                              class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3"
                              wappler-command="editContent">
                        {{'generalKeywords.next'|translate|uppercase}}&nbsp;<img src="assets/images/arrow_forward_ios.svg"
                                                                                 style="height: 25px !important; vertical-align: sub;">
                      </button>
                    </span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
