<!--header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">OnbComerciantes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/client']">Comerciante</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/comprovativos']"> Comprovativos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/stakeholders']">Intervenientes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/store-comp']">Lojas</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/commercial-offert-list']">Oferta comercial</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/info-declarativa']">Info Declarativa</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<header class="bg-dark shadow-lg fixed-top">

  <div class="container">
      <div class="row">
          <div class="col">
              <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                  <div class="container-fluid padding-navbarra">
                      <a href="index.html">
                          <img src="assets/images/logo_base_unicre.svg" class="img-fluid logo-topo logo_topo"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse bg-dark navbar-dark" id="navbarSupportedContent" [ngClass]="{ show: isExpanded }">
                          <ul class="navbar-nav flex-grow">
                            <li class="nav-item"
                                [routerLinkActive]="['link-active']"
                                [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link active" [routerLink]="['/']">Home</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['link-active']">
                              <a class="nav-link active" [routerLink]="['/client']">Comerciante</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['link-active']">
                              <a class="nav-link active" [routerLink]="['/comprovativos']"> Comprovativos</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['link-active']">
                              <a class="nav-link active" [routerLink]="['/stakeholders']">Intervenientes</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['link-active']">
                              <a class="nav-link active" [routerLink]="['/store-comp']">Lojas</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['link-active']">
                              <a class="nav-link active" [routerLink]="['/commercial-offert-list']">Oferta comercial</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['link-active']">
                              <a class="nav-link active" [routerLink]="['/info-declarativa']">Info Declarativa</a>
                            </li>
                          </ul>
                          <form class="d-flex">
                              <input class="form-control me-2 form-control-sm" type="search" placeholder="Nº processo" aria-label="Search">
                              <button class="btn btn-sm btn-outline-primary" type="submit">Procurar</button>
                          </form>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header-->

<!-- Wappler include head-page="../index_server_side" appConnect="local" is="dmx-app" bootstrap5="local" fontawesome_5="cdn" -->
<header class="bg-dark shadow-lg fixed-top">

  <div class="container">
      <div class="row">
          <div class="col">
              <nav class="navbar navbar-expand-lg bg-dark text-light navbar-dark">
                  <div class="container-fluid padding-navbarra ps-2 pe-2">
                      <a class="navbar-brand" href="index.html">
                          <img src="assets/images/logo_base_unicre.svg" class="img-fluid logo-topo logo_topo"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">INÍCIO</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">UTILIZADOR</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">FAQS</a>
                              </li>
                          </ul>

                          <form class="d-flex">
                              <input class="form-control me-2 form-control-sm" type="search" placeholder="Nº processo" aria-label="Search">
                              <button class="btn btn-sm btn-outline-primary" type="submit">Procurar</button>
                          </form>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>