<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <span class="navbar-text text-light">
          <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
        </span>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">{{'footer.contact'|translate|uppercase}}</h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 bg-white align-self-center col-10 ps-3">
      <h2 class="text-primary mt-5 ps-0 ">
        <img src="assets/images/contact_support.svg"
                   class="material-symbols-rounded fa-lg icons-sidenav m-align">&nbsp;{{'footer.supportContact.title'|translate|uppercase}}
      </h2>
      <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate|uppercase}}</p>
      <p class="text-primary">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur lobortis mattis. Aenean id pharetra nunc, id pharetra arcu. Phasellus posuere erat in facilisis tincidunt. Sed id luctus nisl. Aliquam nec erat quis magna hendrerit iaculis.&nbsp; Caso&nbsp;</span>
        <br>
      </p>
      <p></p>
      <div class="row ms-0 me-0">
        <div class="col-6 ms-0 me-0 ps-0 pe-5">
          <p class="titulo-form-simples"></p>
        </div>
        <div class="offset-1 ms-0 me-0 ps-5 pe-0 col-6">
          <img src="assets/images/pipe.JPG" height="20PX">
        </div>
        <div class="col-6 ms-0 me-0 ps-0 pe-5">
          <p class="titulo-form-simples mt-0">{{'footer.supportContact.name'|translate|uppercase}}</p>
          <input id="text8" name="text5" type="text" class="form-control campo_form">
          <p class="titulo-form-simples mt-0">{{'footer.supportContact.email'|translate|uppercase}}*</p>
          <input id="text3" name="text3" type="text" class="form-control campo_form">
          <p class="titulo-form-simples">{{'footer.supportContact.contactType'|translate|uppercase}}</p>
          <select id="select3" class="form-select  campo_form">
            <option value="1"></option>
            <option value="2">Outro1</option>
            <option value="3">Outro2</option>
          </select>
          <p class="titulo-form-simples">{{'footer.supportContact.subject'|translate|uppercase}}*</p>
          <input id="text1" name="text1" type="text" class="form-control campo_form">
          <p class="titulo-form-simples mt-0">{{'footer.supportContact.message'|translate|uppercase}}:</p>
          <textarea id="text4" class="form-control campo_form"></textarea>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input1" name="input1">
            <label class="form-check-label text-primary" for="input1">Aceito enviar os dados deste formulário, para&nbsp; nulla dignissim, velit pulvinar dignissim malesuada, nibh quam sollicitudin sem, ac scelerisque ante tellus ac libero.&nbsp;&nbsp;</label>
          </div>
        </div>
        <div class="col-6 ms-0 me-0 ps-5 pe-0">
          <img src="assets/images/pipe.JPG" height="90PX">
          <p class="titulo-form-simples"></p>
        </div>
        <div class="offset-1 ms-0 me-0 ps-0 pe-0 col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light pb-3">
            <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0"></span>
            <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0"></span>
            <span class="navbar-text"></span>
          </nav>
        </div>
      </div>
      <div class="col ms-0 ps-0">
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
          <span class="navbar-text me-2 align-self-center ms-0 me-0">
            <button id="btn5a2" class="btn botao_azul center-align center-align text-start vertical-align: baseline; mt-3 mb-0 ms-1 me-1 pt-3 pb-3 ps-3 btn-lg" wappler-command="editContent">ENVIAR&nbsp; 
              <span class="material-symbols-rounded center-align">arrow_forward_ios </span>
            </button></span>
        </nav>
      </div>
    </div>
  </div>
</div>