<div>
    <p><b>IDENTIFICAÇÃO DO COMERCIANTE</b></p>
    <div class="form-group">
      <label for="clientTypology">Qual a tipologia do Comerciante?*</label><br>
  
      <input required ngModel name="clientTypology" type="radio" value=true #clientTypology="ngModel" id="clientTypology" (click)="activateButtons(true)" >
      <label for="eni">Empresa</label><br>
      
      <input required ngModel name="clientTypology" type="radio" value=false #clientTypology="ngModel" id="clientTypology" (click)="activateButtons(true)" >
      <label for="eni">ENI</label>
  
    </div>
      <div *ngIf="showButtons" >
        <div>
          <b>Pesquise o Cliente:</b>
          <div class="docType-drop-down" formGroupName="formDocType" >
            <label for="docType">Tipo de Documento:*</label>
            <form>
              <select class="form-select" (click)="changeListElementDocType(docType, $event)" id="docType" [(ngModel)]="newClient.docType">
                <option value="disabled">Tipo de Documento:</option>
                <option *ngFor="let docType of ListaDocType" value={{docType.docTypeOption}}>{{docType.docTypeOption}} </option>
              </select>
            </form>
          </div>
        </div>
      
        <br>
      
        <form>
          <label>Número do Documento:* </label>
          <input id="n-doc" type="text" #box (keyup)="getValueSearch(box.value)"> Enter
        </form>
        <p>Valor pesquisado: {{displayValueSearch}}</p>
      
        <div *ngIf="showWarning" class="row container-fluid" id="divshow" text="red">
          <b>Não existe Comerciante com esse número.</b>
        </div>

        <div>
            <div *ngIf="hasClient" class="row container-fluid" id="divshow">
                <div class='table table-striped' aria-labelledby="tableLabel" *ngIf="hasClient">
                    <div ng-app="CadClientes" ng-controller="ClientesController">
                        <form>
                            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="hasClient">
                                <thead>
                                    <tr>
                                    <th></th>
                                    <th>ID - interno</th>
                                    <th>N. Cliente</th>
                                    <th>Tipo de Doumento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <input type="hidden" name="id" id="id" value={{newClient.newClientNr}}>
                                        <td><input type="radio" value={{newClient.docType}}><br></td>
                                        <td>{{newClient.newClientNr}}</td>
                                        <td>{{newClient.docType}}</td>
                                        <td>{{newClient.docNr}}</td>
                                    </tr>
                                </tbody>
                                <button (click)="obterSelecionado(newClient.newClientNr)">Seguinte</button>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
