<app-nav-menu-interna></app-nav-menu-interna>
<form [formGroup]="form" name="form" (ngSubmit)="submit()">
  <div class="container">
    <div class="row">
      <form [formGroup]="form" name="form" (ngSubmit)="submit()">

        <div class="row bg-white">
          <p></p>
          <p></p>
          <p></p>
          <app-barrazul-home></app-barrazul-home>
          <div class="row">
            <div class="offset-1 col-10">
              <h1 class="mt-4 text-primary"><i class="fas fa-building"></i>&nbsp;Caracterização social da empresa:</h1>
            </div>
            <div class="offset-1 bg-white col-7 col-xxl-10">
              <div class="row">
                <div class="col-xxl col-6 col-xxl-6">
                  <div>
                    <p class="titulo-form-simples" for="natJuridicaNIFNIPC">NIF/NIPC:*</p>
                    <input required minlength="2" maxlength="100" formControlName="natJuridicaNIFNIPC"
                           name="natJuridicaNIFNIPC" type="text" id="natJuridicaNIFNIPC" class="form-control campo_form" readonly />
                    <div class="alert alert-danger" *ngIf="this.form.get('natJuridicaNIFNIPC').touched && !this.form.get('natJuridicaNIFNIPC').valid">
                      <div *ngIf="this.form.get('natJuridicaNIFNIPC').errors && this.form.get('natJuridicaNIFNIPC').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <p class="">A empresa é uma Sociedade Comercial?*</p>
                  <div class="form-check">
                    <input class="form-check-input" required formControlName="commercialSociety" name="commercialSociety" type="radio" [value]=true
                           id="commercialSociety" (click)="setCommercialSociety(true)">
                    <label class="radio">Sim</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" required formControlName="commercialSociety" name="commercialSociety" type="radio" [value]=false
                           id="commercialSociety" (click)="setCommercialSociety(false)">
                    <label class="radio" for="radio2">Não</label>
                  </div>
                  <div class="alert alert-danger" *ngIf="this.form.get('commercialSociety').touched && !this.form.get('commercialSociety').valid">
                    <div *ngIf="this.form.get('commercialSociety').errors && this.form.get('commercialSociety').errors?.['required']">
                      O parâmetro acima é obrigatório.
                    </div>
                  </div>
                  <div *ngIf="isCommercialSociety == undefined || isCommercialSociety == true">
                    <p class="titulo-form-simples">Código de Certidão do Registo Comercial:</p>
                    <input required minlength="2" maxlength="100" formControlName="crcCode" name="crcCode" type="text"
                           id="crcCode" class="form-control campo_form mb-0" (focusout)="searchByCRC()" />
                    <div class="alert alert-danger" *ngIf="this.form.get('crcCode').touched && !this.form.get('crcCode').valid">
                      <div *ngIf="this.form.get('crcCode').errors && this.form.get('crcCode').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
                <br>
                <hr>
              </div>
            </div>
            <div *ngIf="isCommercialSociety && crcFound">
              <div class="offset-1 bg-white col-7 col-xxl-10">
                <div class="row">
                  <div class="col-xxl col-6">
                    <div>
                      <p class="titulo-form-simples" for="natJuridicaN1">Natureza Jurídica N1:</p>
                      <select required formControlName="natJuridicaN1" name="natJuridicaN1" id="natJuridicaN1"
                              class="form-control campo_form"
                              (change)="onLegalNatureSelected()">
                        <option value="" selected disabled hidden>Selecione</option>
                        <option value="teste">Teste</option>
                        <option *ngFor="let legalNature of legalNatureList" value="{{legalNature.code}}">{{legalNature.description}}</option>
                      </select>
                      <div class="alert alert-danger" *ngIf="this.form.get('natJuridicaN1').touched && !this.form.get('natJuridicaN1').valid">
                        <div *ngIf="this.form.get('natJuridicaN1').hasError('required')">
                          O parâmetro acima é obrigatórioaa.
                        </div>
                      </div>
                    </div>
                    <div>
                      <p class="titulo-form-simples" for="natJuridicaN2">Natureza Jurídica N2:</p>
                      <select required formControlName="natJuridicaN2" name="natJuridicaN2" id="natJuridicaN2"
                              class="form-control campo_form">
                        <option value="" selected disabled hidden>Selecione</option>
                        <option *ngFor="let legalNature2 of legalNatureList2" value="{{legalNature2.code}}">{{legalNature2.description}}</option>
                      </select>
                      <div class="alert alert-danger" *ngIf="this.form.get('natJuridicaN2').touched && !this.form.get('natJuridicaN2').valid">
                        <div *ngIf="this.form.get('natJuridicaN2').errors && this.form.get('natJuridicaN2').errors?.['required']">
                          O parâmetro acima é obrigatório.
                        </div>
                      </div>
                    </div>
                    <div>
                      <p class="titulo-form-simples" for="CAE1">CAE Principal:</p>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let cae of CAEsList" [value]="cae.code">
                          {{cae.description}}
                        </mat-option>
                      </mat-autocomplete>

                      <input required formControlName="CAE1" name="CAE1" type="search" id="CAE1"
                             class="form-control campo-form"
                             [readonly]="clientExists">
                      <div class="alert alert-danger" *ngIf="this.form.get('CAE1').touched && !this.form.get('CAE1').valid">
                        <div *ngIf="this.form.get('CAE1').errors && this.form.get('CAE1').errors?.['required']">
                          O parâmetro acima é obrigatório.
                        </div>
                      </div>
                    </div>
                    <div>
                      <p class="titulo-form-simples" for="CAESecondary1">CAE Secundário 1: </p>
                      <input required minlength="2" maxlength="100" formControlName="CAESecondary1" name="CAESecondary1"
                             type="text" id="CAESecondary1" class="form-control campo_form"
                             [readonly]="clientExists">
                      <div class="alert alert-danger" *ngIf="this.form.get('CAESecondary1').touched && !this.form.get('CAESecondary1').valid">
                        <div *ngIf="this.form.get('CAESecondary1').errors && this.form.get('CAESecondary1').errors?.['required']">
                          O parâmetro acima é obrigatório.
                        </div>
                      </div>
                    </div>
                    <div>
                      <p class="titulo-form-simples" for="CAESecondary2">CAE Secundário 2: </p>
                      <input required minlength="2" maxlength="100" formControlName="CAESecondary2" name="CAESecondary2"
                             type="text" id="CAESecondary2" class="form-control campo_form"
                             [readonly]="clientExists">
                      <div class="alert alert-danger" *ngIf="this.form.get('CAESecondary2').touched && !this.form.get('CAESecondary2').valid">
                        <div *ngIf="this.form.get('CAESecondary2').errors && this.form.get('CAESecondary2').errors?.['required']">
                          O parâmetro acima é obrigatório.
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-xxl col-7">
                  <div>
                    <p class="titulo-form-simples" for="natJuridicaNIFNIPC">NIF/NIPC:</p>
                    <input required minlength="2" maxlength="100" formControlName="natJuridicaNIFNIPC"
                           name="natJuridicaNIFNIPC" type="text" id="natJuridicaNIFNIPC" class="form-control campo_form" [readonly]="clientExists" />
                    <div class="alert alert-danger" *ngIf="this.form.get('natJuridicaNIFNIPC').touched && !this.form.get('natJuridicaNIFNIPC').valid">
                      <div *ngIf="this.form.get('natJuridicaNIFNIPC').errors && this.form.get('natJuridicaNIFNIPC').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="titulo-form-simples" for="socialDenomination">Denominação Social:* </p>
                    <input required minlength="2" maxlength="100" formControlName="socialDenomination"
                           name="socialDenomination" type="text" id="socialDenomination" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('socialDenomination').touched && !this.form.get('socialDenomination').valid">
                      <div *ngIf="this.form.get('socialDenomination').errors && this.form.get('socialDenomination').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="titulo-form-simples" for="CAE1Branch">Ramo de Negócio de Objeto Social Principal*: </p>
                    <div *ngIf="this.form.get('CAE1').errors"-->
<!-- tem erros, nao pode receber -->
                    <input disabled minlength="2" maxlength="100" formControlName="CAE1Branch" name="CAE1Branch"
                             type="text" id="CAE1Branch" class="form-control campo_form" [readonly]="clientExists">
                    </div>
                    <div *ngIf="!this.form.get('CAE1').errors">
                      <input minlength="2" maxlength="100" formControlName="CAE1Branch" name="CAE1Branch"
                             type="text" id="CAE1Branch" class="form-control campo_form" [readonly]="clientExists">
                    </div>
                    <div class="alert alert-danger" *ngIf="this.form.get('CAE1').touched">
                      <div *ngIf="this.form.get('CAE1').errors">
                        Interagiram com o CAE. CAE não é valido.
                      </div>
                      <div *ngIf="this.form.get('CAE1').valid">
                        Interagiram com o CAE. CAE é valido (tem mais de 2 caracteres).
                      </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="this.form.get('CAE1Branch').touched && !this.form.get('CAE1Branch').valid">
                      <div class="alert alert-danger" *ngIf="this.form.controls['CAE1Branch'].errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="titulo-form-simples" for="ramoSecundario1">Ramo de Negócio de Objeto Social Secundário 1: </p>
                    <input required minlength="2" maxlength="100" formControlName="CAESecondary1Branch" name="ramoSecundario1"
                           type="text" id="ramoSecundario1" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('CAESecondary1Branch').touched && !this.form.get('CAESecondary1Branch').valid">
                      <div *ngIf="this.form.get('CAESecondary1Branch').errors && this.form.get('CAESecondary1Branch').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="titulo-form-simples" for="ramoSecundario2">Ramo de Negócio de Objeto Social Secundário 2: </p>
                    <input required minlength="2" maxlength="100" formControlName="CAESecondary2Branch" name="ramoSecundario2"
                           type="text" id="ramoSecundario2" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('CAESecondary2Branch').touched && !this.form.get('CAESecondary2Branch').valid">
                      <div *ngIf="this.form.get('CAESecondary2Branch').errors && this.form.get('CAESecondary2Branch').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="offset-1 bg-white col-7 col-xxl-10">
              <div class="row">
                <div class="col-xxl col-6">
                  <p class="titulo-form-simples" for="dataConst">Data Constituição: </p>
                  <input required formControlName="constitutionDate" type="date"
                         id="dataConst" class="form-control campo_form" [readonly]="clientExists">
                  <div class="alert alert-danger" *ngIf="this.form.get('constitutionDate').touched && !this.form.get('constitutionDate').valid">
                    <div *ngIf="this.form.get('constitutionDate').errors && this.form.get('constitutionDate').errors?.['required']">
                      O parâmetro acima é obrigatório.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-1 bg-white col-7 col-xxl-10">
              <div class="row">
                <div class="col-xxl col-6">
                  <div>
                    <p class="titulo-form-simples" for="paisSedeSocial">País da Sede Social: </p>
                    <input required minlength="2" maxlength="100" formControlName="country" name="paisSedeSocial"
                           type="text" id="paisSedeSocial" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('country').touched && !this.form.get('country').valid">
                      <div *ngIf="this.form.get('country').errors && this.form.get('country').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="titulo-form-simples" for="ZIPCode">Código-Postal da Sede Social: </p>
                    <input required minlength="2" maxlength="100" formControlName="ZIPCode" name="ZIPCode"
                           type="text" id="ZIPCode" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('ZIPCode').touched && !this.form.get('ZIPCode').valid">
                      <div *ngIf="this.form.get('ZIPCode').errors && this.form.get('ZIPCode').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl col-7">
                  <div>
                    <p class="titulo-form-simples" for="localidadeSedeSocial">Localidade da Sede Social: </p>
                    <input required minlength="2" maxlength="100" formControlName="location"
                           name="localidadeSedeSocial" type="text" id="localidadeSedeSocial" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('location').touched && !this.form.get('location').valid">
                      <div *ngIf="this.form.get('location').errors && this.form.get('location').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="titulo-form-simples" for="moradaSedeSocial">Morada da Sede Social: </p>
                    <textarea required minlength="2" maxlength="100" formControlName="address"
                              name="moradaSedeSocial" type="text" id="moradaSedeSocial" class="form-control campo_form"
                              [readonly]="clientExists" rows="3"></textarea>
                    <div class="alert alert-danger" *ngIf="this.form.get('address').touched && !this.form.get('address').valid">
                      <div *ngIf="this.form.get('address').errors && this.form.get('address').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>

                  </div>
                </div>
              </div>
              <p></p>
              <p></p>
              <p></p>
            </div>
            <div *ngIf="isCommercialSociety == false && tipologia==='Company'">
              <div class="offset-1 bg-white col-7 col-xxl-10">
                <div class="row">
                  <div class="col-xxl col-6">
                    <p class="titulo-form-simples" for="natJuridicaN1">Natureza Jurídica N1:</p>
                    <select required ngModel #natJuridicaN1="ngModel" name="natJuridicaN1" id="natJuridicaN1"
                            class="form-control campo_form" [(ngModel)]="client.legalNature"
                            (change)="onLegalNatureSelected()">
                      <option value="">Selecione</option>
                      <option *ngFor="let legalNature of legalNatureList" value="{{legalNature.code}}">{{legalNature.description}}</option>
                    </select>

                    <p class="titulo-form-simples" for="natJuridicaN2">Natureza Jurídica N2:</p>
                    <select ngModel #natJuridicaN2="ngModel" name="natJuridicaN2" id="natJuridicaN2"
                            class="form-control campo_form" [(ngModel)]="client.legalNature2">
                      <option value="">Selecione:</option>
                      <option *ngFor="let legalNature2 of legalNatureList2" value="{{legalNature2.code}}">{{legalNature2.description}}</option>
                    </select>

                  </div>
                  <div class="col-xxl col-7">
                    <p class="titulo-form-simples" for="socialDenomination">Denominação Social:* </p>
                    <input required minlength="2" maxlength="100" ngModel #socialDenomination="ngModel"
                           name="socialDenomination" type="text" id="socialDenomination" class="form-control campo_form"
                           [(ngModel)]="client.companyName" readonly>
                  </div>

                </div>
              </div>
            </div>
            <div *ngIf="isCommercialSociety == false && tipologia === 'ENI'">
              <div class="offset-1 bg-white col-7 col-xxl-10">
                <div class="row">
                  <div class="col-xxl col-6">
                    <p class="titulo-form-simples" for="socialDenomination">Denominação Social/Nome ENI:* </p>
                    <input required minlength="2" maxlength="100" ngModel #socialDenomination="ngModel"
                           name="socialDenomination" type="text" id="socialDenomination" class="form-control campo_form"
                           [readonly]="clientExists">
                    <div class="alert alert-danger" *ngIf="this.form.get('socialDenomination').touched && !this.form.get('socialDenomination').valid">
                      <div *ngIf="this.form.get('socialDenomination').errors && this.form.get('socialDenomination').errors?.['required']">
                        O parâmetro acima é obrigatório.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-barrazul-home></app-barrazul-home>
        <div class="offset-1 col-10">
          <h1 class="mt-4 text-primary"><i class="fas fa-building"></i>&nbsp;Informação Complementar da Empresa:</h1>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="offset-1 bg-white col-7 col-xxl-10">
          <div class="row">
            <div class="col-xxl col-6">

              <p class="titulo-form-simples" for="expectableAnualInvoicing">Faturação Anual Expectável* </p>
              <input required minlength="2" maxlength="100" formControlName="expectableAnualInvoicing"
                     name="expectableAnualInvoicing" type="number" id="expectableAnualInvoicing"
                     class="form-control campo_form" [readonly]="clientExists">
              <div class="alert alert-danger" *ngIf="this.form.get('expectableAnualInvoicing').touched && !this.form.get('expectableAnualInvoicing').valid">
                <div *ngIf="this.form.get('expectableAnualInvoicing').errors && this.form.get('expectableAnualInvoicing').errors?.['required']">
                  O parâmetro acima é obrigatório.
                </div>
              </div>

              <p class="titulo-form-simples" for="services">Produtos Vendidos/ Serviços Prestados* </p>
              <input required minlength="2" maxlength="100" formControlName="services" name="services" type="text"
                     id="services" class="form-control campo_form" [readonly]="clientExists">
              <div class="alert alert-danger" *ngIf="this.form.get('services').touched && !this.form.get('services').valid">
                <div *ngIf="this.form.get('services').errors && this.form.get('services').errors?.['required']">
                  O parâmetro acima é obrigatório.
                </div>
              </div>

              <p class="titulo-form-simples" for="transactionsAverage">Transações Média* </p>
              <input required minlength="2" maxlength="100" formControlName="transactionsAverage"
                     name="transactionsAverage" type="number" id="transactionsAverage" class="form-control campo_form"
                     [readonly]="clientExists">
              <div class="alert alert-danger" *ngIf="this.form.get('transactionsAverage').touched && !this.form.get('transactionsAverage').valid">
                <div *ngIf="this.form.get('transactionsAverage').errors && this.form.get('transactionsAverage').errors?.['required']">
                  O parâmetro acima é obrigatório.
                </div>
              </div>


              <div>
                <p class="titulo-form-simples" for="preferenceDocuments">
                  Selecione a sua preferência de receção de
                  documentação:
                </p>
                <input required name="preferenceDocuments" type="radio" value="100digital"
                       formControlName="preferenceDocuments" id="preferenceDocuments">
                <label class="titulo-form-simples" for="100digital">100% Digital</label> &nbsp;&nbsp;

                <input required name="preferenceDocuments" type="radio" value="docuemntacaoPorCarta"
                       formControlName="preferenceDocuments" id="preferenceDocuments">
                <label class="titulo-form-simples" for="documetacaoPorCarta">Documentação por carta</label><br><br>

                <div class="alert alert-danger" *ngIf="this.form.get('preferenceDocuments').touched && !this.form.get('preferenceDocuments').valid">
                  <div *ngIf="this.form.get('preferenceDocuments').errors && this.form.get('preferenceDocuments').errors?.['required']">
                    O parâmetro acima é obrigatório.
                  </div>
                </div>
              </div>
              <div>
                <p class="titulo-form-simples" for="">Pretende associar a empresa a Grupo/Franchise existente? </p>

                <input name="associatedWithGroupOrFranchise" type="radio" [value]="true"
                       formControlName="associatedWithGroupOrFranchise" id="associatedWithGroupOrFranchise" (click)="setAssociatedWith(true)">
                <label class="titulo-form-simples" for="associatedWithGroupOrFranchise">Sim</label> &nbsp;&nbsp;

                <input name="associatedWithGroupOrFranchise" type="radio" [value]="false"
                       formControlName="associatedWithGroupOrFranchise" id="associatedWithGroupOrFranchise" (click)="setAssociatedWith(false)">
                <label class="titulo-form-simples" for="associatedWithGroupOrFranchise">Não</label><br><br>

              </div>

              <div *ngIf="associatedWithGroupOrFranchise">

                <div>
                  <p class="titulo-form-simples" for="franchiseName"> Nome Franchise</p>
                  <input required formControlName="franchiseName" name="franchiseName"
                         type="text" id="franchiseName" class="form-control campo_form"
                         [readonly]="clientExists || isAssociatedWithFranchise == false">
                  <div class="alert alert-danger" *ngIf="this.form.get('franchiseName').touched && !this.form.get('franchiseName').valid">
                    <div *ngIf="this.form.get('franchiseName').errors && this.form.get('franchiseName').errors?.['required']">
                      O parâmetro acima é obrigatório.
                    </div>
                  </div>
                </div>

                <div>
                  <p class="titulo-form-simples" for="NIPCGroup">NIPC Grupo</p>

                  <input required minlength="2" maxlength="100" formControlName="NIPCGroup"
                         name="NIPCGroup"  type="number" id="NIPCGroup" class="form-control campo_form" [readonly]="clientExists || isAssociatedWithFranchise" />
                  <div class="alert alert-danger" *ngIf="this.form.get('NIPCGroup').touched && !this.form.get('NIPCGroup').valid">
                    <div *ngIf="this.form.get('NIPCGroup').errors && this.form.get('NIPCGroup').errors?.['required']">
                      O parâmetro acima é obrigatório.
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-xxl col-7">
              <p class="titulo-form-simples" for="destinationCountries">Países de Destino dos Produtos Serviços*</p>

              <div class="border border-dark">
                <div *ngFor="let continent of continentsList">
                  <input #{{continent}}
                         name="{{continent}}" type="checkbox" id="{{continent}}" (change)="continentSelected($event)">
                  <label for="{{continent}}"> {{continent}} </label>
                </div>

                <br>

                <div class="border border-primary" style="overflow:scroll; height:200px;">
                  <div *ngFor="let continent of checkedContinents">
                    <div *ngFor="let country of countryList">
                      <div *ngIf="country.continent == continent && client.sales.servicesOrProductsDestinations.indexOf(country.description) > -1">
                        <input #{{country.description}}
                               name="{{country.description}}" type="checkbox" id="{{country.description}}"
                               (change)="onCountryChange($event)" checked>
                        <label for="{{country.description}}" class=""> {{country.description}} </label>
                      </div>
                      <div *ngIf="country.continent == continent && client.sales.servicesOrProductsDestinations.indexOf(country.description) == -1">
                        <input #{{country.description}}
                               name="{{country.description}}" type="checkbox" id="{{country.description}}"
                               (change)="onCountryChange($event)">
                        <label for="{{country.description}}" class=""> {{country.description}} </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredOptions | async" [value]="country.description">
                      {{country.description}}
                    </mat-option>
                  </mat-autocomplete>

                  <input type="text" class="form-control campo-form"
                         matInput
                         id="countryName"
                         name="countryName"
                         #countryName
                         [formControl]="myControl"
                         [matAutocomplete]="auto"
                         [(ngModel)]="countryVal">
                  <!--Não tenho a certeza se é necessário ter aqui o ngModel e o formControl-->
                  <!--<input type="text" id="countryName" name="countryName" #countryName [(ngModel)]="countryVal">-->
                  <button (click)="addCountryToList(countryName.value)">Adicionar</button>

                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="container">
          <div class="row mb-xxl-5">
            <div class="col-xxl offset-xxl-1 col-xxl-5 offset-1 col-10 mb-5">
              <button id="btn4a"
                      type="button"
                      (click)="redirectHomePage()"
                      class="btn text-start mt-3 btn-primary style10 text-primary bg-light btn-lg">
                SAIR&nbsp;<i class="fas fa-angle-down"></i>
              </button>

              <button id="btn3a" class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg" type="button" (click)="redirectBeginningClient()">
                <i class="fas fa-angle-left"></i>&nbsp;VOLTAR
              </button>

              <button type="submit" id="btn5a" class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg">
                AVANÇAR&nbsp;<i class="fas fa-angle-right">&nbsp;</i>
              </button>
            </div>

          </div>
        </div>
        </form>

    </div> <!--fecha row-->
  </div>
</form>


<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row ms-0 me-0 ps-0 pe-0">
    <div class="bg-primary col-12 mt-0 pt-0 ps-0 pe-0 shadow-none">
    </div>
    <div class="row">
      <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0"><span
            class="navbar-text text-light">
            <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
          </span>
          <span class="navbar-text">
            <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">CLIENTE
              EMPRESA</h5>
          </span>
        </nav>
      </div>
    </div>
    <div class="offset-1 bg-white align-self-center col-10 mt-0 pt-0 ps-0">
      <h2 class="text-primary mt-5 ps-3"><span class="material-symbols-rounded icon-titulos m-align">
          filter
        </span>&nbsp;CARACTERIZAÇÃO SOCIAL DA EMPRESA</h2>
      <p class="titul campo_obrigatrio ps-3">* campo obrigatório</p>
      <div class="row">
        <div class="col-6 ms-3 me-3 ps-3 pe-3">
          <p class="titulo-form-simples">NIF/NIPC*</p>
          <input required minlength="2" maxlength="100" formControlName="natJuridicaNIFNIPC" name="natJuridicaNIFNIPC"
            type="text" id="natJuridicaNIFNIPC" class="form-control campo_form" readonly />
          <div class="alert alert-danger"
            *ngIf="this.form.get('natJuridicaNIFNIPC').touched && !this.form.get('natJuridicaNIFNIPC').valid">
            <div
              *ngIf="this.form.get('natJuridicaNIFNIPC').errors && this.form.get('natJuridicaNIFNIPC').errors?.['required']">
              O parâmetro acima é obrigatório.
            </div>
          </div>
          <p class="titulo-form-simples">a empresa é uma sociedade comercial?*</p>
          <div class="form-check">
            <input class="form-check-input" required formControlName="commercialSociety" name="commercialSociety"
              type="radio" [value]=true id="commercialSociety" (click)="setCommercialSociety(true)">
            <label class="form-check-label radio">Sim</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" required formControlName="commercialSociety" name="commercialSociety"
              type="radio" [value]=false id="commercialSociety" (click)="setCommercialSociety(false)">
            <label class="form-check-label radio" for="radio2">Não</label>
          </div>
          <p class="titulo-form-simples">CÓDIGO DE CERTIDÃO DO REGISTO COMERCIAL:</p>
          <input required minlength="2" maxlength="100" formControlName="crcCode" name="crcCode" type="text"
            id="crcCode" class="form-control campo_form" (focusout)="searchByCRC()" />
        </div>
      </div>
    </div>
    <div class="offset-1 bg-white col-7 col-10 mb-5 pb-0 pe-0">
      <div class="row me-0 pe-0">
        <hr>
      </div>
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
            <span class="navbar-text me-2 align-self-center ms-0 me-0"><button id="btn5a1"
                class="btn botao_branco_pesquisa center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-3 me-2 pt-3 pb-3 ps-3 pe-3"
                wappler-command="editContent">SAIR&nbsp;<span class="material-symbols-rounded m-align"><img
                    src="assets/images/exit_to_app.svg" style="height: 25px !important;">
                </span></button></span>
            <button id="btn5a3"
              class="btn botao_azul_pesquisa center-align text-start vertical-align: baseline; mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3 btn-lg"
              wappler-command="editContent"><span class="material-symbols-rounded m-align">
                <img src="assets/images/arrow_back_ios.svg" style="height: 25px !important;">
              </span>VOLTAR&nbsp;</button>
            <button id="btn5a2"
              class="btn botao_azul_pesquisa center-align center-align text-start vertical-align: baseline; mt-3 mb-0 ms-1 me-1 pt-3 pb-3 ps-3 btn-lg"
              wappler-command="editContent">CONTINUAR&nbsp;<span class="material-symbols-rounded m-align">
                <img src="assets/images/arrow_forward_ios.svg" style="height: 25px !important;">
              </span></button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
