<app-nav-menu-interna *ngIf="!edit"></app-nav-menu-interna>
<div class="container-fluid  mt-0 ms-0 me-0 pt-0 ps-0 pe-0" [ngClass]="{'conteudo' : !edit}">
  <form [formGroup]="formStores" name="formStores">
    <div class="row">
      <div *ngIf="!edit" class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
          <span class="navbar-text text-light">
            <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
          </span>
          <span class="navbar-text">
            <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
              {{'stores.title'|translate|uppercase}}</h5>
          </span>
        </nav>
      </div>
      <div *ngIf="!edit">
        <h2 class="text-primary mt-5 ps-0 "><img src="assets/images/storefront.svg"
            class="img_add">&nbsp;{{'stores.information'|translate|uppercase}}</h2>
        <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
      </div>
      <div>
        <div class="row ps-2">
          <div class="col-12 ms-0 me-0 ps-5 pe-0">
            <div class="row">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">{{'stores.name'|translate}}*</p>
                <input formControlName="storeName" id="text2" name="text2" type="text" class="form-control campo_form">
                <div class="alert alert-danger"
                  *ngIf="this.formStores.get('storeName').touched && !this.formStores.get('storeName').valid">
                  <div
                    *ngIf="this.formStores.get('storeName').errors && this.formStores.get('storeName').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.contactPointName'|translate}}*
                </p>
                <input formControlName="contactPoint" id="text5" name="contactPoint" type="text"
                       class="form-control campo_form">
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('contactPoint').touched && !this.formStores.get('contactPoint').valid">
                  <div *ngIf="this.formStores.get('contactPoint').errors && this.formStores.get('contactPoint').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!clientHasCAE">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">{{'stores.activity'|translate}}*</p>
                <select class="form-select campo-form-select" id="activityStores" name="activityStores" formControlName="activityStores">
                  <option *ngFor="let activity of activities" value={{activity.activityCode}}>
                    {{activity.activityDescription}}
                  </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('activityStores').touched && !this.formStores.get('activityStores').valid">
                  <div *ngIf="this.formStores.get('activityStores').errors && this.formStores.get('activityStores').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">{{'stores.subActivity'|translate}}*</p>
                <select class="form-select campo-form-select" id="subactivityStore" name="subactivityStore" formControlName="subactivityStore">
                  <option value="" hidden></option>
                  <option *ngFor="let subActivity of subActivities" value={{subActivity.subActivityCode}}>
                    {{subActivity.subActivityDescription}}
                  </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('subactivityStore').touched && !this.formStores.get('subactivityStore').valid">
                  <div *ngIf="this.formStores.get('subactivityStore').errors && this.formStores.get('subactivityStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="clientHasCAE">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">{{'stores.activity'|translate}}*</p>
                <select class="form-select campo-form-select" id="activityStores" formControlName="activityStores">
                  <option value="" hidden></option>
                  <option *ngFor="let activity of activity" value={{activity.activityCode}}>
                    {{activity.activityDescription}}
                  </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('activityStores').touched && !this.formStores.get('activityStores').valid">
                  <div *ngIf="this.formStores.get('activityStores').errors && this.formStores.get('activityStores').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">{{'stores.subActivity'|translate}}*</p>
                <select class="form-select campo-form-select" id="subactivityStore" formControlName="subactivityStore">
                  <option value="" hidden></option>
                  <option *ngFor="let subActivity of subActivity" value={{subActivity.subActivityCode}}>
                    {{subActivity.subActivityDescription}}
                  </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('subactivityStore').touched && !this.formStores.get('subactivityStore').valid">
                  <div *ngIf="this.formStores.get('subactivityStore').errors && this.formStores.get('subactivityStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <p class="titulo-form-simples mb-3">
                  {{'stores.replicateAddress'|translate}}*
                </p>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <span class="navbar-text">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="replicate" [value]=true
                        id="replicate" name="replicate" (click)="chooseAddress(true)"><label
                        class="form-check-label radio pe-5"
                        >{{'generalKeywords.yes'|translate|uppercase}}</label>
                    </div>
                  </span><span class="navbar-text">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="replicate" [value]=false
                        id="replicate" name="replicate" (click)="chooseAddress(false)"><label
                        class="form-check-label radio"
                        >{{'generalKeywords.no'|translate|uppercase}}</label>
                    </div>
                  </span>
                </nav>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('replicate').touched && !this.formStores.get('replicate').valid">
                  <div *ngIf="this.formStores.get('replicate').errors && this.formStores.get('replicate').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!replicateAddress">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.country'|translate}} *
                </p>
                <select class="form-select campo-form-select" id="countryStore" formControlName="countryStore"
                  (click)="clean()">
                  <option *ngFor="let country of countries" value={{country.code}}>
                    {{country.description}}
                  </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('countryStore').touched && !this.formStores.get('countryStore').valid">
                  <div *ngIf="this.formStores.get('countryStore').errors && this.formStores.get('countryStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.postalCode'|translate}} *
                </p>
                <input formControlName="zipCodeStore" id="text4" name="text3" type="text"
                  class="form-control campo_form" maxlength="8" (keyup)="GetCountryByZipCode()"
                  (keypress)="numericOnly($event)">
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('zipCodeStore').touched && !this.formStores.get('zipCodeStore').valid">
                  <div *ngIf="this.formStores.get('zipCodeStore').errors && this.formStores.get('zipCodeStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!replicateAddress">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.address'|translate}} *
                </p>
                <input formControlName="addressStore" id="text5" name="text4" type="text"
                       class="form-control campo_form">
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('addressStore').touched && !this.formStores.get('addressStore').valid">
                  <div *ngIf="this.formStores.get('addressStore').errors && this.formStores.get('addressStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.locale'|translate}} *
                </p>
                <input formControlName="localeStore" id="text5" name="text4" type="text" class="form-control campo_form"
                       [readonly]="canEditLocality() === false">
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('localeStore').touched && !this.formStores.get('localeStore').valid">
                  <div *ngIf="this.formStores.get('localeStore').errors && this.formStores.get('localeStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <p class="titulo-form-simples mb-3" wappler-command="editContent">
                  {{'stores.shoppingCenter'|translate}}*
                </p>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <span class="navbar-text">
                    <div class="form-check">
                      <input formControlName="commercialCenter" (click)="comercialCentre(true)" class="form-check-input"
                             type="radio" [value]=true id="radio2" name="commercialCenter">
                      <label class="form-check-label radio pe-5" 
                             wappler-command="editContent">{{'generalKeywords.yes'|translate|uppercase}}</label>
                    </div>
                  </span><span class="navbar-text">
                    <div class="form-check">
                      <input formControlName="commercialCenter" (click)="comercialCentre(false)"
                             class="form-check-input" type="radio" [value]=false id="radio2" name="commercialCenter">
                      <label class="form-check-label radio" 
                             wappler-command="editContent">{{'generalKeywords.no'|translate|uppercase}}</label>
                    </div>
                  </span>
                </nav>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('commercialCenter').touched && !this.formStores.get('commercialCenter').valid">
                  <div *ngIf="this.formStores.get('commercialCenter').errors && this.formStores.get('commercialCenter').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="noAddress && isComercialCentreStore">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.postalCode'|translate}} *
                </p>
                <input formControlName="zipCodeStore" id="text4" name="text3" type="text"
                       class="form-control campo_form" maxlength="8" (keyup)="GetComercialCenterByZipCode()"
                       (keypress)="numericOnly($event)">
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('zipCodeStore').touched && !this.formStores.get('zipCodeStore').valid">
                  <div *ngIf="this.formStores.get('zipCodeStore').errors && this.formStores.get('zipCodeStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="foundComercialCentre == false && showError">
              <p class="titulo-form-simples-erro">{{'client.searchError'|translate}}</p>
            </div>
            <div class="row" *ngIf="isComercialCentreStore && foundComercialCentre">
              <div class="col-5">
                <p class="titulo-form-simples" wappler-command="editContent">
                  {{'stores.subZone'|translate}}*
                </p>
                <select class="form-select campo-form-select" id="subZoneStore" formControlName="subZoneStore">
                  <option hidden selected></option>
                  <option *ngFor="let subzone of subzonesShopping" value={{subzone.code}}>
                    {{subzone.description}}
                  </option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="this.formStores.get('subZoneStore').touched && !this.formStores.get('subZoneStore').valid">
                  <div *ngIf="this.formStores.get('subZoneStore').errors && this.formStores.get('subZoneStore').errors?.['required']">
                    {{'generalKeywords.mandatoryParameter'|translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-1 ms-0 me-0 ps-0 pe-0 col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light pb-3">
            <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0"></span>
            <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0"></span><span class="navbar-text"></span>
          </nav>
        </div>
      </div>
    </div>
    <div class="offset-1 bg-white align-self-center col-10 mt-4 ps-0" *ngIf="!edit">
      <div class="col ms-0 ps-0">
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
          <span class="navbar-text me-2 align-self-center ms-0 me-0">
            <button id="btn5a5" [routerLink]="['/']"
              class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
              wappler-command="editContent">{{'generalKeywords.exit'|translate|uppercase}}&nbsp;
              <img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">
            </button>
            <button id="btn5a5" [routerLink]="['/']"
              class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3 pe-3"
              wappler-command="editContent">{{'generalButtons.cancel'|translate|uppercase}}&nbsp;
              <img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">
            </button>
            <button id="btn5a5" [routerLink]="['/store-comp']"
              class="btn botao_azul center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3"
              wappler-command="editContent">
              <img src="assets/images/arrow_back_ios_white.svg"
                style="height: 25px !important; vertical-align: sub;">{{'generalKeywords.back'|translate|uppercase}}&nbsp;
            </button>
            <button id="btn5a5" type="submit"
              class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3"
              wappler-command="editContent">{{'generalKeywords.next'|translate|uppercase}}&nbsp;
              <img src="assets/images/arrow_forward_ios.svg" style="height: 25px !important; vertical-align: sub;">
            </button>
          </span>
        </nav>
      </div>
    </div>
  </form>
</div>
