<div class="table-responsive mb-2 ps-2 pe-2">
  <table mat-table [dataSource]="storesMat" class="table-responsive" matSort style=" margin-left: auto; margin-right: auto; width: 95%;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
        {{'stores.name'|translate|uppercase}} </th>
      <td mat-cell *matCellDef="let store"> {{store.name}} </td>
    </ng-container>
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
        {{'stores.activity'|translate|uppercase}} </th>
      <td mat-cell *matCellDef="let store"> {{getActivityDescription(store.activity)}} </td>
    </ng-container>
    <ng-container matColumnDef="subActivity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
        {{'stores.subActivity'|translate|uppercase}} </th>
      <td mat-cell *matCellDef="let store"> {{getSubActivityDescription(store.subActivity)}} </td>
    </ng-container>
    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
        {{'commercialOffer.bank'|translate|uppercase}} </th>
      <td mat-cell *matCellDef="let store"> {{getBank(store.bank.bank.bank)}} </td>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header 
        class="text-center text-primary bg-light table-white"> {{'commercialOffer.product'|translate|uppercase}}
      </th><!--[hidden]="!isCommercialOffer"-->
      <td mat-cell *matCellDef="let store" >{{store.productCodeDescription}}</td><!--[hidden]="!isCommercialOffer"-->
    </ng-container>
    <ng-container matColumnDef="subproduct">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
        class="text-center text-primary bg-light table-white"> {{'commercialOffer.subproduct'|translate|uppercase}}
      </th>
      <td mat-cell *matCellDef="let store">{{store.subProductCodeDescription}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let store; let idx = index; columns: displayedColumns;" (click)="emitSelectedStore(store, idx, true)"
      [ngClass]="{'row-selected': idx === currentIdx}">
    </tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
  </mat-paginator>
</div>
