

<div class="table-responsive mb-2 ps-2 pe-2">
  <mat-table [dataSource]="storesMat" class="table-responsive" matSort>
   
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white"> {{'stores.name'|translate|uppercase}} </mat-header-cell>
        <mat-cell *matCellDef="let store"> {{store.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="activity">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white"> {{'stores.activity'|translate|uppercase}} </mat-header-cell>
        <mat-cell *matCellDef="let store"> {{getActivityDescription(store.activity)}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="subActivity">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white"> {{'stores.subActivity'|translate|uppercase}} </mat-header-cell>
        <mat-cell *matCellDef="let store"> {{getSubActivityDescription(store.subActivity)}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="bank">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white"> {{'commercialOffer.bank'|translate|uppercase}} </mat-header-cell>
        <mat-cell *matCellDef="let store"> {{store.supportBank}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="terminalNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="!isCommercialOffer" class="text-center text-primary bg-light table-white"> {{'commercialOffer.terminalNumber'|translate|uppercase}} </mat-header-cell>
        <mat-cell *matCellDef="let store" [hidden]="!isCommercialOffer"></mat-cell>
      </ng-container>
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="!isCommercialOffer" class="text-center text-primary bg-light table-white"> {{'commercialOffer.product'|translate|uppercase}} </mat-header-cell>
        <mat-cell *matCellDef="let store" [hidden]="!isCommercialOffer"></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let store; let idx = index; columns: displayedColumns;"
               (click)="emitSelectedStore(store, idx)"
               [ngClass]="{'row-selected': idx === currentIdx}">
      </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[3, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>

</div>
