
<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0 bg-light">
  <div class="row align-items-center">
    <div class="offset-1 col-10 bg-primary mt-5 me-0 pt-0 ps-0 pe-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0"><span class="navbar-text text-light"><img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70"></span><span class="navbar-text">
      <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">ACEITAÇÃO</h5>
      </span></nav>
    </div>
    <div class="col-5 bg-light offset-1 me-0 ps-0 pe-1" style="cursor: pointer;" [routerLink]="['/app-aceitacao']">
      <nav class="navbar navbar-expand-lg navbar-light justify-content-center bg-opacity-25 align-items-center botao_historico_detalhe ms-0 me-0">
        <span>
          <img src="assets/images/published_with_changes.svg" style="height: 30px; vertical-align: bottom;"> HISTÓRICO </span>
      </nav>
    </div>
    <div class="col-5 bg-light ms-1 ps-0 pe-0" style="cursor: pointer;" [routerLink]="['/app-pack-contratual']">
      <nav class="navbar navbar-expand-lg navbar-light justify-content-center bg-opacity-25 align-items-center botao_historico_detalhe_up ms-0 me-1">
        <span>
          <img src="assets/images/task_alt.svg" style="height: 30px; vertical-align: bottom;"> ACEITAÇÃO </span>
      </nav>
    </div>
    <div class="offset-1 col-10 mt-5 pt-0 ps-0 pe-0">
    <ul class="nav nav-tabs" id="navTabs1_tabs" role="tablist">
      <li class="nav-item"><a class="nav-link active activo_tabs activo-tabd" id="navTabs1_1_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_1" role="tab" aria-controls="navTabs1_1" aria-selected="true">PACK CONTRATUAL</a></li>
      <li class="nav-item_x"></li>
      <li class="nav-item_x"></li>
      <li class="nav-item_x"></li>
    </ul>
    <div class="tab-content" id="navTabs1_content">
      <div class="tab-pane fade show active" id="navTabs1_1" role="tabpanel">
      <div class="container-fluid mt-0 ps-3 pe-3">
        <div class="row">
        <div class="bg-white align-self-center laterais_tabs col-12 mt-0 ms-0 me-0 pt-4 ps-5 pe-5" style="margin-left: 1px !important;">
          <div class="row mb-2 ms-0 me-0 pb-3">
          <h4 class="text-primary mt-3 ps-0"><img src="assets/images/content_copy.svg"
            style="height: 30px !important; vertical-align: sub;">&nbsp;DOCUMENTAÇÃO GERADA NO PROCESSO</h4>
          <p class="titulo-form-simples mt-0">NESTE PASSO, DEVE ENTREGAR A DOCUMENTAÇÃO GERADA AO CLIENTE PARA ASSINAR.</p>
          <div class="row mb-0 ms-0 me-0 pb-0 ps-0 pe-0">
            <div class="col-12 mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0">
            <nav class="navbar navbar-expand-lg text-primary bg-primary bg-opacity-10 mt-4 pt-3 pb-3 pe-4"><span class="navbar-text ps-4 text-primary"><img src="assets/images/file_download.svg" style="height: 25px !important; vertical-align: sub;"></span><span class="navbar-text ps-4 text-primary">CONTRATO DE ADESÃO AO SISTEMA REDUNIQ DE ACEITAÇÃO DE PAGAMENTOS COM CARTÕES&nbsp; (CP)</span><span class="navbar-text ms-auto"><input id="text2" name="text2" type="text" class="form-control form-control-sm mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0"></span></nav>
            <p class="titulo-form-simples"></p>
            </div>
            <div class="col-12 mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0">
            <nav class="navbar navbar-expand-lg text-primary bg-primary bg-opacity-10 mt-0 pt-3 pb-3 pe-4"><span class="navbar-text ps-4 text-primary"><img src="assets/images/file_download.svg" style="height: 25px !important; vertical-align: sub;"></span><span class="navbar-text ps-4 text-primary">FORMULÁRIO 1&nbsp; (F1)</span><span class="navbar-text ms-auto"><input id="text3" name="text1" type="text" class="form-control form-control-sm mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0"></span></nav>
            <p class="titulo-form-simples"></p>
            </div>
            <div class="col-12 mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0">
            <nav class="navbar navbar-expand-lg text-primary bg-primary bg-opacity-10 mt-0 pt-3 pb-3 pe-4"><span class="navbar-text ps-4 text-primary"><img src="assets/images/file_download.svg" style="height: 25px !important; vertical-align: sub;"></span><span class="navbar-text ps-4 text-primary">FORMULÁRIO 2&nbsp; (F2)</span><span class="navbar-text ms-auto"><input id="text4" name="text3" type="text" class="form-control form-control-sm mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0"></span></nav>
            <p class="titulo-form-simples"></p>
            </div>
          </div>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mt-0 mb-5 pt-0 pb-5">
            <span class="navbar-text align-self-center mt-0 ms-0 me-0 pt-0">
              <button id="btn5a1" class="btn botao_azul ms-0 btn-lg" wappler-command="editContent">DOWNLOAD TODOS&nbsp;
                <img src="assets/images/file_download_white.svg" style="height: 25px !important; vertical-align: sub;">
              </button>
              </span></nav>

              <!-- Só deve de aparecer depois de clicarmos no download -->

              <h4 class="text-primary mt-3 ps-0">
                <img src="assets/images/attach_file.svg" style="height: 25px !important; vertical-align: top;"> ADICIONAR AO PROCESSO</h4> 
              <div class="table-responsive mb-5 pb-5">
                <p class="titulo-form-simples mt-0 mb-3">DIGITALIZE / ANEXE OS DOCUMENTOS NECESSÁRIOS</p>
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mt-0 mb-2 pt-0 pb-5">
                <table class="table">
                  <thead class="text-primary table-primary">
                  <tr class="table-white text-primary">
                    <th scope="col" class="text-center text-primary bg-light table-white">TIPO</th>
                    <th scope="col" class="text-center bg-light">INTERVENIENTE</th>
                    <th scope="col" class="text-center bg-white">DATA DE VALIDADE</th>
                    <th scope="col" class="text-center bg-white"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="text-primary text-center align-middle">Bual de Canela</td>
                    <td class="text-primary text-center align-middle">162243889</td>
                    <td class="text-primary text-center align-middle">A</td>
                    <td></td>
                  </tr>
                  </tbody>
                </table><span class="navbar-text align-self-center mt-0 ms-0 me-0 pt-0"></span>
                </nav>
                </div>
                <p class="titulo-form-simples mt-0 pt-4">Observações:</p>
                <div class="col pb-4">
                  <textarea id="text1" class="form-control"></textarea>
                  <button id="btn5a3" class="btn botao_azul btn-lg mt-5 ms-0" wappler-command="editContent">ANEXAR&nbsp;
                    <img src="assets/images/attach_file_white.svg" style="height: 25px !important; vertical-align: sub;">
                  </button>
                </div>
                <div class="col mb-0 pb-5">
                <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="input2" name="input2">
                  <label class="form-check-label" for="input2">Validou que os documentos necessários foram efectivamente&nbsp; os carregados?</label>
                </div>
                <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="input3" name="input3">
                  <label class="form-check-label" for="input3">Na presença do cliente?</label>
                </div>
                </div>
        
              <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
          
          <span class="navbar-text me-2 align-self-center ms-0 me-0">
            <button [routerLink]="['/']" id="btn5a6" class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3" wappler-command="editContent">SAIR&nbsp;
              <img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">
            </button>
            <button id="btn5a6" class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3" wappler-command="editContent">DEVOLVER AO COMERCIAL&nbsp;
              <img src="assets/images/assignment_returned_white.svg" style="height: 30px; vertical-align: bottom;">
            </button>
            <button id="btn5a6" class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3" wappler-command="editContent">DEVOLVER AO BACKOFFICE&nbsp;
              <img src="assets/images/assignment_returned_white.svg" style="height: 30px; vertical-align: bottom;">
            </button>
            <button id="btn5a6" class="btn botao_azul center-align text-start vertical-align: baseline; mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3 btn-lg" wappler-command="editContent">SUBMETER PEDIDO&nbsp;
              <img src="assets/images/arrow_forward_ios.svg" style="height: 25px !important; vertical-align: sub;">
            </button>
            <button id="btn5a6" class="btn botao_branco center-align text-start vertical-align: baseline; mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3 btn-lg" wappler-command="editContent">
              <img src="assets/images/arrow_back_ios.svg" style="height: 25px !important; vertical-align: sub;">VOLTAR&nbsp;
            </button>
          </span>
        </nav>
  </div>

  