<!--<app-nav-menu></app-nav-menu>-->
<app-nav-menu-presencial (toggleNavEvent)="toggleSideNav($event)" (autoHide)="toggleAutoHide($event)"></app-nav-menu-presencial>
<main class="mt-xxl-n5">
  <!--<mat-toolbar class="row justify-content-around widget-toolbar">
    <div class="col">
    <nav class="widget-navbar navbar navbar-expand-lg navbar-light justify-content-center">

      <span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="fas fa-user"></i>&nbsp; JOÃO COSTA TELES</h5>
      </span>
      <span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span><span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="fas fa-university"></i>&nbsp; NOVO BANCO</h5>
      </span>
      <span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span>
      <span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="far fa-user"></i>&nbsp; PRAÇA DE LONDRES</h5>
      </span>
      <span class="navbar-text text-light ps-0">
        <h5 class="widget text-success">&nbsp; |</h5>
      </span>
      <span class="navbar-text text-light ps-3">
        <h5 class="widget text-success"><i class="far fa-calendar-alt"></i>&nbsp; 02/08/2022 - 14:44:28&nbsp;</h5>
      </span>
    </nav>
  </div>
  </mat-toolbar>-->
  <app-sidenav-presencial [isToggle]="isToggle" [isAutoHide]="isAutoHide"></app-sidenav-presencial>
  <!--<router-outlet></router-outlet>-->
</main>
<!--<app-footer></app-footer>-->
<app-footer-presencial></app-footer-presencial>
<!---->
