<table class="table table-success">
  <thead class="text-primary table-primary">
    <tr class="text-center text-primary table-light">
      <th scope="col" class="align-baseline text-primary table-white"> {{'stakeholder.fiscalID'|translate}} </th> <!---->
      <th scope="col" class="text-center bg-light"> {{'stakeholder.name'|translate}} </th> <!---->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stake of stakeholdersToShow; let idx = index" (click)="selectStakeholder(stake, idx)" [ngClass]="{'row-selected': stake['stakeholderNIF'] === currentStakeholder['stakeholderNIF']}">
      <th scope="row" class="text-primary text-center">{{stake.stakeholderNIF}}</th>
      <td class="text-primary text-center">{{stake.stakeholderName}}</td>
    </tr>
  </tbody>
</table>
