<mat-table [dataSource]="stakesFoundMat" class="table-responsive" [hidden]="!foundStakeholders" matSort>
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let stake">
      <input type="radio" name="stake.stakeholderName" (click)="aButtons(true, stake)">
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="stakeNIF">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
      {{'stakeholder.fiscalID'|translate}} </mat-header-cell>
    <mat-cell *matCellDef="let stake" style="display: inline-grid;"> {{stake.stakeholderNIF}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="stakeName">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center text-primary bg-light table-white">
      {{'stakeholder.name'|translate}} </mat-header-cell>
    <mat-cell *matCellDef="let stake" style="display: inline-grid;"> {{stake.stakeholderName}}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumnsFound" class="text-primary table-primary"></mat-header-row>
  <mat-row *matRowDef="let stake; let idx = index; columns: displayedColumnsFound;"
    [ngClass]="{'row-selected': idx === currentIdx}">
  </mat-row>
</mat-table>

<mat-paginator #paginatorFound [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons [hidden]="!foundStakeholders">
</mat-paginator>
