<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row" *ngIf="!validateCode">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="70px" height="32px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 324 148.998">
        <defs>
        <style type="text/css">
          .fil0 {
            fill: rgb(var(--bs-primary-rgb))
          }

          .fil1 {
            fill: rgb(var(--bs-icon-secondary-rgb))
          }
         </style>
          </defs>
        <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer" />
        <rect class="fil0" x="-0.201492" y="-0.0493018" width="324.402" height="149.097" />
        <path class="fil1" d="M94.1079 -0.0507874l32.7768 0 0 91.9654c0,23.4224 11.7732,34.0512 35.1177,34.0512 23.3421,0 35.1248,-10.6264 35.1248,-33.8362l0 -92.1791 32.7638 0.0023622 0 93.4819c0,28.024 -11.6657,46.7291 -33.2185,55.6146l-69.3484 0c-21.5539,-8.88543 -33.2161,-27.5906 -33.2161,-55.6146l0 -93.4854 0 0z" />
          </g>
        </svg>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            {{'registration.title'|translate|uppercase}}
          </h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 bg-white center-align col-10 ps-3">
      <form [formGroup]="registrationForm" name="registrationForm" (ngSubmit)="submit()">
        <h2 class="text-primary mt-5 ps-0 center-align">
          <span class="material-symbols-rounded icon-titulos m-align group-add-blue icon-group-add-blue">
          </span>&nbsp;{{'registration.identification'|translate|uppercase}}<br>
        </h2>
        <p class="titul campo_obrigatrio">{{'generalKeywords.mandatoryField'|translate}}</p>
        <div class="row">
          <div class="col-xxl col-6">
            <div>
              <p class="titulo-form-simples" for="username">{{'registration.username'|translate}}: *</p>
              <input type="text" formControlName="username" name="username" id="username"
                     class="form-control campo_form" />
            </div>
            <div class="alert alert-danger"
                 *ngIf="registrationForm.get('username').touched && !registrationForm.get('username').valid">
              <div *ngIf="registrationForm.get('username').errors && registrationForm.get('username').errors?.['required']">
                {{'generalKeywords.mandatoryParameter'|translate}}
              </div>
            </div>
          </div>
          <div>
            <p class="titulo-form-simples" for="">{{'registration.NIF'|translate}}: *</p>
            <span class="titulo-form-error" *ngIf="incorrectNIF" class="titulo-form-simples-erro">
              {{'client.incorrectNIF'|translate}}
            </span>
            <span class="titulo-form-error" *ngIf="incorrectNIFSize"
                  class="titulo-form-simples-erro">
              {{'client.incorrectNIFSize'|translate}}
            </span>
            <span class="titulo-form-error" *ngIf="incorrectNIPCSize"
                  class="titulo-form-simples-erro">
              {{'client.incorrectNIPCSize'|translate}}
            </span>
            <span class="titulo-form-error" *ngIf="incorrectNIPC">
              {{'client.incorrectNIPC'|translate}}
            </span>
            <input type="text" formControlName="nif" name="nif" id="nif"
                   class="form-control campo_form" (keypress)="numericOnly($event)" (keyup)="checkValidationType($event)" />
            <div class="alert alert-danger"
                 *ngIf="registrationForm.get('nif').touched && !registrationForm.get('nif').valid">
              <div *ngIf="registrationForm.get('nif').errors && registrationForm.get('nif').errors?.['required']">
                {{'generalKeywords.mandatoryParameter'|translate}}
              </div>
            </div>
          </div>
          <div>
            <p class="titulo-form-simples" for="">{{'registration.email'|translate}}: *</p>
            <input type="text" #emailClient formControlName="email" name="email" id="email"
                   class="form-control campo_form" />
            <div class="alert alert-danger"
                 *ngIf="emailValid.touched && !emailValid.valid">
              {{'generalKeywords.mandatoryParameter'|translate}}
            </div>
            <div class="alert alert-danger" *ngIf="emailValid.errors?.['pattern']">
              {{'errorMessages.invalidEmail'|translate}}
            </div>
          </div>
          <div class="row" formGroupName="contact">
            <div class="col-4">
              <p class="titulo-form-simples mt-0">
                {{'declarativeInformation.indicative'|translate|uppercase}}: *
              </p>
              <select class="form-select campo_form" #phone1CountryCode formControlName="countryCode" id="phone1CountryCode">
                <option></option>
                <option *ngFor="let country of internationalCallingCodes" [value]='country.code'>
                  {{country.description}} ({{country.internationalCallingCode}})
                </option>
              </select>
            </div>
            <div class="col">
              <p class="titulo-form-simples mt-0" for="">{{'registration.contact'|translate}}: *</p>
              <input type="text" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber"
                     class="form-control campo_form" (keypress)="numericOnly($event)" />
            </div>
          </div>
          <div class="alert alert-danger"
               *ngIf="(phone1.touched || phone1.dirty) && !phone1.valid && phone1.errors.hasOwnProperty('invalidNumber')">
            {{'errorMessages.invalidPhone'|translate}}
          </div>
          <div class="alert alert-danger"
               *ngIf="(phone1.touched || phone1.dirty) && !phone1.valid && phone1.errors.hasOwnProperty('missingValue')">
            {{'errorMessages.bothFieldsPhone'|translate}}
          </div>
        </div>

        <button id="btn3a" class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg"
                type="submit" [disabled]="!registrationForm.valid || incorrectNIFSize || incorrectNIF || incorrectNIPCSize || incorrectNIPC">
          &nbsp;{{'registration.register'|translate}}
        </button>
      </form>
    </div>
    <!--<div>
      <p>{{"Time Remaining: " + timeRemaining}}</p>
      <p>{{"Time Used: " + timeUsed}}</p>
      <p>{{"Is Valid: " + isValid}}</p>
    </div>-->
  </div>
  <app-validate-code *ngIf="validateCode" [secret]="secret" [page]="'registration'" [name]="username" (goBackEmitter)="goBack($event)"></app-validate-code>
</div>

