<div class="row">
  <div class="offset-1 bg-white col-7 col-xxl-8">
    <span class="mt-4 mb-4">
      <h2 class="mt-4 text-primary">{{title}}<!--Qual a tipologia do Comerciante?*--></h2>
    </span>
    <p class="mt-2">
      <!--Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.-->
      {{description}}
    </p>
  </div>
  <div class="col-3 col-xxl-2 mt-4 mb-4">
    <circular-progress [percentage]="percentage"></circular-progress>
  </div>
</div>
