<h1>{{'COPricing'|translate}}</h1>
<br />
<table border="1">
  <thead>
    <tr>
      <td>{{'COPackage'|translate}}</td>
      <td>{{'CODenomination'|translate}}</td>
      <td>{{'COValue'|translate}}</td>
      <td>{{'COTSC'|translate}}</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let price of prices; let i= index;">
      <td>
        <input type="text" [(ngModel)]="price.package" [disabled]="!price.editable || true">
      </td>
      <td>
        <input type="text" [(ngModel)]="price.denomination" [disabled]="!price.editable || true">
      </td>
      <td>
        <input type="text" [(ngModel)]="price.value" [disabled]="!price.editable">
      </td>
      <td>
        <input type="text" [(ngModel)]="price.tsc" [disabled]="!price.editable">
      </td>
      <td>
        <div>
          <button (click)="editPricing(i)" [disabled]="!price.editable">{{'Edit'|translate}}</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="onCickContinue()" class="btn btn-primary">{{'EndStoresConf'|translate}}</button>
