<app-nav-menu-interna></app-nav-menu-interna>
<br />
<br />
<br />
<br />
<h1>Preçário</h1>
<br />
<table border="1">
  <thead>
    <tr>
      <td>Pacote</td>
      <td>Denominação</td>
      <td>Valor</td>
      <td>TSC</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let price of prices; let i= index;">
      <td>
        <input type="text" [(ngModel)]="price.package" [disabled]="!price.editable || true">
      </td>
      <td>
        <input type="text" [(ngModel)]="price.denomination" [disabled]="!price.editable || true">
      </td>
      <td>
        <input type="text" [(ngModel)]="price.value" [disabled]="!price.editable">
      </td>
      <td>
        <input type="text" [(ngModel)]="price.tsc" [disabled]="!price.editable">
      </td>
      <td>
        <div>
          <button (click)="editPricing(i)" [disabled]="!price.editable">Edit</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="onCickContinue()" class="btn btn-primary">Concluir Configuração da loja</button>
