<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 bg-white align-self-center col-10 mt-0 pt-2 ps-0">
      <div class="bg-white align-self-center col-12 mt-0 ms-0 me-0 pt-5">
        <div class="table-responsive me-2 ps-3 pe-3">
          <table class="table table-success">
            <thead class="text-primary table-primary">
              <tr class="text-center text-primary table-light">
                <th scope="col" class="align-baseline text-primary table-white">{{'client.name'|translate}}</th>
                <th scope="col" class="text-center bg-white">NIF</th>
                <th scope="col" class="text-center bg-white">{{'client.representationPower'|translate}}</th>
                <th scope="col" class="text-center bg-white">{{'client.representationRestrictions'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stakeholder of stakeholdersToInsert">
                <td class="text-primary text-center">{{stakeholder.name}}</td>
                <td class="text-primary text-center">{{stakeholder.fiscalId}}</td>
                <td class="text-primary text-center"> - </td>
                <td class="text-primary text-center"> - </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>