<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <!-- <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <span class="navbar-text text-light">
          <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70" />
        </span>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            {{'client.title'|translate|uppercase}}
          </h5>
        </span>
      </nav>
    </div> -->
    <div class="offset-1 bg-white align-self-center col-10 mt-0 pt-2 ps-0">
      <!-- <h4 class="text-primary mt-5 ps-0 ">
        <img src="assets/images/manage_accounts.svg" class="img_add">&nbsp;{{'client.companyPower'|translate|uppercase}}
      </h4> -->
      <div class="bg-white align-self-center col-12 mt-0 ms-0 me-0 pt-5">
        <div class="table-responsive me-2 ps-3 pe-3">
          <table class="table table-success">
            <thead class="text-primary table-primary">
              <tr class="text-center text-primary table-light">
                <th scope="col" class="align-baseline text-primary table-white">{{'client.name'|translate}}</th>
                <th scope="col" class="text-center bg-white">NIF</th>
                <th scope="col" class="text-center bg-white">{{'client.representationPower'|translate}}</th>
                <th scope="col" class="text-center bg-white">{{'client.representationRestrictions'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stakeholder of stakeholdersToInsert">
                <td class="text-primary text-center">{{stakeholder.stakeholderAcquiring.name}}</td>
                <td class="text-primary text-center">{{stakeholder.stakeholderAcquiring.fiscalId}}</td>
                <td class="text-primary text-center"> - </td>
                <td class="text-primary text-center"> - </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
<!--       <div class="align-self-center col-12 mt-4 ms-0 me-0 ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
          <span class="navbar-text me-2 align-self-center ms-0 me-0">
            <button id="btn5a1" [routerLink]="['/']"
              class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
              wappler-command="editContent">
              {{'generalKeywords.exit'|translate|uppercase}}&nbsp;<img src="assets/images/exit_to_app.svg"
                style="height: 25px !important; vertical-align: sub;">
            </button>
            <button id="btn5a3" [routerLink]="['/']"
              class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3 pe-3"
              wappler-command="editContent">
              {{'generalButtons.cancel'|translate|uppercase}}&nbsp;<img src="assets/images/cancel.svg"
                style="height: 25px !important; vertical-align: sub;">
            </button>
            <button id="btn5a4" (click)="goToPreviousPage()"
              class="btn botao_azul center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3"
              wappler-command="editContent">
              <img src="assets/images/arrow_back_ios_white.svg"
                style="height: 25px !important; vertical-align: sub;">{{'generalKeywords.back'|translate|uppercase}}&nbsp;
            </button>
            <button id="btn5a2" (click)="goToNextPage()"
              class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3"
              wappler-command="editContent">
              {{'generalKeywords.next'|translate|uppercase}}&nbsp;<img src="assets/images/arrow_forward_ios.svg"
                style="height: 25px !important; vertical-align: sub;">
            </button>
          </span>
        </nav>
      </div> --->
    </div>
  </div>
</div>
