<p><b>Editar Interveniente</b></p>

<div>
  <form [formGroup]="formUpdateStakeholder" (ngSubmit)="submit(formUpdateStakeholder.value)">

    <div class="form-group">
      <label for="fullName">Nome do Cliente</label>
      <input type="text" formControlName="fullName"
             id="fullName" class="form-control" [(ngModel)]="newStake.fullName">
      <!--<div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
      <div *ngIf="clientName.errors && clientName.errors['required']">Client Name is required.</div>
      <div *ngIf="clientName.errors && clientName.errors['minlength']">
        Client Name must have at least 2 characters.
      </div>
      <div *ngIf="clientName.errors && clientName.errors['maxlength']">
        Clients Name has a maximum of 100 characters.
      </div>
    </div>-->
    </div>

    <div class="form-group">
      <label for="documentType">
        Tipo de Documento de Identificação (1ª Nacionalidade):*
      </label>
      <input name="identificationDocumentType" formControlName="documentType"
             class="form-control" [(ngModel)]="newStake.identificationDocument.identificationDocumentType">
      <!--<div class="alert alert-danger" *ngIf="documentType.touched && !documentType.valid">
      documentType is required.
    </div>-->
    </div>

    <div class="form-group">
      <label for="documentCountry">
        País do Documento de Identificação (1ª Nacionalidade):*
      </label>
      <input name="documentCountry" formControlName="documentCountry"
             class="form-control" [(ngModel)]="newStake.identificationDocument.identificationDocumentCountry">
      <!--<div class="alert alert-danger" *ngIf="documentCountry.touched && !documentCountry.valid">
      documentCountry is required.
    </div>-->
    </div>

    <div class="form-group">
      <label for="identificationDocumentId">
        Nº Documento de Identificação (1ª Nacionalidade):*
      </label>
      <input name="identificationDocumentId" formControlName="identificationDocumentId"
             class="form-control" [(ngModel)]="newStake.identificationDocument.identificationDocumentId">
      <!--<div class="alert alert-danger" *ngIf="identificationDocumentId.touched && !identificationDocumentId.valid">
      nrDocumentoID is required.
    </div>-->
    </div>

    <div class="form-group">
      <label for="identificationDocumentValidUntil">
        Data do documento de Identificação (1ª Nacionalidade):*
      </label>
      <input name="identificationDocumentValidUntil" formControlName="identificationDocumentValidUntil" cols="30" rows="10"
             class="form-control" [(ngModel)]="newStake.identificationDocument.identificationDocumentValidUntil">
      <!--<div class="alert alert-danger" *ngIf="dateDocumentID.touched && !dateDocumentID.valid">
      dataDocumentoID is required.
    </div>-->
    </div>





    <p><b>Identificação do Interveniente II</b></p>
    <div class="form-group">
      <label for="fiscalId">ID Fiscal: </label>
      <input name="fiscalId" formControlName="fiscalId" class="form-control"
             [(ngModel)]="newStake.fiscalId">
      <!--<div class="alert alert-danger" *ngIf="fiscalId.touched && !fiscalId.valid">
      O parâmetro "NIF" é obrigatório.
    </div>-->

      <label for="roleStakeholder">Cargo</label>
      <input name="roleStakeholder" formControlName="roleStakeholder"
             class="form-control"> <!--Nao esta no YAML-->
      <!--<div class="alert alert-danger" *ngIf="roleStakeholder.touched && !roleStakeholder.valid">
      O parâmetro "Cargo" é obrigatório.
    </div>-->

      <label for="address">Morada Fiscal</label>
      <input name="address"
             formControlName="streetAdressStakeholder" class="form-control" [(ngModel)]="newStake.fiscalAddress.address">
      <!--<div class="alert alert-danger" *ngIf="roleStakeholder.touched && !roleStakeholder.valid">
      O parâmetro "Morada Fiscal" é obrigatório.
    </div>-->

      <label for="postalCode">Código postal</label>
      <input name="postalCode"
             id="postCodeAdressStakeholder" class="form-control" [(ngModel)]="newStake.fiscalAddress.postalCode">
      <!--<div class="alert alert-danger" *ngIf="postalCode.touched && !postalCode.valid">
      O parâmetro "Código postal" é obrigatório.
    </div>-->
      <label for="postalArea">Área</label>
      <input name="postalArea"
             id="areaBillingAdressStakeholder" class="form-control" [(ngModel)]="newStake.fiscalAddress.postalArea">
      <!--<div class="alert alert-danger"
      *ngIf="postalArea.touched && !postalArea.valid">
      O parâmetro "Código postal" é obrigatório.
    </div>-->
      <label for="country">País da morada fiscal</label>
      <input name="country"
             id="countryBillingAdressStakeholder" class="form-control"
             [(ngModel)]="newStake.fiscalAddress.country">
      <!--<div class="alert alert-danger"
      *ngIf="countryBillingAdressStakeholder.touched && !countryBillingAdressStakeholder.valid">
      O parâmetro "Código postal" é obrigatório.
    </div>-->

    </div>
    <button class="btn btn-primary" (click)="submit(formUpdateStakeholder.value)">Submeter
    </button>
  </form>
</div>


