<p>store-iban works!</p>

<p><b>Pretende utilizar o IBAN do comerciante?</b></p>
<div *ngFor="let selectionReplicate of selectionsReplicate; let idx = index">
  <input type="radio" name="selectedReplicate" value="{{selectionReplicate}}" [checked]="(idx === 0)" (change)="radoChangehandler($event)" />{{selectionReplicate}}
</div>
<div class="form">
  <form #FormStoresIban="ngForm" (ngSubmit)="submit(FormStoresIban)">
      <div class="form-group">
        <div class="input-form-group">
          <label for="storeIban">Iban da loja</label>
          <input #storeIban="ngModel" [disabled]=idisabled required minlength="5" maxlength="100" type="text" name="storeIban" class="form-control" [(ngModel)]="store.iban">
          <span *ngIf="storeIban.touched && storeIban.invalid" class="error-block">
            <span>Número do documento invalido:</span>
            <span *ngIf="storeIban.errors?.['required']"> obrigatório</span>
            <span *ngIf="storeIban.errors?.['minlength'||'maxlength']">deverá ter entre 5 e 100 caracteres</span>
          </span>
        </div>
      </div>
    <div class="form-group col-12">
      <button type="submit" class="btn btn-primary mr-2">Guardar</button>
    </div>
  </form>
</div>
