<h1>{{'DefineIbanStore'|translate}}</h1>
<br />
<p><b>{{'ReplicateIbanStore'|translate}}</b></p>
<div *ngFor="let selectionReplicate of selectionsReplicate; let idx = index">
  <input type="radio" name="selectedReplicate" value="{{selectionReplicate}}" [checked]="(idx === 0)" (change)="radoChangehandler($event)" />{{selectionReplicate}}
</div>
<div class="form">
  <form #FormStoresIban="ngForm" (ngSubmit)="submit(FormStoresIban)">
      <div class="form-group">
        <div class="input-form-group">
          <label for="storeIban">{{'IbanStore'|translate}}</label>
          <input #storeIban="ngModel" [disabled]=idisabled required minlength="5" maxlength="100" type="text" name="storeIban" class="form-control" [(ngModel)]="store.iban">
          <span *ngIf="storeIban.touched && storeIban.invalid" class="error-block">
            <span>{{'WarningInvalid'|translate}}</span>
            <span *ngIf="storeIban.errors?.['required']"> {{'WarningMandatory'|translate}}</span>
            <span *ngIf="storeIban.errors?.['minlength'||'maxlength']">{{'Warning5to100char'|translate}}</span>
          </span>
        </div>
      </div>
    <div class="form-group col-12">
      <button type="submit" class="btn btn-primary mr-2">{{'Save'|translate}}</button>
    </div>
  </form>
</div>
