<style>
    .modal-content2,
    .modal-title,
    .modal-body,
    .modal-footer,
    .modal-header {
        width: 800px;
        height: 150px;
        background-color: #f3f7fa;
        color: rgb(15, 15, 15);


    }
</style>
<p *ngIf="!compCheckDocs"><em>Loading...</em></p>
<div class="modal-content2">
    <div class="modal-header">
        <h5 class="modal-title">QUE DOCUMENTOS DEVE ASSOCIAR AO PROCESSO?</h5>
        <button type="button"  data-dismiss="modal" aria-label="Fechar" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <table class='table-responsive' aria-labelledby="tableLabel" *ngIf="compCheckDocs" style="size: inherit;">
            <thead class="table-primary align-middle">
                <tr class="align-middle">
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Comprovativo de Sociedade</th>
                <th scope="col" class="text-center">Comprovativo BEF</th>
                <th scope="col" class="text-center">Comprovativo Fiscal Pessoa coletiva</th>
                <th scope="col" class="text-center">Comprovativo de IBAN</th>
                <th scope="col" class="text-center">Comprovativo de RCBE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compCDocs of compCheckDocs">
                <td class="text-center">{{ compCDocs.nomeEmpresa }}</td>
                <td class="text-center">{{ compCDocs.flagComprovativoSociedade }}</td>
                <td class="text-center">{{ compCDocs.flagComprovativoBEF }}</td>
                <td class="text-center">{{ compCDocs.flagComprovativoFiscal }}</td>
                <td class="text-center">{{ compCDocs.flagComprovativoIBAN }}</td>
                <td class="text-center">{{ compCDocs.flagComprovativoRCBE }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
    </div>
</div>