<style>
    .modal-content2, .modal-title,.modal-body,.modal-footer, .modal-header{
        width: 800px;
        height: 150px;
        background-color: #f3f7fa;
        color:rgb(15, 15, 15);
       
 
 }
</style>
<p *ngIf="!compCheckDocs"><em>Loading...</em></p>
    <div class="modal-content2">
        <div class="modal-header">
            <h5 class="modal-title">CHECKLIST DE DOCUMENTOS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-body">
            
            <p>
            QUE DOCUMENTOS DEVE ASSOCIAR AO PROCESSO?
            </p>
            
            <p> Deverão ser associados ao processo de Onboarding os seguintes documentos</p>
            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="compCheckDocs" style="size: inherit;">
            <thead>
                <tr>
                <th>Nome</th>
                <th>Comprovativo de Sociedade</th>
                <th>Comprovativo BEF</th>
                <th>Comprovativo Fiscal Pessoa coletiva</th>
                <th>Comprovativo RCBE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compCDocs of compCheckDocs">
                <td>{{ compCDocs.nomeEmpresa }}</td>
                <td>{{ compCDocs.flagComprovativoSociedade }}</td>
                <td>{{ compCDocs.flagComprovativoBEF }}</td>
                <td>{{ compCDocs.flagComprovativoFiscal }}</td>
                <td>{{ compCDocs.flagComprovativoRCBE }}</td>
                </tr>
            </tbody>
            </table>
        </div>    

        <div class="modal-footer">

        </div>
    </div>    
