<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="70px" height="32px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 324 148.998">
        <defs>
          <style type="text/css">
            .fil0 {
              fill: rgb(var(--bs-primary-rgb))
            }

            .fil1 {
              fill: rgb(var(--bs-icon-secondary-rgb))
            }
          </style>
        </defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer" />
          <rect class="fil0" x="-0.201492" y="-0.0493018" width="324.402" height="149.097" />
          <path class="fil1" d="M94.1079 -0.0507874l32.7768 0 0 91.9654c0,23.4224 11.7732,34.0512 35.1177,34.0512 23.3421,0 35.1248,-10.6264 35.1248,-33.8362l0 -92.1791 32.7638 0.0023622 0 93.4819c0,28.024 -11.6657,46.7291 -33.2185,55.6146l-69.3484 0c-21.5539,-8.88543 -33.2161,-27.5906 -33.2161,-55.6146l0 -93.4854 0 0z" />
        </g>
        </svg>
      <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            {{ 'homepage.queues.' + queueName|translate|uppercase }}</h5>
        </span></nav>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitSearch()">
      <div class="offset-1 bg-white align-self-center col-10 ps-3">
        <h4 class="text-primary m-align mt-5 mb-4 ps-0"><span class="icon-search-blue search-blue-consultas"></span>
        <!--<img src="assets/images/search_blue.svg"
            style="height: 30px; vertical-align: bottom;">-->
        &nbsp;{{'searches.search'|translate|uppercase}}</h4>
        <div class="row ms-0 me-0">
          <div class="col-6 ms-0 me-0 ps-0 pe-5">
            <p class="titulo-form-simples mt-0">{{'searches.processNumber'|translate}}</p><input id="text8" name="text5"
              type="text" (keypress)="numericOnly($event)" class="form-control campo_form"
              formControlName="processNumber">
            <p class="titulo-form-simples">{{'searches.state'|translate}}</p>
            <select id="select1" disabled class="form-select  campo_form" formControlName="state">
              <option selected value="">{{ 'homepage.' + queueName|translate}}</option>
            </select>
            <p class="titulo-form-simples mb-1">{{'searches.orderDateFrom'|translate|uppercase}}</p><input id="text1"
              (change)="callEndDate()" name="text1" type="date" [max]="date" class="form-control campo_form"
              formControlName="processDateStart">
            <p class="titulo-form-simples"></p>
          </div>
          <div class="col-6 ms-0 me-0 ps-0 pe-5">
            <p class="titulo-form-simples mt-0">{{'searches.documentType'|translate}}</p><select (change)="changeDocType()" class="form-select campo-form-select" id="documentType" value="" formControlName="documentType">
              <option value=""></option>
              <option *ngFor="let docType of ListaDocType" value={{docType.code}}>
                {{docType.description}}
              </option>
            </select>
            <p class="titulo-form-simples">{{'searches.documentNumber'|translate}}
              <span class="titulo-form-error" *ngIf="incorrectCC" class="titulo-form-simples-erro">
                {{'client.incorrectCC'|translate}}
              </span>
              <span class="titulo-form-error" *ngIf="incorrectCCSize" class="titulo-form-simples-erro">
                {{'client.incorrectCCSize'|translate}}
              </span>
              <span class="titulo-form-error" *ngIf="incorrectCCFormat" class="titulo-form-simples-erro">
                {{'client.incorrectCCFormat'|translate}}
              </span>
            </p>
            <input id="text3" name="text3" type="text" #docNumber (keypress)="numericOnly($event)" class="form-control campo_form"
                   (keyup)="checkValidationType(docNumber.value)" formControlName="documentNumber">
            <p class="titulo-form-simples mb-1">{{'searches.orderDateUntil'|translate|uppercase}}</p><input id="text2"
                                                                                                            name="text2" type="date" [min]="endDate" class="form-control campo_form" formControlName="processDateEnd">
            <p class="titulo-form-simples"></p>
          </div>
          <div class="col-12 ms-0 me-0 pb-5 ps-0 pe-0">
            <button id="btn5a6" class="btn botao_azul btn-lg mt-5 ms-0 me-1"
                    wappler-command="editContent">
              {{'searches.search'|translate|uppercase}}
              &nbsp;<img src="assets/images/search_white.svg" style="height: 30px; vertical-align: bottom;">
            </button>
            <button id="btn5a1" type="button"
                    class="btn botao_branco btn-lg mt-5 ms-0 me-1 ms-4"
                    wappler-command="editContent" (click)="initializeForm()">
              {{'generalKeywords.clean'|translate|uppercase}}&nbsp;
              <span class="material-symbols-rounded delete-icon-consult icon-delete-blue"></span>
            </button>
            <mat-table [hidden]="processes.data.length==0" [dataSource]="processes" matSort>
              <!-- Nº Processo Column -->
              <ng-container matColumnDef="processNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'searches.processNumber'|translate|uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.processNumber}} </mat-cell>
              </ng-container>
              <!-- NIPC Column -->
              <ng-container matColumnDef="nipc">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'searches.date'|translate|uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nipc}} </mat-cell>
              </ng-container>
              <!-- Nome da Empresa Column -->
              <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'searches.companyName'|translate|uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
              </ng-container>
              <!-- Estado Column -->
              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'searches.user'|translate|uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="abrirProcesso">
                <mat-header-cell *matHeaderCellDef>
                  {{'searches.openProcess'|translate|uppercase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="description icon-search-blue" (click)="openProcess(row, false)"></span>
                  <span class="description icon-description" style="margin-left: 15px;" (click)="openProcess(row)"></span>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [hidden]="processes.data.length==0" #paginator>
            </mat-paginator>
          </div>
        </div>
        <div class="col ms-0 ps-0">
          <hr>
          <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
            <span class="navbar-text me-2 align-self-center ms-0 me-0">
              <button [routerLink]="['/']" style="margin-right: 0px !important;" id="btn5a1"
                class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
                wappler-command="editContent">{{'generalKeywords.exit'|translate|uppercase}}&nbsp;
                <span class="exit-to-app icon-exit-to-app"></span>
                <!--<img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;">-->
              </button>
            </span>
          </nav>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #userModal>
  <main class="container-fluid bg-primary ms-0 me-0 ps-0 pe-0">
    <div class="container-fluid ms-0 me-0 ps-0 pe-0">
      <div class="row justify-content-center mt-0 ms-2 me-0 pt-0 pb-0 ps-0 pe-0">
        <div class="align-self-center ms-0 me-0 pt-0 pb-0 ps-0 pe-0 col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0">
            <span class="navbar-text ms-auto align-self-start">
              <h2 class="text-light mt-0 mb-0 ms-0 pt-0 pb-0 ps-0 pe-4" (click)="closeUserModal()" style="cursor: pointer;">x</h2>
            </span>
          </nav>
        </div>
        <div class="row mb-5 ms-0 me-0 ps-0 pe-0">
          <div class="mb-5 ps-0 pe-0 col-12">
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0">
              <span class="navbar-text"></span>
              <span class="material-symbols-rounded icon_alerta">
                <img src="assets/images/warning.svg" class="img_warning">
              </span>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0 text-center">
              <span class="navbar-text">
                <h3 class="fw-bold text-light mb-2">{{'generalKeywords.assignProcess'|translate|uppercase}}</h3>
              </span>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0 text-center">
              <span class="navbar-text" *ngIf="existsUser">
                <h5 class="text-light mb-2 pt-lg-4 pb-lg-5 ps-lg-4 pe-lg-4">
                  {{'homepage.assignUserExists'|translate}} {{workQueue.lockedBy}}&nbsp;
                </h5>
                <h5 class="text-light mb-2 pt-lg-4 pb-lg-5 ps-lg-4 pe-lg-4">
                  {{'homepage.assignUserExistsMore'|translate}} {{username}}&nbsp;
                </h5>
              </span>
              <span class="navbar-text" *ngIf="!existsUser">
                <h5 class="text-light mb-2 pt-lg-4 pb-lg-5 ps-lg-4 pe-lg-4">
                  {{'homepage.assignUserNotExists'|translate}} {{username}}&nbsp;
                </h5>
              </span>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center pt-0 pb-0 bg-primary">
              <span class="navbar-text"></span>
              <span class="navbar-text pb-0 pt-sm-0">
                <button id="btn5a"
                        class="btn text-start bg-primary text-light btn-primary boto_alerta_modal mt-4 mb-0 ms-3 me-3 pt-3 pb-3 ps-3 pe-3"
                        wappler-command="editContent"
                        (click)="closeUserModal()">
                  {{'generalButtons.cancel'|translate|uppercase}}
                </button>
              </span>
              <span class="navbar-text pt-0 pb-0">
                <button id="btn5a1" (click)="assign()"
                        class="btn text-start text-light btn-primary boto_alerta_modal bg-primary mt-4 mb-0 ms-3 me-3 pt-3 pb-3 ps-3 pe-3 mb-sm-0"
                        wappler-command="editContent">
                  {{'generalKeywords.assign'|translate|uppercase}}
                </button>
              </span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-template>
