<footer class="bg-primary">
  <div class="container bg-primary">
      <div class="row bg-primary">
          <div class="bg-primary pb-0 align-self-md-end col-sm-6 align-self-sm-end align-self-end col-lg-4 col-6 col-md-7">
              <a><img src="assets/images/logo_fundo.svg" class="img-fluid"></a>
          </div>
          <div class="col">
              <div class="row pt-2 justify-content-between">
                  <div class="col-12 align-self-end">
                      <nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-around mb-md-2 mt-sm-0 mb-sm-0 pt-sm-0 pb-sm-0 flex-row text-start">

                          <span class="text-success text-uppercase menu-footer mt-0 ms-3 me-3">Política de cookies</span>
                          <span class="text-success text-uppercase menu-footer mt-0 ms-3 me-3">Política de privacidade</span>
                          <span class="text-success text-uppercase menu-footer mt-0 ms-3 me-3">Contatos de Suporte</span>
                          <span class="text-success text-uppercase menu-footer mt-0 ms-3 me-3">FAQS&nbsp;</span>
                      </nav>
                  </div>
                  <!-- <div class="col-12 align-self-end mt-auto pt-0 pb-1">

                      <p class="copyright-footer mt-lg-0 mb-lg-0  text-md-center mt-md-0 mb-md-1 pt-md-0 pb-md-0 text-sm-center text-center">UNICRE © COPYRIGHT 2022. TODOS OS DIREITOS RESERVADOS | DEVELOPED BY SIBS</p>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</footer>