<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <span class="navbar-text text-light">
        <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
        </span>
        <span class="navbar-text">
         <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">INFORMÇÃO DECLARATIVA</h5>
        </span>
       </nav>
      </div>
      <div class="offset-1 col-10 mt-5 pt-0 ps-0 pe-0">

        <ul class="nav nav-tabs" id="navTabs1_tabs" role="tablist">
          <li class="nav-item">
           <a class="nav-link btn-outline-primary activo_tabs activo-tabd" routerLink="/info-declarativa" id="navTabs1_1_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_1" role="tab" aria-controls="navTabs1_1" aria-selected="true">Cliente Empresa</a>
          </li>
          <li class="nav-item_x">
           <a class="nav-link active btn-primary" routerLink="/info-declarativa-stakeholder" id="navTabs1_2_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_2" role="tab" aria-controls="navTabs1_2" aria-selected="false">Interveniente</a>
          </li>
          <li class="nav-item_x">
           <a class="nav-link btn-outline-primary" routerLink="/info-declarativa-lojas" id="navTabs1_3_tab" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_3" role="tab" aria-controls="navTabs1_3" aria-selected="false">Lojas</a>
          </li>
          <li class="nav-item_x">
           <a class="nav-link btn-outline-primary" routerLink="/info-declarativa-assinatura" id="navTabs1_3_tab1" data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_3" role="tab" aria-controls="navTabs1_3" aria-selected="false">Assinatura Pack</a>
          </li>
         </ul>


<div class="offset-xxl-1 col-xxl-10">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="fiscalId">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Nº Cliente </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> {{stake.fiscalId}} </td>
      </ng-container>
      <ng-container matColumnDef="shortName">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Nome Cliente </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> {{stake.shortName}} </td>
      </ng-container>
      <ng-container matColumnDef="identificationDocumentId">
        <th mat-header-cell *matHeaderCellDef class="text-center"> NIF </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> {{stake.identificationDocument.number}} </td>
      </ng-container>
      <ng-container matColumnDef="elegible">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Elegível </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> - </td>
      </ng-container>
      <ng-container matColumnDef="valid">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Válido </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> - </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-primary align-middle text-center"></tr>
      <tr mat-row
          (click)="clickRow(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
<p class="titul campo_obrigatrio">* campo obrigatório</p>


<p class="text-primary"><strong>Contactos *</strong></p>
<p>Preencha pelo menos 1 contacto</p>



    <div class="country-code-dropdown">
      <div class="row ms-0 me-0">
        
        <div class="col"><form [formGroup]="formContactos">
          <div class="ms-0 me-0 ps-0 pe-0 col-7">
            <div class="row">
              <div class="col-4">
               <p class="titulo-form-simples mt-0">INDICATIVO:</p>
               <select class="form-select" #phone1CountryCode formControlName="phone1CountryCode" (click)="changeListElement(phone1CountryCode, $event)" id="phone1CountryCode">
                <option value="">Indicativo:</option>
                <option value="adsadsa">Teste</option>
                <option *ngFor="let country of internationalCallingCodes" value={{country.internationalCallingCode}}>{{country.description}} (+{{country.internationalCallingCode}}) </option>
              </select>
              <div class="alert alert-danger" *ngIf="phone1PhoneNumber.value && !phone1CountryCode.value">
                is required.
              </div>
            </div>
            <div class="col">
              <p class="titulo-form-simples mt-0">TELEFONE:*</p>
              <input #phone1PhoneNumber name="phone1PhoneNumber" type="text" id="phone1PhoneNumber" class="form-control" formControlName="phone1PhoneNumber">
              <div class="alert alert-danger" *ngIf="phone1PhoneNumber.touched && !phone1PhoneNumber.valid || phone1CountryCode.value && !phone1PhoneNumber.value">
                is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
             <p class="titulo-form-simples mt-0">EMAIL*</p>
             <input #emailClient name="emailClient" type="text" id="emailClient" class="form-control" formControlName="email">
            <div class="alert alert-danger" *ngIf="emailClient.touched && !emailClient.valid">
              is required.
            </div>
            </div>
           </div>
           <p class="titulo-form-simples"></p>
        </div></form><div class="col ms-0 ps-0">
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
           <span class="navbar-text me-2 align-self-center ms-0 me-0">
            <button id="btn5a1" [routerLink]="['/']" class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3" wappler-command="editContent">SAIR&nbsp;<img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;"></button></span>
           <button id="btn5a3" [routerLink]="['/']" class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-3 me-2 pt-3 pb-3 ps-3 pe-3" wappler-command="editContent">CANCELAR&nbsp;<img src="assets/images/cancel.svg" style="height: 25px !important; vertical-align: sub;"></button>
           <button id="btn5a4" [routerLink]="['/info-declarativa']" class="btn botao_azul center-align text-start vertical-align: baseline; mt-3 mb-0 ms-2 me-1 pt-3 pb-3 ps-3 btn-lg" wappler-command="editContent"><img src="assets/images/arrow_back_ios_white.svg" style="height: 25px !important; vertical-align: sub;">VOLTAR&nbsp;</button>
           <button id="btn5a2" [routerLink]="['/info-declarativa-lojas']" class="btn botao_azul center-align center-align text-start vertical-align: baseline; mt-3 mb-0 ms-1 me-1 pt-3 pb-3 ps-3 btn-lg"  wappler-command="editContent">SEGUINTE&nbsp;<img src="assets/images/arrow_forward_ios.svg" style="height: 25px !important; vertical-align: sub;"></button>
        </nav>
       </div>
      </div>
    </div>
<!-- </form> -->
</div>
</div>
</div>
<!--<div class="form-group">
  <label for="hourContractStart">Melhor hora de início:</label>
  <input required ngModel #hourContractStart="ngModel" name="hourContractStart" type="text" id="hourContractStart" class="form-control" [(ngModel)]="newStakeholder.hourContractStart">
  <div class="alert alert-danger" *ngIf="hourContractStart.touched && !hourContractStart.valid">
    hourContractStart is required.
  </div>
</div>
<div class="form-group">
  <label for="hourContractEnd">Melhor hora de fim:</label>
  <input required ngModel #hourContractEnd="ngModel" name="hourContractEnd" type="text" id="hourContractEnd" class="form-control" [(ngModel)]="newStakeholder.hourContractEnd">
  <div class="alert alert-danger" *ngIf="hourContractEnd.touched && !hourContractEnd.valid">
    hourContractEnd is required.
  </div>
</div>
<p><strong>Dados Pessoais</strong>:</p>
<div class="schooling-drop-down" formGroupName="formSchooling">
  <label for="schoolingStakeholder">Grau de Instrução:</label>
  <form [formGroup]="formSchooling">
    <select class="form-select" formControlName="schoolingStakeholder" (click)="changeListElementSchool(schoolingStakeholder, $event)" id="schoolingStakeholder" [(ngModel)]="newStakeholder.schoolingStakeholder">
      <option value="disabled">Grau de Instrução:</option>
      <option *ngFor="let SchoolingData of ListaSchoolingStatus" value={{SchoolingData.schooling}}>{{SchoolingData.schooling}} </option>
    </select>
    <p>{{schoolingStakeholder}}</p>
  </form>
</div>
<div class="marital-drop-down" formGroupName="formMarital">
  <label for="maritalStatusStakeholder">Estado civil:</label>
  <form [formGroup]="formMarital">
    <select class="form-select" formControlName="maritalStatusStakeholder" (click)="changeListElementMarital(maritalStatusStakeholder, $event)" id="maritalStatusStakeholder" [(ngModel)]="newStakeholder.maritalStatusStakeholder">
      <option value="disabled">Estado civil:</option>
      <option *ngFor="let maritalStatus of ListaMaritalStatus" value={{maritalStatus.maritalOption}}>{{maritalStatus.maritalOption}} </option>
    </select>
    <p>{{maritalStatusStakeholder}}</p>
  </form>
</div>-->
<!-- add more-->

<!-- <app-pep></app-pep> -->
