<app-nav-menu-interna></app-nav-menu-interna>
<br>
<br>
<br>
<br>
<br>
<br>
<button type="button" class="btn btn-outline-primary me-4" routerLink="/info-declarativa">Cliente Empresa</button>
<button type="button" class="btn btn-primary me-4" routerLink="/info-declarativa-stakeholder">Intervenientes</button>
<button type="button" class="btn btn-outline-primary me-4" routerLink="/info-declarativa-lojas">Lojas</button>
<button type="button" class="btn btn-outline-primary me-4" routerLink="/info-declarativa-assinatura">Assinatura Pack</button>

<br>
<!--



       flagElectableStakeholder : boolean,
       flagValidStakeholder:boolean,
       callingCodeStakeholder: string,
       phoneStakeholder: number,
       emailStakeholder: string,
       hourContractStar: number,
       hourContractEnd: number,
       schoolingStakeholder: string,
       maritalStatusStakeholder: string,
       finEstateStakeholder: number,
       monthlyEarnsStakeholder: number
  -->

<div class="offset-xxl-1 col-xxl-10">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="fiscalId">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Nº Cliente </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> {{stake.fiscalId}} </td>
      </ng-container>
      <ng-container matColumnDef="shortName">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Nome Cliente </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> {{stake.shortName}} </td>
      </ng-container>
      <ng-container matColumnDef="identificationDocumentId">
        <th mat-header-cell *matHeaderCellDef class="text-center"> NIF </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> {{stake.identificationDocument.number}} </td>
      </ng-container>
      <ng-container matColumnDef="elegible">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Elegível </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> - </td>
      </ng-container>
      <ng-container matColumnDef="valid">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Válido </th>
        <td mat-cell *matCellDef="let stake" class="text-center"> - </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-primary align-middle text-center"></tr>
      <tr mat-row
          (click)="clickRow(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>


<p><strong>Contactos*</strong></p>
<p>Preencha pelo menos 1 contacto</p>


<form [formGroup]="formContactos">
  <div class="container" style="display: flex">
    <div class="country-code-dropdown">
      <p>Indicativo:</p>

      <select class="form-select" #countryCode formControlName="countryCode" (click)="changeListElement(callingCodeStakeholder, $event)" id="countryCode">
        <option value="">Indicativo:</option>
        <option *ngFor="let country of internationalCallingCodes" value={{country.internationalCallingCode}}>{{country.description}} (+{{country.internationalCallingCode}}) </option>
      </select>
      <!--<p>{{callingCodeStakeholder}}</p>-->

      <div class="alert alert-danger" *ngIf="phoneNumber.value && !countryCode.value">
        is required.
      </div>
    </div>
    <div class="form-group">
      <label for="phoneStakeholder">Telefone*</label>
      <input #phoneNumber formControlName="phoneNumber" name="phoneStakeholder" type="text" id="phoneStakeholder" class="form-control">

      <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid || countryCode.value && !phoneNumber.value">
        is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="emailStakeholder">Email*</label>
    <input required formControlName="email" name="email" type="text" id="email" class="form-control">
  </div>
</form>
<!--<div class="form-group">
  <label for="hourContractStart">Melhor hora de início:</label>
  <input required ngModel #hourContractStart="ngModel" name="hourContractStart" type="text" id="hourContractStart" class="form-control" [(ngModel)]="newStakeholder.hourContractStart">
  <div class="alert alert-danger" *ngIf="hourContractStart.touched && !hourContractStart.valid">
    hourContractStart is required.
  </div>
</div>
<div class="form-group">
  <label for="hourContractEnd">Melhor hora de fim:</label>
  <input required ngModel #hourContractEnd="ngModel" name="hourContractEnd" type="text" id="hourContractEnd" class="form-control" [(ngModel)]="newStakeholder.hourContractEnd">
  <div class="alert alert-danger" *ngIf="hourContractEnd.touched && !hourContractEnd.valid">
    hourContractEnd is required.
  </div>
</div>
<p><strong>Dados Pessoais</strong>:</p>
<div class="schooling-drop-down" formGroupName="formSchooling">
  <label for="schoolingStakeholder">Grau de Instrução:</label>
  <form [formGroup]="formSchooling">
    <select class="form-select" formControlName="schoolingStakeholder" (click)="changeListElementSchool(schoolingStakeholder, $event)" id="schoolingStakeholder" [(ngModel)]="newStakeholder.schoolingStakeholder">
      <option value="disabled">Grau de Instrução:</option>
      <option *ngFor="let SchoolingData of ListaSchoolingStatus" value={{SchoolingData.schooling}}>{{SchoolingData.schooling}} </option>
    </select>
    <p>{{schoolingStakeholder}}</p>
  </form>
</div>
<div class="marital-drop-down" formGroupName="formMarital">
  <label for="maritalStatusStakeholder">Estado civil:</label>
  <form [formGroup]="formMarital">
    <select class="form-select" formControlName="maritalStatusStakeholder" (click)="changeListElementMarital(maritalStatusStakeholder, $event)" id="maritalStatusStakeholder" [(ngModel)]="newStakeholder.maritalStatusStakeholder">
      <option value="disabled">Estado civil:</option>
      <option *ngFor="let maritalStatus of ListaMaritalStatus" value={{maritalStatus.maritalOption}}>{{maritalStatus.maritalOption}} </option>
    </select>
    <p>{{maritalStatusStakeholder}}</p>
  </form>
</div>-->
<!-- add more-->

<app-pep></app-pep>
