@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: 'roboto';
  src: url('Roboto-Regular.ttf') format('truetype');
}

.icon-dash {
  min-width: 0px;
  padding-top: 17px;
}

.icon-dash img {
  /* color: #d9d9d9 */
  width: 51px;
  padding-bottom: 9px;
}

.icon-accordion img {
  width: 30px;
}

.subtitulo_barras_horizontais {
  font-family: 'roboto' !important;
  font-size: 15px;
  color: #97aae6;
}

.numero-dash {
  font-family: sans-serif !important;
  font-size: 47px !important;
  letter-spacing: 0em !important;
  padding-top: 6px;
  padding-bottom: 0px;
  border-width: 0px !important;
  border-style: none !important;
  text-shadow: 1px 1px 3px #00000044 !important;
}

.subtitulo_dashboard {
  font-size: 12px !important;
  font-family: sans-serif !important;
  color: #b9c1d9 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 11px !important;
}

.fundo_dash {
  border: 0px solid #1e66b0 !important;
  background-color: #1e66b0 !important;
}


.counter {
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  /*  background-image: radial-gradient(circle, #ffc107 100%, white 100%);*/
  border: 0px solid #fff;
  background-color: white;
  /*border-top: 2px solid #fff;*/
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.icons-sidenav {
  vertical-align: top;
}

.footer-bottom {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.btn-dark-toggle {
  width: 20px;
}

.btn-dark-toggle:hover {
  width: 20px;
}

.animation-sidenav-content {
  transition-duration: 1000ms !important;
  transition-timing-function: ease-in-out !important;
  transition-property: transform, margin-left, margin-right !important;
}

.widget {
  margin-bottom: 0px !important;
  color: #d9d9d9 !important;
  font: 400 12px 'roboto' !important;
  vertical-align: text-top !important;
}

.widget img {
  width: 12px;
  text-align: center;
  font: 400 12px 'roboto' !important;
  padding-top: 8px !important;
}

.widget-navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.img_add {
  vertical-align: sub;
}

.img_btn {
  height: 25px;
  vertical-align: text-top;
}

.widget-toolbar {
  height: 28px;
  background-color: #767676;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 45%) !important;
  width: auto !important;
  margin-top: 59px;
  /*  padding-top: 5px !important;
  padding-bottom: 5px !important;*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.mat-toolbar-nav-menu {
  height: 75px;
  position: fixed;
  background-color: #1e66b0;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 45%) !important;
  width: 100% !important;
  margin-top: -20px;
  z-index: 999;
}

.navbar-autohide {
  /*top: var(--navPosition) !important;*/
  transition: top 0.4s;
}

.submenu-link:hover {
  color: red;
}

.material-icons.md-48 {
  font-size: 1.8rem;
  line-height: .75em;
  vertical-align: -0.5em;
}

.material-icons-outlined.md-48 {
  font-size: 1.8rem;
  line-height: .75em;
  vertical-align: -0.5em;
}

.temp {
  width: 285px !important;
}

.submenu {
  padding-bottom: 15px;
}

.sidenav-container {
  background-color: white;
  margin-top: 75px;
}

.sidenav-button {
  background-color: transparent !important;
}

.cor-consultas-menu {
  color: #606060;
}

.sidenav-sub {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 2rem;
  font-size: 1rem;
  color: #fa6e00;
  /*color: #212529;*/
  text-align: left;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
}

.sidenav {
  background-color: #ededed;
  border: 0px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%) !important;
}

.sidenav-list {
  /*padding-top: 20px !important;*/
  /*  top: 35px;
*/
  position: fixed;
  width: 280px;
  /*  top: var(--toptestexpto) !important;*/
  transition: top 2.4s;
  margin: 0px;
  padding: 0px;
}

.sidenav-item img {
  width: 24px;
}

.delete-icon img {
  width: 37px !important;
  padding: 10px;
  padding-top: 14px !important;
  justify-content: center;
  align-items: center;
  display: inline-block;
}



.img-button img {
  color: white !important;
  width: 20px !important;
}

.edit-icon img {
  width: 37px !important;
  padding: 10px !important;
  justify-content: center;
  align-items: center;
}

.sub-icon {
  padding-top: 10px !important;
  color: #212529 !important;
}

.sidenav-item:hover {
  color: #1e66b0 !important; 
}

.sidenav-item {
  color: red !important;
}

.sidenav-button-accordion {
  background-color: transparent !important;
  color: #525252 !important;
  padding: 0.5rem 1rem;
  padding-left: 18px;
}

.sidenav-button-accordion:after {
  margin-left: 4px;
  flex-shrink: 0;
  width: 0;
  height: 0;
  content: "";
  background-image: none !important;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg) !important;
}

/***************************************************/
/***************************************************/
/***************************************************/



.style1 {
  width: 120px
}

.style2 {
  padding-left: 8px;
  padding-right: 8px
}


html {
  min-height: 100%;
  /*  margin-left: calc(100vw - 100%);
*/
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}


/*html {
  min-height: 100%;*/
/*  margin-left: calc(100vw - 100%);*/
/*margin-left: 0px;
}*/



/*body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}*/

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-top: -70px !important;
}

.menu-top{
  margin-top: 70px !important;
}

.logo_topo {}

@media (min-width: 576px) {

  .banner_lettring {
    position: absolute;
    right: 12px
  }

  .menu-footer {
    margin-top: 2px;
    margin-bottom: 1px
  }

  .copyright-footer {
    font-size: 10px;
    padding-top: 8px
  }
}

@media (min-width: 768px) {


  .banner_lettring {
    position: absolute;
    right: 85px
  }

  .style10 {
    text-align: center
  }

  .footer-fundo {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(14%, #1e66b0), to(#4b8fd6));
    background-image: linear-gradient(0deg, #1e66b0 14%, #4b8fd6 100%);
    padding-left: 11px
  }

  .offcanvas-checkboox {
    font-size: 20px;
    color: #1e66b0;
    text-transform: uppercase;
    margin-bottom: 14px;
    border-width: 1px;
    border-color: #1e66b0
  }

  .banner_texto {
    position: absolute
  }

  .seta_direita {
    color: #fff;
    font-size: 44px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .style11 {
    font-family: monospace;
    color: #fff
  }

  .texto-menu-secundario {
    padding-top: 8px;
    padding-bottom: 22px
  }

  .icone-menu-secundario {
    color: #fff;
    font-size: 51px;
    margin-top: 17px
  }

  .style13 {
    margin-top: 13px;
    margin-left: 8px
  }

  .logo-footer {
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: 8px
  }

  .copyright-footer {
    font-size: 10px;
    margin-top: 26px
  }

  .menu-footer {
    font-size: 15px;
    margin: 8px 0px 0px;
    padding-left: 0px;
    padding-right: 0px
  }

  .menu-footer:hover {
    color: #c5e8ef
  }

  .style14 {
    margin-top: 14px;
    margin-bottom: 6px;
    padding-left: 10px
  }

  .style15 {
    color: #659fdb
  }

  @media (min-width: 1200px) {

    .style19 {
      width: 50%
    }

    .logo_footer {
      width: 50%
    }

    .menu-footer {
      text-transform: uppercase;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.57);
      margin-bottom: 0px;
      margin-left: 9px;
      margin-right: 0px;
      padding-top: 12px;
      padding-right: 0px
    }

    .style14 {
      text-transform: uppercase
    }

    .copyright-footer {
      padding-left: 0px
    }
  }

  @media (min-width: 992px) {

    .icone-menu-secundario {
      color: #fff;
      font-size: 27px
    }

    .logo_footer {
      width: 40%
    }

    .menu-footer {
      margin-top: 6px;
      margin-bottom: 0px;
      font-size: 10px
    }

    .style21 {
      margin-top: 0px
    }
  }

  .padding-navbarra {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px
  }

  .fundo_campo_navbarra {
    background-color: #dfe8f2
  }

  .style3 {
    position: absolute;
    top: 163px;
    right: 114px;
    color: #fff;
    text-align: right;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-indent: 24px;
    display: inline;
    margin-bottom: 0px;
    font-size: 49px
  }

  .navbar-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  .botoes_icones_main {
    font-size: 18px
  }

  .botoes_icones_main:active {
    color: #fff
  }

  .botoes_icones_main:focus {
    color: #bfc8d1
  }

  .botoes_icones_main:visited {
    color: #d6e4f2
  }

  .botoes_icones_main:hover {
    color: #5098e0
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
  }

  .style4 {
    background-color: #aabdd1
  }

  .banner_alertas {
    background-color: #d8f0ff;
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: #aabdd1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
  }

  .style5 {
    color: #53595e
  }

  .style6 {
    background-color: #1e66b0;
    color: #d2e0ef
  }

  .botao-banner {
    background-color: #709bc5;
    color: #fff
  }

  .subtitulo_processos {
    font-size: 25px
  }

  .campo_form {
    border-color: #6c757d;
    color: #6f42c1;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px
  }

  .texto-coment {
    font-size: 14px;
    color: #adb5bd;
    padding-left: 0px
  }

  .style7 {
    padding-bottom: 5px
  }

  .campo_form_area {
    border-color: #6c757d;
    color: #000;
    margin-top: 0px;
    margin-bottom: 20px
  }

  .style8 {
    width: 150px;
    height: 150px
  }

  .style9 {
    max-width: 0px
  }

  .texto-banner {
    top: 113px;
    right: 156px;
    position: fixed
  }


  .style12 {
    position: absolute;
    top: 145px;
    right: 480px;
    max-width: 35%
  }

  .texto-banner-grande {
    position: absolute;
    max-width: 42%;
    top: 139px;
    left: 172px
  }

  .style16 {
    color: #1e66b0
  }

  .icone-menu-secundario-incompleto {
    color: #fa6e00;
    font-size: 22px;
    margin-top: 0px;
    padding-top: 0px
  }


  .campo-form-select {
    border-color: #6c757d;
    color: #6c757d
  }


  .offcanvas_escollha {
    width: 299px;
    font-size: 20px;
    color: #4b8fd6;
    border-color: #4b8fd6;
    margin-bottom: 28px;
    padding-left: 6px;
    padding-right: 0px
  }

  .titulo-form-simples {
    font-size: 16px;
    color: #1e66b0;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-left: 0px
  }

  .caixa_menu_footer {
    margin-top: 0px;
    padding: 0px
  }

  .style22 {
    margin-left: 0px
  }
}

@media (min-width: 1400px) {


  .texto_offcanvas {
    margin-top: 11px;
    margin-left: 17px;
    margin-right: 17px
  }

  .menu-footer {
    color: rgba(255, 255, 255, 0.57);
    text-align: center;
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 12px
  }


  .menu-footer:hover {
    color: #fff
  }

  .style17 {
    padding-top: 15px
  }

  .offcanvas_escollha {}

  .offcanvas-checkboox {
    background-color: #f8fbff;
    margin-top: 0px;
    padding-left: 20px
  }

  .checklist-caixa {
    padding-left: 15px
  }

  .checklist-checkbox {
    font-size: 20px
  }

  .checklist-texto {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0)
  }

  .caixa_checklist {
    padding-bottom: 1px
  }

  .botao_checklist {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1
  }

  .style18 {
    color: #99b6d4
  }

  .logo_footer {}

  .copyright-footer {
    font-size: 11px;
    margin-left: 17px
  }

  .style23 {
    padding-top: 0px;
    padding-bottom: 0px
  }

  .subtitulo_processos {
    margin-bottom: 0px;
    letter-spacing: 0em;
    font-family: sans-serif
  }

  .style24 {
    margin-right: -1px
  }

  .style29 {
    font-family: monospace
  }

  .hr {
    margin-top: 2px;
    margin-bottom: 2px
  }
}

.copyright-footer {
  color: #879de3;
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 0px;
  padding-top: 0px
}

.style20 {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px
}

.menu-footer {
  font-size: 14px
}

.campo_form {
  color: #000
}

.campo_form:hover {
  color: #000
}

.campo_form:focus {
  color: #000
}

.campo_form:visited {
  color: #000
}

.subtitulo_processos {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px
}

.titulo-form-simples {
  margin-bottom: 5px
}

.copyright-footer:active {
  color: #97aae6
}

.navbar-text {}

span {}

.style25 {}

.style26 {
  font-size: 23px
}

.style27 {}

.radio {
  font-size: 18px
}

.seta_direita {
  font-size: 20px;
  margin-left: 7px;
  margin-right: 9px
}

:root {
  --offcanvas-width: 265px;
  --topNavbarHeight: 50px;
  --bottomNavbarHeight: 145px;
}

.offcanvas {
  width: var(--offcanvas-width);
}

@media (min-width: 9px) {
  main {
    /*    margin-left: var(--offcanvas-width);
*/
  }

  .offcanvas {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight) - var(--bottomNavbarHeight));
  }

  .offcanvas-backdrop::before {
    display: none;
  }

  .offcanvas-header .btn-close {
    visibility: hidden;
  }
}

.hr {
  color: #0dcaf0
}

.side_menu_texto {
  color: #525252 !important;
  font-size: 17px !important;
  font-weight: 400 !important;
}

.side_menu_texto:hover {
  color: red
}

.table1 {
  --bs-table-bg: rgba(0, 0, 0, 0);
  --bs-table-accent-bg: rgba(0, 0, 0, 0);
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: #1e66b0;
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: #1e66b0;
  width: 100%;
  margin-bottom: .7rem;
  color: #1e66b0;
  vertical-align: top;
  border-color: #e6eef7
}

.table1> :not(caption)>*>* {

  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg)
}

.table1>tbody {
  vertical-align: inherit
}

.table1>thead {
  vertical-align: bottom
}

.table1> :not(:first-child) {
  border-top: 2px solid currentColor
}


.table1-bordered> :not(caption)>* {
  border-width: 1px 0
}

.table1-bordered> :not(caption)>*>* {
  border-width: 0 1px
}

.table1-borderless> :not(caption)>*>* {
  border-bottom-width: 0
}

.table1-borderless> :not(:first-child) {
  border-top-width: 0
}

.table1-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color)
}

.table1-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color)
}

.table1-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color)
}

.botao_esquerda {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 0px !important;
}

.botao_esquerda:hover {
  color: #fff !important;
  background-color: rgba(30, 102, 176, 0.73) !important;
}

.botao_esquerda:active {
  background-color: #1e66b0 !important;
  color: #fff !important;
}

.icon_botao_esquerda {
  padding-top: 3px !important;
  padding-bottom: 2px !important;
}

.btn-procurar {
  color: #1e66b0;
  border-color: #1e66b0
}

.btn-procurar:hover {
  color: #fff;
  border-color: #1e66b0
}

.botao_direita {
  background-color: #1e66b0;
  color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 4px;
}

.botao_direita:hover {
  color: #fff;
  background-color: rgba(30, 102, 176, 0.73);
}

.botao_direita:active {
  background-color: #1e66b0;
  color: #fff;
}

.icon_botao_direita {
  padding-top: 3px;
  padding-bottom: 2px;
}

.accordion1-item {
  background-color: #fff;

}

.accordion1-item:first-of-type {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.accordion1-item:first-of-type .accordion-button {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px)
}

.accordion1-item:not(:first-of-type) {
  border-top: 0
}

.accordion1-item:last-of-type {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.accordion1-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px)
}

.accordion1-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.accordion1-body {
  padding: 1rem 1.25rem
}

.accordion1-flush .accordion-collapse {
  border-width: 0
}

.accordion1-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0
}

.accordion1-flush .accordion1-item:first-child {
  border-top: 0
}

.accordion1-flush .accordion1-item:last-child {
  border-bottom: 0
}

.accordion1-flush .accordion1-item .accordion1-button {
  border-radius: 0
}

.accordion1-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 20px;
  color: #1e66b0;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.07s ease-in-out, background-color 0.07s ease-in-out, border-color 0.07s ease-in-out, box-shadow 0.07s ease-in-out, border-radius 0.07s ease
}

@media (prefers-reduced-motion: reduce) {
  .accordion1-button {
    transition: none
  }
}

.accordion1-button:not(.collapsed) {
  color: #1b5c9e;
  background-color: #e9f0f7;
}

.accordion1-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231b5c9e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg)
}

.accordion1-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  border: 0px solid #1e66b0 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .accordion1-button::after {
    transition: none
  }
}

.accordion1-button:hover {
  z-index: 2
}

.accordion1-button:focus {
  z-index: 3;
  border-color: #8fb3d8;
  outline: 0;
}

.accordion1-header {
  margin-bottom: 0
}

mat-cell {
  font-family: 'roboto';
  font-size: 16px !important;
  color: #1e66b0 !important;
  border-bottom: 1px solid #e6eef7 !important;
  text-align: center !important;
}


mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 0px !important;

}

mat-header-cell,
mat-sort-header,
mat-header-row {
  font-family: 'roboto';
  font-size: 19px !important;
  color: #1e66b0 !important;
  font-weight: bold;
  border-bottom: 1px solid #1e66b0 !important;
  text-align: right !important;
  min-height: 30px !important;
  padding: 0px !important;
}

mat-table {
  font-family: 'roboto', "Helvetica Neue", sans-serif;
  padding: 20px 20px;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

mat-form-field {
  position: relative !important;
  text-align: center !important;
  display: inline-block !important;
  font-family: 'roboto';
  font-size: 14px !important;
  color: #1e66b0 !important;
}

mat-row {
  min-height: 48px !important;
  border-width: 0 !important;
  width: auto !important;
  border-bottom-width: 0px !important;
  border-style: solid !important;
  align-items: center !important;
  box-sizing: border-box !important;
  text-align: center !important;
  padding-left: 5px !important;
}

::ng-deep .mat-form-field {
  color: #1e66b0 !important;
}

mat-paginator {
  font-family: 'roboto';
  font-size: 14px !important;
  color: #1e66b0 !important;
  border-bottom: 0px solid #1e66b0 !important;
  text-align: right !important;
  min-height: 30px !important;
  padding: 0px !important;
}


.icon_alerta {
  font-size: 217px;
  color: #f8f9fa;
}

.boto_alerta_modal {
  border: 1px solid #f8f9fa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.img_warning {
  width: 217px !important;
  color: #f8f9fa !important;
}

.texto_status {
  font-family: 'roboto';
  font-size: 12px;
  vertical-align: top !important;
}

.navbar-widget {
  height: 0px;
}

.navbar-toggler-logo {
  font-size: 12px;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow 0.15s ease-in-out;
  height: 17px !important;
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler-logo {
    transition: none
  }
}

.navbar-toggler-logo:hover {
  text-decoration: none
}

.navbar-toggler-logo:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 .25rem
}

.navbar-toggler-icon-logo {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}

.texto-menu-secundario {
  color: #fff !important;
  padding-top: 8px;
  padding-bottom: 10px
}

.texto-menu-secundario-inativo {
  color: #97aae6 !important;
  padding-top: 8px;
  padding-bottom: 10px
}

.texto-menu-secundario:hover{
  color: red !important;
}

.icone-menu-secundario {
  color: #fff !important;
  font-size: 51px !important;
  margin-top: 17px !important;
  height: 10px !important;
}

.icone-menu-secundario.icone-menu-secundario-desactivo {
  color: #4b8fd6
}

.icone-menu-secundario-inactivo {
  color: #4b8fd6;
  font-size: 20px;
  padding-top: 0px
}

.conteudo{
  padding-top: 130px !important;
}

.modal-checkdocuments {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0
}

.modal-content-checkdocuments {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0,0,0,0.2);
  border-radius: .3rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  outline: 0
}

.modal-header-checkdocuments {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: .7rem .7rem;
  border-bottom: 0px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px)
}

.modal-body-checkdocuments {
  position: relative;
  flex: 1 1 auto;
  padding: .7rem
}

.modal-title-checkdocuments {
  margin-bottom: 0;
  line-height: 1.5;
  color:#1e66b0;
}

.modal-footer-checkdocuments {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .45rem;
  border-top: 0px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px)
}

  .modal-footer-checkdocuments > * {
    margin: .25rem
  }
