<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="70px" height="32px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 324 148.998">
          <defs>
            <style type="text/css">
              .fil0 {
                fill: rgb(var(--bs-primary-rgb))
              }

              .fil1 {
                fill: rgb(var(--bs-icon-secondary-rgb))
              }
            </style>
          </defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer" />
            <rect class="fil0" x="-0.201492" y="-0.0493018" width="324.402" height="149.097" />
            <path class="fil1" d="M94.1079 -0.0507874l32.7768 0 0 91.9654c0,23.4224 11.7732,34.0512 35.1177,34.0512 23.3421,0 35.1248,-10.6264 35.1248,-33.8362l0 -92.1791 32.7638 0.0023622 0 93.4819c0,28.024 -11.6657,46.7291 -33.2185,55.6146l-69.3484 0c-21.5539,-8.88543 -33.2161,-27.5906 -33.2161,-55.6146l0 -93.4854 0 0z" />
          </g>
        </svg>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            {{'declarativeInformation.title'|translate|uppercase}}</h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 col-10 mt-5 pt-0 ps-0 pe-0">
      <ul class="nav nav-tabs" id="navTabs1_tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link disabled  btn-outline-primary activo_tabs activo-tabd" id="navTabs1_1_tab"
            data-bs-toggle="tab" href="#" data-bs-target="#navTabs1_1" role="tab" aria-controls="navTabs1_1"
            aria-selected="true">{{'client.title'|translate}}</a>
        </li>
        <li class="nav-item_x">
          <a class="nav-link disabled btn-outline-primary" id="navTabs1_2_tab" data-bs-toggle="tab" href="#"
            data-bs-target="#navTabs1_2" role="tab" aria-controls="navTabs1_2"
            aria-selected="false">{{'stakeholder.title'|translate}}</a>
        </li>
        <li class="nav-item_x">
          <a class="nav-link disabled btn-outline-primary" id="navTabs1_3_tab" data-bs-toggle="tab" href="#"
            data-bs-target="#navTabs1_3" role="tab" aria-controls="navTabs1_3"
            aria-selected="false">{{'stores.title'|translate}}</a>
        </li>
        <li class="nav-item_x">
          <a class="nav-link disabled active btn-primary" id="navTabs1_3_tab1" data-bs-toggle="tab" href="#"
            data-bs-target="#navTabs1_3" role="tab" aria-controls="navTabs1_3"
            aria-selected="false">{{'declarativeInformation.packSignature'|translate}}</a>
        </li>
      </ul>
      <form [formGroup]="form">
        <div class="tab-content" id="navTabs1_content">
          <div class="container-fluid mt-0 ps-3 pe-3">
            <div class="row">
              <div class="bg-white align-self-center col-12 laterais_tabs2 mt-0 ms-0 me-0 pt-4 ps-5 pe-5">
                <h4 class="text-primary mt-3 ps-0"><span class="save-as icon-save-as"></span>
                  <!--<img src="assets/images/save_as.svg"
                    style="height: 25px !important; vertical-align: sub;">-->
                  &nbsp;{{'declarativeInformation.signature.type'|translate|uppercase}}
                </h4>
                <p></p>
                <div class="row ms-0 me-0">
                  <div class="ms-0 me-0 ps-0 pe-0 col-7">
                    <div class="row">
                      <div class="col-4">
                        <p class="titulo-form-simples mt-0">{{'declarativeInformation.signature.language'|translate}}
                        </p>
                        <select class="form-select" formControlName="language" name="language" id="language">
                          <option *ngFor="let lang of contractLanguage" value={{lang.code}}>{{lang.description}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 ms-0 me-0 ps-4 pe-5">
                        <p class="titulo-form-simples mb-1">
                          {{'declarativeInformation.signature.chooseOption'|translate}}
                        </p>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <span class="navbar-text">
                            <div class="form-check">
                              <input class="form-check-input" id="opt1" [value]=true (click)="choosePaper(true)"
                                formControlName="signature" name="isVisible" type="radio" />
                              <label class="form-check-label radio pe-5"
                                for="radio8">{{'declarativeInformation.signature.paperSignature'|translate|uppercase}}&nbsp;</label>
                            </div>
                          </span>
                          <span class="navbar-text">
                            <div class="form-check">
                              <input class="form-check-input" id="opt2" [value]=false (click)="choosePaper(false)"
                                formControlName="signature" name="isVisible" type="radio" />
                              <label class="form-check-label radio"
                                for="radio8">{{'declarativeInformation.signature.digitalSignature'|translate|uppercase}}</label>
                            </div>
                          </span>
                        </nav>
                        <p class="titulo-form-simples"></p>
                      </div>
                    </div>
                    <p class="titulo-form-simples"></p>
                  </div>
                </div>
                <h4 *ngIf="!isVisible" class="text-primary mt-3 ps-0">
                  <!--<img src="assets/images/app_registration.svg"
                    style="height: 25px !important; vertical-align: bottom;">-->
                  <span class="app-registration icon-app-registration"></span>
                &nbsp;{{'declarativeInformation.signature.title'|translate|uppercase}}
                </h4>
              </div>
              <div class="bg-white align-self-center col-12 laterais_tabs4 mt-0 ms-0 me-0 pt-2 ps-5 pe-5">
                <div class="table-responsive mb-5 pb-5" style="margin-bottom: 50px;">
                  <table *ngIf="!isVisible" class='table table-striped' aria-labelledby="tableLabel">
                    <thead class="text-primary table-primary">
                      <tr class="table-white text-primary">
                        <th scope="col" class="text-center text-primary bg-light table-white">
                          {{'declarativeInformation.signature.clientName'|translate}}</th>
                        <th scope="col" class="text-center bg-light">NIF</th>
                        <th scope="col" class="text-center bg-light">
                          {{'declarativeInformation.signature.digitalSignatureType'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="clickable" *ngFor="let stakeholder of submissionStakeholders; let i = index;">
                        <td class="text-primary text-center align-middle"> {{stakeholder.shortName}} </td>
                        <td class="text-primary text-center align-middle"> {{stakeholder.fiscalId == undefined ? "-" : stakeholder.fiscalId}} </td>
                        <td class="text-primary text-center align-middle">
                          <select *ngIf="!isVisible" id="{{stakeholder.id}}" name="{{stakeholder.id}}" formControlName="{{stakeholder.id}}">
                            <option value="OneTimePassword">OTP</option>
                            <option value="DigitalCitizenCard">Chave Móvel Digital</option>
                            <option value="CitizenCard">CC</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <ng-template #closeSubmissionModal>
                  <main class="container-fluid bg-primary ms-0 me-0 ps-0 pe-0" style="margin-top: 0px !important;">
                    <div class="container-fluid ms-0 me-0 pt-2 pb-2 ps-2 pe-2">
                      <div class="row justify-content-center mt-0 ms-2 me-0 pt-0 pb-0 ps-0 pe-0">
                        <div class="align-self-center ms-0 me-0 pt-0 pb-0 ps-0 pe-0 col-12">
                          <nav
                            class="navbar navbar-expand navbar-light bg-primary mt-0 mb-0 ms-0 me-0 pt-0 pb-0 ps-0 pe-0">
                            <span class="navbar-text ms-auto align-self-start">
                              <h2 class="text-light mt-1 mb-0 ms-0 me-1 pt-0 pb-0 ps-0 pe-4"
                                (click)="declineCloseSubmission()" style="cursor: pointer;">x</h2>
                            </span>
                          </nav>
                        </div>
                        <div class="row mb-5 ms-0 me-0 ps-0 pe-0">
                          <div class="mb-5 ps-0 pe-0 col-12">
                            <nav
                              class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0">
                              <span class="navbar-text"></span>
                              <img src="assets/images/warning.svg" class="img_warning">
                            </nav>
                            <nav
                              class="navbar navbar-expand-lg navbar-light justify-content-center bg-primary mt-0 mb-0 pt-0 pb-0 text-center">
                              <span class="navbar-text">
                                <h5 class="text-light mb-2 pt-lg-4 pb-lg-5 ps-lg-4 pe-lg-4">
                                  {{'declarativeInformation.signature.submission'|translate}}&nbsp;</h5>
                              </span>
                            </nav>
                            <nav
                              class="navbar navbar-expand-lg navbar-light justify-content-center pt-0 pb-0 bg-primary">
                              <span class="navbar-text"></span>
                              <span class="navbar-text pb-0 pt-sm-0"><button (click)="declineCloseSubmission()"
                                  id="btn5a"
                                  class="btn boto_alerta_modal mt-4 mb-0 ms-3 me-3 pt-3 pb-3 ps-4 pe-4 ps-lg-5 pe-lg-5"
                                  style="color: white"
                                  wappler-command="editContent">{{'generalKeywords.back'|translate|uppercase}}</button></span>
                              <span class="navbar-text pt-0 pb-0"><button (click)="closeSubmission()" id="btn5a1"
                                  class="btn boto_alerta_modal mb-sm-0 mt-4 mb-0 ms-3 me-3 pt-3 pb-3 ps-4 pe-4"
                                  style="color: white"
                                  wappler-command="editContent">{{'generalButtons.send'|translate|uppercase}}</button></span>
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                  </main>
                </ng-template>
                <div class="col ms-0 ps-0">
                  <hr>
                  <nav
                    class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
                    <span class="navbar-text me-2 align-self-center ms-0 me-0">
                      <button id="btn5a1" [routerLink]="['/']"
                        class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3"
                        wappler-command="editContent">{{'generalKeywords.exit'|translate|uppercase}}&nbsp;
                        <span class="exit-to-app icon-exit-to-app"></span>
                        <!--<img
                          src="assets/images/exit_to_app.svg"
                          style="height: 25px !important; vertical-align: sub;">-->
                      </button>
                      <button *ngIf="returned != 'consult'" id="btn5a3" [routerLink]="['/']"
                        class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3 pe-3"
                        wappler-command="editContent">{{'generalButtons.cancel'|translate|uppercase}}&nbsp;
                        <span class="cancel icon-cancel"></span>
                      <!--<img
                          src="assets/images/cancel.svg" style="height: 25px !important; vertical-align: sub;">-->
                      </button>
                      <button id="btn5a4" [routerLink]="['/info-declarativa-lojas']"
                        class="btn botao_azul center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3"
                        wappler-command="editContent"><img src="assets/images/arrow_back_ios_white.svg"
                          style="height: 25px !important; vertical-align: sub;">{{'generalKeywords.back'|translate|uppercase}}&nbsp;</button>
                      <button id="btn5a2" (click)="openCloseSubmissionModal()" [disabled]="!form.valid"
                        class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3"
                        wappler-command="editContent">{{'generalButtons.submit'|translate|uppercase}}&nbsp;</button>
                    </span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
