<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid mt-5 ms-0 me-0 pt-5 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 bg-white col-7 col-xxl-10">

      <!--Indicativo, telefone fixo 1:, Indicativo, Telemóvel, email, Indicativo Fax Email da Faturação-->
      <div class="offset-1 bg-white align-self-center col-10 ps-3">
        <br>

        <button type="button" class="btn btn-outline-primary me-4" routerLink="/info-declarativa">Cliente Empresa</button>
        <button type="button" class="btn btn-outline-primary me-4" routerLink="/info-declarativa-stakeholder">Intervenientes</button>
        <button type="button" class="btn btn-outline-primary me-4" routerLink="/info-declarativa-lojas">Lojas</button>
        <button type="button" class="btn btn-primary me-4" routerLink="/info-declarativa-assinatura">Assinatura Pack</button>

  <p class="text-primary" style="margin-top:5%;">SELECIONE A FORMA DE ASSINATURA DE CONTRATO</p>

  <p class="titulo-form-simples">Idioma:</p>
  <select class="form-select">
    <option value=""> - </option>
    <option value="Português">Português</option>
  </select>
  <br>

  <div class="col">
  <p class="titulo-form"> Selecione uma das opções </p>

  
  <input class="form-check-input" id="opt1" [value]="1"
         [(ngModel)]="isVisible"
         #opt1="ngModel"
         name="isVisible"
         type="radio"
         [checked]="isSelected" />
         <label class="form-check-label" for="opt1">Assinatura em papel</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  
  <input class="form-check-input" id="opt2" [value]="0"
         [(ngModel)]="isVisible"
         #opt2="ngModel"
         name="isVisible"
         type="radio"
         [checked]="!isSelected" />
         <label class="form-check-label" for="opt2">Assinatura eletrónica</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<br>
  <p *ngIf="isVisible == 0 || isVisible == 1" class="text-primary">SELECIONE OS REPRESENTANTES QUE OBRIGAM A EMPRESA</p>
  <table *ngIf="isVisible == 0 || isVisible == 1" class='table table-striped' aria-labelledby="tableLabel" >
    <thead>
      <tr>
        <th>Nome do Cliente</th>
        <th>NIF</th>
        <th *ngIf="isVisible == 1">Letra</th>
        <th *ngIf="isVisible == 1">Tipo de assinatura</th>
        <th>Seleção</th>
        <th>Tipo assinatura digital</th>
        <th>Tipo de identificação </th>

      </tr>
    </thead>
    <tbody>
      <tr class="clickable" *ngFor="let stakeholder of stakeholders">
        <td>{{stakeholder.fiscalId == undefined ? "-" : stakeholder.fiscalId}}</td>
        <td> - </td>
        <td *ngIf="isVisible == 1"> - </td>
        <td *ngIf="isVisible == 1"> - </td>
        <td><input #{{stakeholder.fiscalId}} id="{{stakeholder.fiscalId}}" type="checkbox" [checked]="representativesSelected.indexOf(stakeholder.fiscalId) > -1" (change)="changeRepresentativeSelected($event)" /></td>
        <td>
          <select *ngIf="isVisible == 1" disabled><option>N/A</option></select>
          <select *ngIf="isVisible == 0">
            <option>OTP</option>
            <option>Chave Móvel Digital</option>
            <option>CC</option>
          </select>
        </td>
        <td>
          <select *ngIf="isVisible == 1" disabled><option>Presencial</option></select>
          <select *ngIf="isVisible == 0"><option>Prova-Vida</option></select>
        </td>

      </tr>
    </tbody>
  </table>
  <button class="btn text-start bg-primary text-light btn-primary style10 mt-3 ms-2 btn-lg" type="button" (click)="redirectHomePage()">SUBMETER PEDIDO</button>
</div>
</div>
</div>