<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid mt-5 ms-0 me-0 pt-5 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 bg-white col-7 col-xxl-10" style="margin-top: 20px">
      <div class="offset-1 bg-white align-self-center col-10 ps-3">
        <h2 class="text-primary mt-5 ps-0"><img src="assets/images/group_add_blue.svg" class="img_add">&nbsp;NOVO
          INTERVENIENTE</h2>
        <p class="titul campo_obrigatrio">* campo obrigatório</p>
        <p class="titulo-form-simples">Associado ao Contrato:*</p>
        <div class="form-check">
          <input class="form-check-input" required formControlName="contractAssociation" name="contractAssociation"
            type="radio" value=true id="contractAssociation">
          <label class="form-check-label radio">SIM</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" required formControlName="contractAssociation" name="contractAssociation"
            type="radio" value=false id="contractAssociation">
          <label class="form-check-label radio" for="radio2">NÃO</label>
        </div>
        <p></p>

        <p class="titulo-form-simples">Procurador:*</p>
        <div class="form-check">
          <input class="form-check-input" required formControlName="procurator" name="procurator" type="radio"
            value=true id="procurator">
          <label class="form-check-label radio">SIM</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" required formControlName="procurator" name="procurator" type="radio"
            value=false id="procurator">
          <label class="form-check-label radio" for="radio2">NÃO</label>
        </div>
        <p></p>

        <p class="titulo-form-simples">Pretende efetuar a Atualização Eletrónica dos Dados utilizando o Cartão de
          Cidadão?:*</p>
        <div class="form-check">
          <input class="form-check-input" required formControlName="flagRecolhaEletronica" name="flagRecolhaEletronica"
            type="radio" value=true id="flagRecolhaEletronica" (click)="validateCC(true)">
          <label class="form-check-label radio">SIM</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" required formControlName="procurflagRecolhaEletronicaator"
            name="flagRecolhaEletronica" type="radio" value=false id="flagRecolhaEletronica"
            (click)="validateCC(false)">
          <label class="form-check-label radio" for="radio2">NÃO</label>
        </div>
      </div>


      <!--Sem CC-->
      <div class="offset-1 bg-white align-self-center col-10 ps-3">
        <div *ngIf="showYesCC && !showNoCC">
          <form [formGroup]="formNewStakeholder" (ngSubmit)="submit(formNewStakeholder.value)">

            <!--<div class="form-group">
      <label for="fullName">Nome do Cliente</label>
      <input type="text" formControlName="fullName"
             id="fullName" class="form-control" [(ngModel)]="newStake.fullName">
      <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
        <div *ngIf="clientName.errors && clientName.errors['required']">Client Name is required.</div>
        <div *ngIf="clientName.errors && clientName.errors['minlength']">
          Client Name must have at least 2 characters.
        </div>
        <div *ngIf="clientName.errors && clientName.errors['maxlength']">
          Clients Name has a maximum of 100 characters.
        </div>
      </div>
    </div>-->
            <div class="titulo-form-simples">
              <label for="documentType">
                Tipo de Documento de Identificação (1ª Nacionalidade):*
              </label>
              <input readonly name="identificationDocumentType" formControlName="documentType" class="form-control"
                [(ngModel)]="newStake.identificationDocument.identificationDocumentType">
              <!--<div class="alert alert-danger" *ngIf="documentType.touched && !documentType.valid">
        documentType is required.
      </div>-->
            </div>



            <div class="titulo-form-simples">
              <label for="documentCountry">
                País de Documento de Identificação (1ª Nacionalidade):*
              </label>
              <input readonly name="documentCountry" formControlName="documentCountry" class="form-control"
                [(ngModel)]="newStake.identificationDocument.identificationDocumentCountry">
              <!--<div class="alert alert-danger" *ngIf="documentCountry.touched && !documentCountry.valid">
        documentCountry is required.
      </div>-->
            </div>

            <div class="titulo-form-simples">
              <label for="identificationDocumentId">
                Nº Documento de Identificação (1ª Nacionalidade):*
              </label>
              <input readonly name="identificationDocumentId" formControlName="identificationDocumentId" class="form-control"
                [(ngModel)]="newStake.identificationDocument.identificationDocumentNumber">
              <!--<div class="alert alert-danger" *ngIf="identificationDocumentId.touched && !identificationDocumentId.valid">
        nrDocumentoID is required.
      </div>-->
            </div>

            <div class="titulo-form-simples">
              <label for="identificationDocumentValidUntil">
                Data de Validade Doc. de Identificação (1ª Nacionalidade):*
              </label>
              <input readonly name="identificationDocumentValidUntil" formControlName="identificationDocumentValidUntil"
                cols="30" rows="10" class="form-control"
                [(ngModel)]="newStake.identificationDocument.identificationDocumentExpirationDate">
              <!--<div class="alert alert-danger" *ngIf="dateDocumentID.touched && !dateDocumentID.valid">
        dataDocumentoID is required.
      </div>-->
            </div>
          </form>
        </div>
      
      <div *ngIf="!showYesCC && showNoCC">        
            <p class="titulo-form-simples ">
              NIF &nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <input id="fiscalId" type="text" #box [(ngModel)]="newStake.fiscalId">


        <!--<div class="alert alert-danger" *ngIf="fiscalId.touched && !fiscalId.valid">
    O parâmetro "NIF" é obrigatório.
  </div>-->

        
          <p class="titulo-form-simples ">
            Cargo &nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <input id="roleStakeholder" type="text" #box>
        <!--<div class="alert alert-danger" *ngIf="roleStakeholder.touched && !roleStakeholder.valid">
    O parâmetro "Cargo" é obrigatório.
  </div>-->

          <p class="titulo-form-simples ">
            País da Morada Fiscal &nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <input id="streetAdressStakeholder" type="text" #box [(ngModel)]="newStake.fiscalAddress.address">
        <!--<div class="alert alert-danger" *ngIf="roleStakeholder.touched && !roleStakeholder.valid">
    O parâmetro "Morada Fiscal" é obrigatório.
  </div>-->

          <p class="titulo-form-simples ">
            Código Postal &nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <input id="postCodeAdressStakeholder" type="text" #box [(ngModel)]="newStake.fiscalAddress.postalCode">
        <!--<div class="alert alert-danger" *ngIf="postalCode.touched && !postalCode.valid">
    O parâmetro "Código postal" é obrigatório.
  </div>-->

          <p class="titulo-form-simples ">
            Localidade &nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <input id="areaBillingAdressStakeholder" type="text" #box [(ngModel)]="newStake.fiscalAddress.postalArea">
        <!--<div class="alert alert-danger"
    *ngIf="postalArea.touched && !postalArea.valid">
    O parâmetro "Código postal" é obrigatório.
  </div>-->

          <p class="titulo-form-simples ">
            Morada Fiscal &nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <input id="countryBillingAdressStakeholder" type="text" #box [(ngModel)]="newStake.fiscalAddress.country">
        <!--<div class="alert alert-danger"
    *ngIf="countryBillingAdressStakeholder.touched && !countryBillingAdressStakeholder.valid">
    O parâmetro "Código postal" é obrigatório.
  </div>-->
</div>


        <!--<div *ngIf="showYesCC">
           Parte feita pelo Filipe, ver consequencias de alterar
          <div class="col-sm-6">
            <div class="card">
              <div class="form-group" *ngIf="readcard" style="width:450px">
                Nome:<input ngModel #clientName="ngModel" name="clientName" type="text" id="clientName"
                  class="form-control" [(ngModel)]="readcard[0]" readonly>
                Nr Doc:<input ngModel #nrDocumentoID="ngModel" name="nrDocumentoID" type="text" id="nrDocumentoID"
                  class="form-control" [(ngModel)]="readcard[1]" readonly>
                Data Documento:<input ngModel #dateDocumentID="ngModel" name="dateDocumentID" type="text"
                  id="dateDocumentID" class="form-control" [(ngModel)]="readcard[2]" readonly>
                Nif:<input ngModel #stakeholderNif="ngModel" name="stakeholderNif" type="text" id="stakeholderNif"
                  class="form-control" [(ngModel)]="readcard[3]" readonly>
                Nacionalidade:<input ngModel #documentCountry="ngModel" name="documentCountry" type="text"
                  id="documentCountry" class="form-control" [(ngModel)]="readcard[4]" readonly>
                Morada:<input ngModel #streetAdressStakeholder="ngModel" name="streetAdressStakeholder" type="text"
                  id="streetAdressStakeholder" class="form-control" [(ngModel)]="readcard[8]" readonly>
                Morada:<input ngModel #postCodeAdressStakeholder="ngModel" name="postCodeAdressStakeholder" type="text"
                  id="postCodeAdressStakeholder" class="form-control" [(ngModel)]="readcard[9]" readonly>
                Área:<input ngModel #areaBillingAdressStakeholder="ngModel" name="areaBillingAdressStakeholder"
                  type="text" id="areaBillingAdressStakeholder" class="form-control" [(ngModel)]="readcard[6]" readonly>
                País Morada Fiscal:<input ngModel #countryBillingAdressStakeholder="ngModel"
                  name="countryBillingAdressStakeholder" type="text" id="countryBillingAdressStakeholder"
                  class="form-control" [(ngModel)]="readcard[5]" readonly>
              </div>
            </div>
          </div>
        </div>-->

        <button type="submit" (click)="submit(formNewStakeholder.value)"> Submeter </button>

    </div>
      <button (click)="onClickDelete(newStake.fiscalId, newStake.fullName)" class="btn btn-primary">Eliminar</button>

    </div>
  </div>
</div>