<app-nav-menu-interna></app-nav-menu-interna>
<form [formGroup]="formNewStakeholder" (ngSubmit)="submit()">

  <div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
    <!--<form [formGroup]="formNewStakeholder" (ngSubmit)="submit(formNewStakeholder.value)">-->
    <div class="row">
      <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
          <span class="navbar-text text-light">
            <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70" />
          </span>
          <span class="navbar-text">
            <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
              {{'stakeholder.title'|translate|uppercase}}
            </h5>
          </span>
        </nav>
      </div>
      <div class="offset-1 bg-white align-self-center col-10 mt-0 pt-2 ps-0">
        <div class="bg-white align-self-center col-12 mt-0 ms-0 me-0 pt-5">
          <app-stakeholders-list [submissionId]="submissionId" [processNumber]="processNumber" [canDelete]=false (selectedStakeholderEmitter)="updateForm($event)"></app-stakeholders-list>
        </div>
        
        <div class="row ms-0 me-0" *ngIf="isSelected">
          <h2 class="text-primary mt-5 ps-0 center-align">
            <img src="assets/images/group_add_blue.svg" class="img_add">&nbsp;{{'stakeholder.identification'|translate|uppercase}}
          </h2>
          <div class="col-6 ms-0 me-0 ps-0 pe-5">
            <p class="titulo-form-simples mb-1">{{'stakeholder.signature'|translate}}:*</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <span class="navbar-text">
                <div class="form-check">
                  <input class="form-check-input" formControlName="contractAssociation" name="contractAssociation"
                         type="radio" value='true' id="contractAssociation" />
                  <label class="form-check-label radio pe-5" for="radio8">{{'generalKeywords.yes'|translate|uppercase}}</label>
                </div>
              </span>
              <span class="navbar-text">
                <div class="form-check">
                  <input class="form-check-input" formControlName="contractAssociation" name="contractAssociation"
                         type="radio" value='false' id="contractAssociation" />
                  <label class="form-check-label radio" for="radio2">{{'generalKeywords.no'|translate|uppercase}}</label>
                </div>
              </span>
            </nav>
            <p class="titulo-form-simples mb-1">
              {{'citizenCard.updateData'|translate|uppercase}}*
            </p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <span class="navbar-text">
                <div class="form-check">
                  <input class="form-check-input" formControlName="flagRecolhaEletronica"
                         name="flagRecolhaEletronica" type="radio" [value]="true" id="flagRecolhaEletronica" [checked]="showYesCC" [attr.disabled]="returned === 'consult' ? true : null"
                         (click)="validateCC(true)" />
                  <label class="form-check-label radio pe-5" for="radio2">{{'generalKeywords.yes'|translate|uppercase}}</label>
                </div>
              </span>
              <span class="navbar-text">
                <div class="form-check">
                  <input input class="form-check-input" formControlName="flagRecolhaEletronica"
                         name="flagRecolhaEletronica" type="radio" [value]="false" id="flagRecolhaEletronica" [attr.disabled]="flagRecolhaEletronica || returned === 'consult' ? true : null"
                         (click)="validateCC(false)" />
                  <label class="form-check-label radio" for="radio2">{{'generalKeywords.no'|translate|uppercase}}</label>
                </div>
              </span>
            </nav>
            <p class="titulo-form-simples"></p>
          </div>
          <div class="offset-1 ms-0 me-0 ps-5 pe-0 col-6">
            <p class="titulo-form-simples mb-3">{{'stakeholder.proxy'|translate}}:*</p>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <span class="navbar-text">
                <div class="form-check">
                  <input class="form-check-input" formControlName="proxy" name="proxy" type="radio"
                         value='true' id="proxy" [attr.disabled]="returned === 'consult' ? true : null"/>
                  <label class="form-check-label radio pe-5" for="radio1">{{'generalKeywords.yes'|translate|uppercase}}</label>
                </div>
              </span>
              <span class="navbar-text">
                <div class="form-check">
                  <input class="form-check-input" formControlName="proxy" name="proxy" type="radio"
                         value='false' id="proxy" [attr.disabled]="returned === 'consult' ? true : null"/>
                  <label class="form-check-label radio" for="radio1">{{'generalKeywords.no'|translate|uppercase}}</label>
                </div>
              </span>
            </nav>
          </div>


          <!--Sem CC-->
          <div class="col-6 ms-0 me-0 ps-0 pe-5">
          <div *ngIf="showYesCC && !showNoCC">
            
              <p class="titulo-form-simples mt-0">{{'citizenCard.identificationDocumentType'|translate}}:*</p>
              <input readonly name="identificationDocumentType" formControlName="documentType" class="form-control campo_form">
              <p class="titulo-form-simples">{{'citizenCard.identificationDocumentCountry'|translate}}:*</p>
              <select readonly name="documentCountry" formControlName="identificationDocumentCountry" class="form-control campo_form">
                <option *ngFor="let country of countries" value={{country.code}} [attr.selected]="(currentStakeholder.identificationDocument.country == country.code) ? true : null">{{country.description}}</option>
              </select>            
          </div>
          <div *ngIf="!showYesCC && showNoCC">
            
              <p class="titulo-form-simples mt-0">NIF</p>
              <input id="fiscalId" class="form-control campo_form" type="text" formControlName="NIF" [readonly]="selectedStakeholderIsFromCRC">
              <p class="titulo-form-simples ">{{'stakeholder.country'|translate|uppercase}}</p>
              <select id="streetAddressStakeholder" class="form-select" formControlName="Country" (click)="GetCountryByZipCode()" [attr.disabled]="returned === 'consult' ? true : null">
                <option *ngFor="let country of countries" value="{{country.code}}" (click)="GetCountryByZipCode()">{{country.description}}</option>
              </select>
              <p class="titulo-form-simples ">{{'stakeholder.postalCode'|translate|uppercase}}</p>
              <input class="form-control campo_form" id="postCodeAdressStakeholder" type="text" formControlName="ZIPCode" (keyup)="GetCountryByZipCode()" maxlength="8" [readonly]="returned === 'consult'">
              <p class="titulo-form-simples"></p>
            </div>
            </div>
          <div class="col-6 ms-0 me-0 ps-5 pe-0">
            <div *ngIf="!showYesCC && showNoCC">
              <p class="titulo-form-simples mt-0">{{'stakeholder.role'|translate|uppercase}}</p>
              <!--<input id="roleStakeholder" class="form-control campo_form" type="text" formControlName="Role" [readonly]="returned === 'consult'">-->
              <select id="roleStakeholder" class="form-select" formControlName="Role" [attr.disabled]="canEditRole() === false" >
                <option *ngFor="let role of stakeholdersRoles" value="{{role.code}}">{{role.description}}</option>
              </select>
              <!--<div class="alert alert-danger" *ngIf="roleStakeholder.touched && !roleStakeholder.valid">
  O parâmetro "Cargo" é obrigatório.
  </div>-->

              <p class="titulo-form-simples ">{{'stakeholder.locale'|translate|uppercase}}</p>
              <input class="form-control campo_form" id="areaBillingAdressStakeholder" type="text" formControlName="Locality" [readonly]="canEditLocality() === false">
              <!--<div class="alert alert-danger"
    *ngIf="postalArea.touched && !postalArea.valid">
    O parâmetro "Código postal" é obrigatório.
  </div>-->

              <p class="titulo-form-simples ">{{'stakeholder.address'|translate|uppercase}}</p>
              <input class="form-control campo_form" id="countryBillingAdressStakeholder" type="text" formControlName="Address" [readonly]="returned === 'consult'">
              <!--<div class="alert alert-danger"
    *ngIf="countryBillingAdressStakeholder.touched && !countryBillingAdressStakeholder.valid">
    O parâmetro "Código postal" é obrigatório.
  </div>-->
              <p class="titulo-form-simples"></p>
            
          </div>
          <div *ngIf="showYesCC && !showNoCC">
          <p class="titulo-form-simples">{{'citizenCard.identificationDocumentNumber'|translate}}:*</p>
          <input readonly name="identificationDocumentId" formControlName="identificationDocumentId"
                 class="form-control campo_form">
          <p class="titulo-form-simples">{{'citizenCard.identificationDocumentDate'|translate}}:*</p>
          <input readonly name="identificationDocumentValidUntil" formControlName="identificationDocumentValidUntil"
                 cols="30" rows="10" class="form-control campo_form">
          </div></div>
          <div class="offset-1 ms-0 me-0 ps-0 pe-0 col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light pb-3">
              <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0"></span>
              <span class="navbar-text me-xxl-2 align-self-center ms-0 me-0"></span><span class="navbar-text"></span>
            </nav>
          
          </div>
        </div>


        <!--<div *ngIf="showYesCC">
               Parte feita pelo Filipe, ver consequencias de alterar
              <div class="col-sm-6">
                <div class="card">
                  <div class="form-group" *ngIf="readcard" style="width:450px">
                    Nome:<input ngModel #clientName="ngModel" name="clientName" type="text" id="clientName"
                      class="form-control" [(ngModel)]="readcard[0]" readonly>
                    Nr Doc:<input ngModel #nrDocumentoID="ngModel" name="nrDocumentoID" type="text" id="nrDocumentoID"
                      class="form-control" [(ngModel)]="readcard[1]" readonly>
                    Data Documento:<input ngModel #dateDocumentID="ngModel" name="dateDocumentID" type="text"
                      id="dateDocumentID" class="form-control" [(ngModel)]="readcard[2]" readonly>
                    Nif:<input ngModel #stakeholderNif="ngModel" name="stakeholderNif" type="text" id="stakeholderNif"
                      class="form-control" [(ngModel)]="readcard[3]" readonly>
                    Nacionalidade:<input ngModel #documentCountry="ngModel" name="documentCountry" type="text"
                      id="documentCountry" class="form-control" [(ngModel)]="readcard[4]" readonly>
                    Morada:<input ngModel #streetAdressStakeholder="ngModel" name="streetAdressStakeholder" type="text"
                      id="streetAdressStakeholder" class="form-control" [(ngModel)]="readcard[8]" readonly>
                    Morada:<input ngModel #postCodeAdressStakeholder="ngModel" name="postCodeAdressStakeholder" type="text"
                      id="postCodeAdressStakeholder" class="form-control" [(ngModel)]="readcard[9]" readonly>
                    Área:<input ngModel #areaBillingAdressStakeholder="ngModel" name="areaBillingAdressStakeholder"
                      type="text" id="areaBillingAdressStakeholder" class="form-control" [(ngModel)]="readcard[6]" readonly>
                    País Morada Fiscal:<input ngModel #countryBillingAdressStakeholder="ngModel"
                      name="countryBillingAdressStakeholder" type="text" id="countryBillingAdressStakeholder"
                      class="form-control" [(ngModel)]="readcard[5]" readonly>
                  </div>
                </div>
              </div>
            </div>-->
              <div class="bg-white align-self-center col-12 mt-0 ms-0 me-0 pt-5">
          <div class="table-responsive me-2 ps-3 pe-3">
            <table class="table table-success">
              <thead class="text-primary table-primary">
                <tr class="table-light text-center text-primary">
                  <th scope="col" class="align-baseline text-primary table-white">{{'supportingDocuments.type'|translate}}</th>
                  <th scope="col" class="text-center bg-light">{{'supportingDocuments.receptionDate'|translate}}</th>
                  <th scope="col" class="text-center bg-white">{{'generalKeywords.expirationDate'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doc of selectedStakeholderComprovativos">
                  <td class="text-primary text-center">{{doc.documentType}}</td>
                  <td class="text-primary text-center">{{doc.receivedAt}}</td>
                  <td class="text-primary text-center">{{doc.validUntil}}</td>
                  <td>
                    <span>
                      <img src="assets/images/search_blue.svg" (click)="b64toBlob(doc.uniqueReference, 'application/pdf', 512)" style="height: 25px !important; vertical-align: sub; cursor: pointer;" />
                    </span>
                  </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="col ms-0 ps-0">
          <hr>
          <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
            <span class="navbar-text me-2 align-self-center ms-0 me-0">
              <button id="btn5a1" [routerLink]="['/']" class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3" wappler-command="editContent">{{'generalKeywords.exit'|translate|uppercase}}&nbsp;<img src="assets/images/exit_to_app.svg" style="height: 25px !important; vertical-align: sub;"></button>
              <button id="btn5a4" [routerLink]="['/stakeholders']" class="btn botao_azul center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-2 pt-3 pb-3 ps-3" wappler-command="editContent"><img src="assets/images/arrow_back_ios_white.svg" style="height: 25px !important; vertical-align: sub;">{{'generalKeywords.back'|translate|uppercase}}&nbsp;</button>
              <button id="btn5a2" [routerLink]="['/store-comp']" type="submit" class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3" wappler-command="editContent">{{'generalKeywords.next'|translate|uppercase}}&nbsp;<img src="assets/images/arrow_forward_ios.svg" style="height: 25px !important; vertical-align: sub;"></button>
            </span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</form>
