<div class="container-fluid menu-top">
  <div class="row">
    <div class="offset-1 col-10 ps-0 pe-0 bg-white">
      <nav class="navbar navbar-expand-lg bg-primary mt-0 me-0 pt-0 pb-0">
        <span class="navbar-text text-light">
          <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
        </span>
        <span class="navbar-text">
          <h5 class="align-self-center subtitulo_barras_horizontais mt-0 mb-0 pt-0 pb-0">PERFORMANCE
            DIÁRIA:
            08/08/2022</h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 col-10 mt-3 ps-1 pe-1 ">
      <div class="row">
        <button type="button" class="col mt-2 mb-2 ms-3 me-2 ps-0 pe-0 fundo_dash align-self-center text-center"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
          <h1
            class="text-center text-uppercase text-white numero-dash mt-0 mb-0 pt-4 pb-3 ps-3 pe-3 shadow bg-secondary">
            <app-number-counter number="1024"></app-number-counter>
          </h1>
          <h1 class="mt-4 mb-0 pt-0 pb-0 ps-3 pe-3">
            <span class="material-symbols-outlined icon-dash ">
              <img src="assets/images/move_up_dash.svg">
            </span>
          </h1>
          <h1 class="subtitulo_dashboard text-center text-uppercase mt-0 mb-0 ps-3 pe-3">PENDENTES DE
            ENVIO<br><br></h1>
        </button>

        <button type="button" class="col mt-2 mb-2 ms-2 me-2 ps-0 pe-0 fundo_dash align-self-center text-center"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo">
          <h1
            class="text-center text-uppercase text-white numero-dash mt-0 mb-0 pt-4 pb-3 ps-3 pe-3 shadow bg-secondary">
            <app-number-counter number="84456"></app-number-counter>
          </h1>
          <h1 class="mt-4 mb-0 pt-0 pb-0 ps-3 pe-3">
            <span class="material-symbols-outlined icon-dash">
              <img src="assets/images/assignment_returned_dash.svg">
            </span>
          </h1>
          <h1 class="subtitulo_dashboard  text-center text-uppercase mt-0 mb-0 ps-3 pe-3">&nbsp;TRATAMENTO
            BACKOFFICE<br><br></h1>
        </button>

        <button type="button" class="col mt-2 mb-2 ms-2 me-2 ps-0 pe-0 fundo_dash align-self-center text-center"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseThree">
          <h1
            class="text-center text-uppercase text-white numero-dash mt-0 mb-0 pt-4 pb-3 ps-3 pe-3 shadow bg-secondary">
            <app-number-counter number="77226"></app-number-counter>
          </h1>
          <h1 class="mt-4 mb-0 pt-0 pb-0 ps-3 pe-3">
            <span class="material-symbols-outlined icon-dash">
              <img src="assets/images/assignment_return_dash.svg">
            </span>
          </h1>
          <h1 class="subtitulo_dashboard  text-center text-uppercase mt-0 mb-0 ps-3 pe-3">DEVOLVIDOS
            BACKOFFICE<br><br></h1>
        </button>

        <button type="button" class="col mt-2 mb-2 ms-2 me-2 ps-0 pe-0 fundo_dash align-self-center text-center"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseFour">
          <h1
            class="text-center text-uppercase text-white numero-dash mt-0 mb-0 pt-4 pb-3 ps-3 pe-3 shadow bg-secondary">
            <app-number-counter number="57475"></app-number-counter>
          </h1>
          <h1 class="mt-4 mb-0 pt-0 pb-0 ps-3 pe-3">
            <span class="material-symbols-outlined icon-dash">
              <img src="assets/images/assignment_turned_in_dash.svg">
            </span>
          </h1>
          <h1 class="subtitulo_dashboard  text-center text-uppercase mt-0 mb-0 ps-3 pe-3">EM FASE DE
            ACEITAÇÃO<br><br></h1>
        </button>

        <button type="button" class="col mt-2 mb-2 ms-2 me-3 ps-0 pe-0 fundo_dash align-self-center text-center"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseFive">
          <h1
            class="text-center text-uppercase text-white numero-dash mt-0 mb-0 pt-4 pb-3 ps-3 pe-3 shadow bg-secondary">
            <app-number-counter number="68586"></app-number-counter>
          </h1>
          <h1 class="mt-4 mb-0 pt-0 pb-0 ps-3 pe-3">
            <span class="material-symbols-outlined icon-dash">
              <img src="assets/images/inventory_2_dash.svg">
            </span>
          </h1>
          <h1 class="subtitulo_dashboard  text-center text-uppercase mt-0 mb-0 ps-3 pe-3">PENDENTES DE ENVIO
            PARA <br> ARQUIVO FÍSICO<br></h1>
        </button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset-1 col-10 mt-5 ps-0 pe-0 bg-white">
          <nav class="navbar navbar-expand-lg bg-primary mt-0 me-0 pt-0 pb-0">
            <span class="navbar-text text-light">
              <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70">
            </span>
            <span class="navbar-text">
              <h5 class="align-self-center subtitulo_barras_horizontais mt-0 mb-0 pt-0 pb-0">FILAS DE
                TRABALHO</h5>
            </span>
          </nav>
        </div>
        <div class="offset-1 col-10 mb-3 mt-4 ps-0 pe-0 ">
          <div class="accordion1 accordion-flush" id="accordionFlushExample">
            <div class="accordion1-item">
              <h2 class="accordion1-header" id="flush-headingOne">
                <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <span class="material-symbols-outlined icon-accordion ">
                    <img src="assets/images/move_up.svg">
                  </span>&nbsp;&nbsp;PROCESSOS PENDENTES DE ENVIO
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <mat-table [dataSource]="dataSourcePendentes" matSort #empTbSort="matSort">
                  <!-- Nº Pedido Column -->
                  <ng-container matColumnDef="processNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Pedido </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.processNumber}} </mat-cell>
                  </ng-container>
                  <!-- Nº Contrato Column -->
                  <ng-container matColumnDef="contractNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nº Contrato
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> - </mat-cell>
                  </ng-container>
                  <!-- Data Pedido Column -->
                  <ng-container matColumnDef="requestDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data Pedido
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
                  </ng-container>
                  <!-- Nome Cliente Empresa Column -->
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nome Cliente Empresa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{row.startedBy === undefined ? "-" : row.startedBy.user}}
                    </mat-cell>
                  </ng-container>
                  <!-- Editar Processo Column -->
                  <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                      &nbsp;&nbsp;&nbsp;Editar Processo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span class="material-symbols-rounded delete-icon img">
                          &nbsp;&nbsp;<img src="assets/images/delete.svg" title="Delete">
                        </span>
                      </a>
                      <a [routerLink]="['/app-devolucao/', row.processId]">
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/edit_square.svg" title="Edit">
                        </span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                </mat-table>
                <div class="container-fluid ms-3 me-3 pt-0 pb-0 ps-0 pe-0">
                  <div class="row ms-0 me-0 ps-0 pe-0">
                    <div class="me-0 ps-0 pe-0 col-12">
                      <nav class="navbar navbar-light bg-light">
                        <span class="navbar-text ms-0 me-0">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Efetuar pesquisa">
                          </mat-form-field>
                        </span>
                        <span class="navbar-text ms-auto me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <mat-paginator #paginatorPage [length]="10" [pageSizeOptions]="[10, 25, 100]">
                          </mat-paginator>
                        </span>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion1-item">
              <h2 class="accordion1-header" id="flush-headingTwo">
                <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <span class="material-symbols-outlined icon-accordion ">
                    <img src="assets/images/assignment_returned.svg">
                  </span>&nbsp;&nbsp;TRATAMENTO BACKOFFICE
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <!--dataSourceWithObjectColumn-->
                <mat-table [dataSource]="dataSourceTratamento" matSort #empTbSortWithObject="matSort">
                  <!-- Nº Pedido Column -->
                  <ng-container matColumnDef="processNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Pedido </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.processNumber}} </mat-cell>
                  </ng-container>
                  <!-- Nº Contrato Column -->
                  <ng-container matColumnDef="contractNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nº Contrato
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> - </mat-cell>
                  </ng-container>
                  <!-- Data Pedido Column -->
                  <ng-container matColumnDef="requestDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data Pedido
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
                  </ng-container>
                  <!-- Nome Cliente Empresa Column -->
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nome Cliente Empresa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{row.startedBy === undefined ? "-" : row.startedBy.user}}
                    </mat-cell>
                  </ng-container>
                  <!-- Editar Processo Column -->
                  <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                      &nbsp;&nbsp;&nbsp;Consultar Processo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <a href="#">
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/search.svg">
                        </span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                </mat-table>
                <div class="container-fluid ms-3 me-3 pt-0 pb-0 ps-0 pe-0">
                  <div class="row ms-0 me-0 ps-0 pe-0">
                    <div class="me-0 ps-0 pe-0 col-12">
                      <nav class="navbar navbar-light bg-light">
                        <span class="navbar-text ms-0 me-0">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Efetuar pesquisa">
                          </mat-form-field>
                        </span>
                        <span class="navbar-text ms-auto me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <mat-paginator #paginatorPageSize [length]="10" [pageSizeOptions]="[10, 25, 100]">
                          </mat-paginator>
                        </span>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion1-item">
              <h2 class="accordion1-header" id="flush-headingThree">
                <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <span class="material-symbols-outlined icon-accordion ">
                    <img src="assets/images/assignment_return.svg">
                  </span>&nbsp;&nbsp;DEVOLVIDOS BACKOFFICE
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <mat-table [dataSource]="dataSourceDevolvidos" matSort #empTbSortDevolvidos="matSort">
                  <!-- Nº Pedido Column -->
                  <ng-container matColumnDef="processNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Pedido </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.processNumber}} </mat-cell>
                  </ng-container>
                  <!-- Nº Contrato Column -->
                  <ng-container matColumnDef="contractNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nº Contrato
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> - </mat-cell>
                  </ng-container>
                  <!-- Data Pedido Column -->
                  <ng-container matColumnDef="requestDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data Pedido
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
                  </ng-container>
                  <!-- Nome Cliente Empresa Column -->
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nome Cliente Empresa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{row.startedBy === undefined ? "-" : row.startedBy.user}}
                    </mat-cell>
                  </ng-container>
                  <!-- Editar Processo Column -->
                  <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                      &nbsp;&nbsp;&nbsp;Editar Processo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span class="material-symbols-rounded delete-icon">
                          &nbsp;&nbsp;<img src="assets/images/delete.svg">
                        </span>
                      </a>
                      <a [routerLink]="['/app-devolucao/', row.processId]" (click)="streamHistoryMenu()">
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/edit_square.svg">
                        </span>
                      </a>
                      <a>
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/search.svg">
                        </span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                </mat-table>
                <div class="container-fluid ms-3 me-3 pt-0 pb-0 ps-0 pe-0">
                  <div class="row ms-0 me-0 ps-0 pe-0">
                    <div class="me-0 ps-0 pe-0 col-12">
                      <nav class="navbar navbar-light bg-light">
                        <span class="navbar-text ms-0 me-0">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilterDevolvidos($event.target.value)"
                              placeholder="Efetuar pesquisa">
                          </mat-form-field>
                        </span>
                        <span class="navbar-text ms-auto me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <mat-paginator #paginatorPageDevolvidos [length]="10" [pageSizeOptions]="[10, 25, 100]">
                          </mat-paginator>
                        </span>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion1-item">
              <h2 class="accordion1-header" id="flush-headingFour">
                <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  <span class="material-symbols-outlined icon-accordion ">
                    <img src="assets/images/assignment_turned_in.svg">
                  </span>&nbsp;&nbsp;FASE DE ACEITAÇÃO
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <mat-table [dataSource]="dataSourceAceitacao" matSort #empTbSortAceitacao="matSort">
                  <!-- Nº Pedido Column -->
                  <ng-container matColumnDef="processNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Pedido </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.processNumber}} </mat-cell>
                  </ng-container>
                  <!-- Nº Contrato Column -->
                  <ng-container matColumnDef="contractNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nº Contrato
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> - </mat-cell>
                  </ng-container>
                  <!-- Data Pedido Column -->
                  <ng-container matColumnDef="requestDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data Pedido
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
                  </ng-container>
                  <!-- Nome Cliente Empresa Column -->
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nome Cliente Empresa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{row.startedBy === undefined ? "-" : row.startedBy.user}}
                    </mat-cell>
                  </ng-container>
                  <!-- Editar Processo Column -->
                  <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                      &nbsp;&nbsp;&nbsp;Editar Processo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span class="material-symbols-rounded delete-icon">
                          &nbsp;&nbsp;<img src="assets/images/delete.svg">
                        </span>
                      </a>
                      <a [routerLink]="['/app-aceitacao/', row.processId]">
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/edit_square.svg">
                        </span>
                      </a>
                      <a>
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/search.svg">
                        </span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                </mat-table>
                <div class="container-fluid ms-3 me-3 pt-0 pb-0 ps-0 pe-0">
                  <div class="row ms-0 me-0 ps-0 pe-0">
                    <div class="me-0 ps-0 pe-0 col-12">
                      <nav class="navbar navbar-light bg-light">
                        <span class="navbar-text ms-0 me-0">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilterAceitacao($event.target.value)"
                              placeholder="Efetuar pesquisa">
                          </mat-form-field>
                        </span>
                        <span class="navbar-text ms-auto me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <mat-paginator #paginatorPageAceitacao [length]="10" [pageSizeOptions]="[10, 25, 100]">
                          </mat-paginator>
                        </span>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion1-item">
              <h2 class="accordion1-header" id="flush-headingFive">
                <button class="accordion1-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  <span class="material-symbols-outlined icon-accordion ">
                    <img src="assets/images/inventory_2.svg">
                  </span>&nbsp;&nbsp;PENDENTES DE ENVIO PARA ARQUIVO FÍSICO
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample">
                <mat-table [dataSource]="dataSourceArquivoFisico" matSort #empTbSortArquivoFisico="matSort">
                  <!-- Nº Pedido Column -->
                  <ng-container matColumnDef="processNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Pedido </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.processNumber}} </mat-cell>
                  </ng-container>
                  <!-- Nº Contrato Column -->
                  <ng-container matColumnDef="contractNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nº Contrato
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> - </mat-cell>
                  </ng-container>
                  <!-- Data Pedido Column -->
                  <ng-container matColumnDef="requestDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data Pedido
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
                  </ng-container>
                  <!-- Nome Cliente Empresa Column -->
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nome Cliente Empresa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{row.startedBy === undefined ? "-" : row.startedBy.user}}
                    </mat-cell>
                  </ng-container>
                  <!-- Editar Processo Column -->
                  <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                      &nbsp;&nbsp;&nbsp;Consultar Processo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <span class="material-symbols-rounded edit-icon">
                          <img src="assets/images/search.svg">
                        </span>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                </mat-table>
                <div class="container-fluid ms-3 me-3 pt-0 pb-0 ps-0 pe-0">
                  <div class="row ms-0 me-0 ps-0 pe-0">
                    <div class="me-0 ps-0 pe-0 col-12">
                      <nav class="navbar navbar-light bg-light">
                        <span class="navbar-text ms-0 me-0">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilterArquivoFisico($event.target.value)"
                              placeholder="Efetuar pesquisa">
                          </mat-form-field>
                        </span>
                        <span class="navbar-text ms-auto me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <h1 class="mt-0 mb-0 ms-3 me-0"></h1>
                        </span>
                        <span class="navbar-text ms-0 me-0">
                          <mat-paginator #paginatorPageArquivoFisico [length]="10" [pageSizeOptions]="[10, 25, 100]">
                          </mat-paginator>
                        </span>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-1 col-10 ps-0 pe-0">
          <nav class="navbar navbar-expand-lg navbar-light mt-0 pt-0 pb-0"><span class="navbar-text text-light">
            </span>
          </nav>
        </div>
        <!-- Botões final da página -->
        <div class="offset-1 col-10 ps-0 pe-0 bg-white">
          <div class="container mb-3 ms-0 me-0 pt-3 pb-3 ps-0 pe-0">
            <div class="row ms-0 me-0 ps-0 pe-0">
              <div class="offset-1 me-0 ps-0 pe-0 col-10">
                <nav class="navbar navbar-light bg-light">
                  <span class="navbar-text ms-auto me-1">
                    <a [routerLink]="['/client']" id="anchor">
                      <button id="btn1"
                        class="btn bg-primary text-white botao_esquerda img-button mt-0 ms-0 me-0 pt-4 pb-4 ps-4 pe-4"
                        wappler-command="editContent"><img src="assets/images/folder-open-solid.svg">&nbsp; ABERTURA
                        DE
                        PROCESSO</button></a></span>
                  <span class="navbar-text ms-1 me-auto">
                    <button id="btn3" class="btn img-button botao_direita ms-0 me-0 pt-4 pb-4 ps-4 pe-4"
                      wappler-command="editContent">CONSULTA DE PROCESSO&nbsp;&nbsp;<img
                        src="assets/images/search-solid.svg"></button>

                  </span>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
