

<h1 id="tableLabel">Intervenientes</h1>

<p>All the stakeholders in the contract.</p>


<!-- Aqui aparecem infos do child // os novos stakeholders -->


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stakes">
  <thead>
    <tr>
      <th>Tipo de Interveniente</th>
      <th>NIF</th>
      <th>Nome do Cliente</th>
      <th>Número do Cliente</th>
      <th>Recolha Eletrónica</th>
      <th>Tipo de Documento</th>
      <th>País do Documento</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let stake of stakes">
      <th>{{stake.stakeholderType}}</th>
      <th>{{stake.nif}}</th>
      <th>{{stake.clientName}}</th>
      <th>{{stake.clientNr}}</th>
      <th>{{stake.electronicCollectFlag}}</th>
      <th>{{stake.documentType}}</th>
      <th>{{stake.documentCountry}}</th>
      <th>
        <button class="btn btn-info" (click)="toggleShow(stake)">
          <span class="glyphicon glyphicon-pencil"></span>More Info
        </button>

        <button class="btn btn-primary" (click) ="onClickEdit(stake.nif)">
          <span class="glyphicon glyphicon-pencil"></span>Edit
        </button>

        <button class="btn btn-danger">
          <span class="glyphicon glyphicon-trash"></span>Remove
        </button>
      </th>

    </tr>
  </tbody>
</table>

<button (click)="onClickNew()" routerLink="/add-stakeholder">Add new stakeholder</button>


<div *ngIf="isShown" class="row container-fluid" id="divshow">
  Div Content

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stakeShow">

    <thead>
      <tr>
        <th>Associado ao Contrato</th>
        <th>Procurador</th>
        <th>Recolha Eletronica</th>
        <th>Tipo de Docuemnto </th>
        <th>País do Documento de ID </th>
        <th>
          Nº Documento de Identificação (1ª Nacionalidade):*
        </th>
        <th>
          País de Documento de Identificação (1ª Nacionalidade):*
        </th>
        <th>
          Data de Validade Doc. de Identificação (1ª Nacionalidade):
        </th>
        <th>paisNIFEstrangeiro </th>
        <th>indicadorNIFPaisEstrangeiro </th>
        <th> nifEstrangeiro</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table table-striped" *ngFor="let stake of stakeShow">

        <th>{{stake.flagAssociado}}</th>
        <th>{{stake.flagProcurador}}</th>
        <th>{{stake.flagRecolhaEletronica}}</th>
        <th>{{stake.tipoDocumento}}</th>
        <th>{{stake.paisDocumentoID}}</th>
        <th>{{stake.nrDocumentoID}}</th>
        <th>{{stake.primeiranacionalidade}}</th>
        <th>{{stake.dtValidadeID}}</th>
        <th>{{stake.paisNIFEstrangeiro}}</th>
        <th>{{stake.indicadorNIFPaisEstrangeiro}}</th>
        <th>{{stake.nifEstrangeiro}}</th>
      </tr>
    </tbody>
  </table>
</div>
