<app-nav-menu-interna></app-nav-menu-interna>
<div class="container-fluid conteudo mt-0 ms-0 me-0 pt-0 ps-0 pe-0">
  <div class="row">
    <div class="offset-1 col-10 bg-primary mt-5 pt-0 ps-0 pe-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary mt-0 pt-0 pb-0">
        <span class="navbar-text text-light">
          <img src="assets/images/monograma_2.svg" class="img-fluid ms-0" width="70" />
        </span>
        <span class="navbar-text">
          <h5 class="subtitulo_barras_horizontais align-self-center text-success mt-0 mb-0 pt-0 pb-0">
            INTERVENIENTES
          </h5>
        </span>
      </nav>
    </div>
    <div class="offset-1 bg-white align-self-center col-10 mt-0 pt-2 ps-0">
      <div class="bg-white align-self-center col-12 mt-0 ms-0 me-0 pt-5">
        <div class="table-responsive me-2 ps-3 pe-3">
          <table class="table table-success">
            <thead class="text-primary table-primary">
              <tr class="text-center text-primary table-light">
                <th scope="col" class="align-baseline text-primary table-white">Associado ao Contrato</th>
                <th scope="col" class="text-center bg-light">Nº Cliente</th>
                <th scope="col" class="text-center bg-white">Nome Cliente</th>
                <th scope="col" class="text-center bg-white">NIF</th>
                <th scope="col" class="text-center bg-white">Elegível</th>
                <th scope="col" class="bg-white"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stakeholder of submissionStakeholders">
                <th scope="row" class="text-primary text-center">Associado?</th>
                <!--<td class="text-primary text-center">{{stakeholder.id}}</td>-->
                <td class="text-primary text-center">{{stakeholder.id}}</td>
                <td class="text-primary text-center">{{stakeholder.shortName}}</td>
                <td class="text-primary text-center">{{stakeholder.fiscalId}}</td>
                <td class="text-primary text-center">Elegivel?</td>
                <td>
                  <span>
                    <img src="assets/images/delete_blue.svg" (click)="deleteStakeholder(stakeholder)" style="height: 25px !important; vertical-align: sub; cursor: pointer;">
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="align-self-center col-12 mt-4 ms-0 me-0 ps-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start align-items-center mb-4">
          <!--<span *ngIf="currentStakeholder !== undefined && currentStakeholder !== null" class="navbar-text me-xxl-2 align-self-center ms-0 me-0">
            <button id="btn5a2" class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3" wappler-command="editContent" style="margin: 8px 0px !important;" (click)="deleteStakeholder()">
              REMOVER
              INTERVENIENTE&nbsp;&nbsp;
              <img src="assets/images/person_search.svg" class="img_btn">
            </button>
          </span>-->
          <span class="navbar-text me-2">
            <button id="btn5a2" (click)="redirectAddStakeholder()"
                    class="btn botao_branco center-align text-start vertical-align baseline; btn-lg mt-3 mb-0 ms-0 me-2 pt-3 pb-3 ps-3 pe-3" wappler-command="editContent">
              ADICIONAR INTERVENIENTE&nbsp;
              <img src="assets/images/person_add_blue.svg" class="img_btn">
            </button>
          </span>
          <span class="navbar-text me-2">
            <button id="btn5a3" class="btn botao_azul center-align center-align text-start vertical-align: baseline; btn-lg mt-3 mb-0 ms-2 me-0 pt-3 pb-3 ps-3" wappler-command="editContent"
                    (click)="redirectInfoStakeholder()">
              SEGUINTE&nbsp;<span class="material-symbols-rounded m-align">

                <img src="assets/images/angle-right-solid.svg" style="height: 25px !important;">

              </span>
            </button>
          </span>

        </nav>
      </div>


