<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <table class='table table-striped' aria-labelledby="tableLabel" id="readCCTableContent" #readCCTableContent>
    <thead>
      <tr>
        <th>Name</th>
        <th>Nr Doc</th>
        <th>Nif</th>
        <th>Nacionalidade</th>
        <th>Morada</th>
        <th>Codigo Postal</th>
        <th>Freguesia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of ccArrayData">
        <td>{{ row }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="transfPDF()"> generate pdf </button>
</body>
</html>
