<h1>Submissões</h1>
<p>Lista de submissões de um processo.</p>
<div *ngIf="isTable">
  <div *ngFor="let megaitem of listContents">
    <div *ngFor=" let item of megaitem">
      <div><strong> Número de Processo: {{ item.processNumber }}</strong></div>
      <div> ID de submissão: {{ item.submissionId }}</div>
      <div>Tipo de submissão: {{ item.submissionType }}</div>
      <div>Estado do Processo: {{ item.state }}</div>
      <div>Género de processo: {{ item.processKind }}</div>
      <div>Tipo de processo: {{ item.processType }}</div>
      <div> Comerciante - ID Fiscal: {{ item.merchant.fiscalId }}</div>
      <div> Comerciante - Nome: {{ item.merchant.name }}</div>
      <br><br>
    </div>
  </div>
</div>