<!doctype html>
<html>

<head class="navbar-dark bg-dark mb-3 fixed-top shadow-sm">
  <script src="dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>sib_x</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>
  <link rel="stylesheet" href="dmxAppConnect/dmxAnimateCSS/animate.min.css" />
  <script src="dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer=""></script>
</head>

<body is="dmx-app" id="index">


  <!--#include file="incluso/barra_navega.html" -->
  <main class="style6">

    <div class="container mb-0">
      <div class="row">
        <div class="col mt-5 mb-3 pt-4">
          <img src="assets/images/caixa.jpg" class="img-fluid">
          <div is="dmx-animate" id="animate1" showEffect="fadeIn" dmx-animate-enter.duration:5.delay:1="fadeIn">

          </div>

        </div>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col mb-3 ms-0 me-0">
          <div class="d-block bg-primary">
            <div class="progress">
              <div class="progress-bar bg-primary mb-0" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset-1 col-10">
          <h1 class="text-primary text-uppercase fw-bold mt-2 mb-0">Lorem ipsum</h1>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus mauris, ornare vitae mauris ac, scelerisque facilisis nisl. Mauris egestas tempor ligula, eu facilisis dolor sagittis nec. Phasellus pretium luctus orci, ut semper ligula ultricies id. Ut semper consectetur ex, quis ultrices velit tristique a. Vivamus eu sem quis mauris consectetur volutpat. Nam tincidunt sed est sit amet feugiat. Fusce volutpat metus est, eu dictum velit sagittis id. Morbi pharetra hendrerit leo, quis venenatis elit suscipit ut. Mauris placerat euismod vehicula. Vivamus sed ullamcorper mi. Morbi sodales feugiat commodo. Integer nec facilisis magna. Sed efficitur commodo nulla eget sagittis. Donec quam nunc, faucibus at erat sed, euismod semper nisl./p>
        </div>
      </div>
    </div>
    <div class="container bg-white">
      <div class="table-responsive style1">
        <table class="table">
          <thead class="style2">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="row mb-3">


        <div class="offset-1 col-10">
          <h3 class="text-primary text-uppercase mt-3 mb-0 fw-bold">CHECKLIST</h3>
          <p class="mb-3 style8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus mauris, ornare vitae mauris ac, scelerisque facilisis nisl. Mauris egestas tempor ligula, eu facilisis dolor sagittis nec. Phasellus pretium luctus orci, ut semper ligula ultricies id. Ut semper consectetur ex, quis ultrices velit tristique a. Vivamus eu sem quis mauris consectetur volutpat.&nbsp;</p>

        </div>

        <div class="offset-1 col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input1" name="input1">
            <label class="form-check-label style9" for="input1">Alectus</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input2" name="input2">
            <label class="form-check-label style14" for="input2">Vivamus</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input3" name="input3">
            <label class="form-check-label style20" for="input3">Consectetur&nbsp;</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input4" name="input4">
            <label class="form-check-label style21" for="input4">adipiscing</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input7" name="input7">
            <label class="form-check-label style22" for="input7">Madipiscing</label>
          </div>
        </div>
        <div class="offset-1 col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input6" name="input6">
            <label class="form-check-label style10" for="input6">Dilectus</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input5" name="input5">
            <label class="form-check-label style13" for="input5">Ligula</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input8" name="input8">
            <label class="form-check-label" for="input8">Sagittis</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input9" name="input9">
            <label class="form-check-label style18" for="input9">Semper</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input10" name="input10">
            <label class="form-check-label style19" for="input10">Ornaredex</label>
          </div>
        </div>



        <div class="offset-1 col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input11" name="input11">
            <label class="form-check-label style11" for="input11">Adipiscing</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input12" name="input12">
            <label class="form-check-label style12" for="input12">Volutpat</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input13" name="input13">
            <label class="form-check-label style15" for="input13">Phasellus</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input14" name="input14">
            <label class="form-check-label style16" for="input14">Madipiscing</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="input15" name="input15">
            <label class="form-check-label style17" for="input15">Consectetur</label>
          </div>
        </div>
        <div class="offset-1 mt-5 col-10 text-start">
          <button id="btn1" class="btn btn-primary style3 text-start">Button</button>
        </div>
        <div class="offset-1 col-10">
          <p class="mt-3 mb-3 style7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus mauris, ornare vitae mauris ac, scelerisque facilisis nisl. Mauris egestas tempor ligula, eu facilisis dolor sagittis nec. Phasellus pretium luctus orci, ut semper ligula ultricies id. Ut semper consectetur ex, quis ultrices velit tristique a. Vivamus eu sem quis mauris consectetur volutpat.&nbsp;</p>

        </div>
      </div>

    </div>

    <div class="container bg-white">
      <div class="table-responsive style1">
        <table class="table">
          <thead class="style2">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container"></div>
    <div></div>
  </main>
  <!--#include file="incluso/barra_footer" -->

  <script src="bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>
